<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Honorary Edition</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/ListOfDonations.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/NewsDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
</head>

<body>
    <div class="web">
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>
        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">Honor List</span>
        </div>
        <div class="section">
            <div class="container ContributionContainer">
                <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title">
                        <li class="layui-this" onclick="set(1)">Integral</li>
                        <li onclick="set(2)">Donate</li>
                        <li onclick="set(3)">Expenditure</li>
                    </ul>
                    <div class="layui-tab-content ListContainer">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-table" id="LayuiTableBorder" lay-skin="line">
                                <tbody id="content">
        
        
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="layui-tab-item">
                            <div class="layui-tab-item layui-show">
                                <table class="layui-table" id="LayuiTableBorder" lay-skin="line">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_01.png">
                                                &nbsp;&nbsp;1st
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                &nbsp;&nbsp;Kendall J
                                            </td>
                                            <td class="text-right">800 integral</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_04.png">
                                                &nbsp;&nbsp;8st
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                &nbsp;&nbsp;Kendall J
                                            </td>
                                            <td class="text-right">800 integral</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->
                        <!--<div class="layui-tab-item">
                            <table class="layui-table" id="LayuiTableBorder" lay-skin="line">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                            <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_01.png">
                                            &nbsp;&nbsp;1st
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            &nbsp;&nbsp;Kendall J
                                        </td>
                                        <td class="text-right">$ 1000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                            <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_02.png">
                                            &nbsp;&nbsp;2st
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            &nbsp;&nbsp;Kendall J
                                        </td>
                                        <td class="text-right">$ 1000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                            <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_03.png">
                                            &nbsp;&nbsp;3st
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            &nbsp;&nbsp;Kendall J
                                        </td>
                                        <td class="text-right">$ 1000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                            <img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_04.png">
                                            &nbsp;&nbsp;8st
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            &nbsp;&nbsp;Kendall J
                                        </td>
                                        <td class="text-right">$ 1000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="container NumberOfPagesContainer">
                <div id="NumberOfPages"></div>
            </div>
        </div>
        <!-- footer -->
        <footer class="footer">
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>

    </div>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <!--<script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>-->
</body>

<script>

    set(1)
    function set(type) {
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage,
                layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'NumberOfPages',
                count: {$usercount},
                prev:"Previous",
                next:"Next",
                layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],

                jump: function(obj) {
                    //console.log(obj)
                    setintegral(type,obj.curr,obj.limit)

                }
            });

        });
    }

    function  setintegral(type,limit1,limit2) {

        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_honorlist')}",
            data:{
                type:type,
                limit1:limit1,
                limit2:limit2,

            },
            dataType:"json",
            success: function(data){
                if (data!=null&&data!="") {
                    if (data.str == 1) {
                        var message = '';
                        for (var i = 0; i < data.msg.length; i++) {
                            message +='<tr><td><span>';
                            if(limit1==1){
                                if (i == 0){
                                    message += '<img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_01.png">';
                                }else if(i == 1){
                                    message += '<img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_02.png">';
                                }else if (i == 2){
                                    message += '<img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_03.png">';
                                }else{
                                    message += '<img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_04.png">';
                                }
                            }else{
                                message += '<img src="__PUBLIC__/Web/web/img/01_shouye/home_sy_hl_icon_04.png">';
                            }

                            message +='&nbsp;&nbsp;'+((limit1-1)*limit2+i+1)+'st';
                            message +='</span></td>';
                            message +='<td class="text-center">&nbsp;&nbsp;'+data.msg[i].user_name+'</td>';
                            message +='<td class="text-right">'
                            if (type == 1){
                                message += data.msg[i].user_havecoin+' integral</td>';
                            }else if (type == 2){
                                message += data.msg[i].user_outcoin+' integral</td>';
                            }else if (type == 3){
                                message += data.msg[i].user_outmoney+' $</td>';
                            }
                            message +='</tr>';
                        }

                        $('#content').html(message);

                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })

    }


</script>

</html>