<head>
		<meta charset="utf-8" />
		<title>子昊钢琴后台管理系统</title>
		<meta name="keywords" content="子昊钢琴后台管理系统" />
		<meta name="description" content="子昊钢琴后台管理系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />
		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
			<!--[if !IE]> -->

		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>
		
		<!-- <![endif]-->
		<!-- ace settings handler -->

		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style='background:#fff;'>
	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">{:L('newworld_home')}</a>
							</li>
							<li class="active">{:L('newworld_console')}</li>
						</ul><!-- .breadcrumb -->
					</div>

				
				</div><!-- /.main-content -->
	
	
<div class="page-content">
	<div class="page-header">
		<h1>
			教学管理
			<small> <i class="icon-double-angle-right"></i>
				老师课程列表
			</small>
			 
		</h1>
		
	<!-- 	 <form class="daoru" action="{:U('Daili/Index/upload_execl')}" method="POST" enctype="multipart/form-data" style="margin-top:20px;">
         <input type='file' name='execl' style=" width:150px; height:30px; display:inline-block; margin-right:30px;"/>
		 <span style='width:85px; height:30px; background:#2679b5; color:#fff; margin-right:10px; display:inline-block; line-height:30px;text-align:center; borde-radius:4px;' id='daoru'>导入数据</span>
		</form> 	 -->	
	</div>
	<div class="row">
		<div class="col-xs-12">
			 <div class="row" style="padding-bottom: 10px;">
							<div class="col-sm-12">
								<div id="sample-table-2_filter">
									<form class="form-horizontal" action="{:U('Admin/User/course_teacher_sou')}" method="POST" role="form" enctype="multipart/form-data">
									<div class="btn-group" style='margin-top:5px;'>
										<span>老师姓名:</span>
										<input type="text" name="name" value="<?php if($name){echo $name;}?>">
									</div>
									<input type='hidden' name='button' value='1'/>
									
									<div class="btn-group" style='margin-top:5px;'>
										<span>账号:</span>
										<input type="text" name="username" value="<?php if($username){echo $username;}?>">
									</div>




								<!-- 	<div class="btn-group" style="margin-right:10px;margin-top:5px;">											
											<div class="input-group">
											<span>日期：</span>
												<input class="form-control date-picker" value="<?php if($stime){echo $stime;}?>" name="stime" id="id-date-picker-1" style="width: 35%" type="text" data-date-format="yyyy-mm-dd" />
												-
												<input class="form-control date-picker" value="<?php if($etime){echo $etime;}?>" name="etime" id="id-date-picker-1" style="width: 35%" type="text" data-date-format="yyyy-mm-dd" /> 
											</div>

									</div> -->
									

									<div class="btn-group" style='margin-top:5px;' >
											<span class="input-group-btn">
												<button type="submit" style="padding:0" class="btn btn-purple btn-sm">
														搜索<i class="icon-search icon-on-right bigger-110"></i>
												</button>

											</span>		
									</div>
									<!-- <div class="btn-group" style='margin-top:5px;' >
											<a href="index.php?m=Admin&c=User&a=" class="btn btn-xs btn-success">导出文件</a>
									</div> -->
												<!-- 省市级联动 -->
			<!--  <script type="text/javascript" src="__PUBLIC__/Admin/admin/js/region_select.js"></script>
										<div class="btn-group" style='margin-right:12px;margin-top:5px;'>
											<span style='margin-left:12px;'>所属区域：</span>
																	
								            <span style='margin-right:12px;'>省级 </span> <select name="location_p" id="location_p" class="tongselect"></select>
								           <span style='margin-left:12px;margin-right:12px;'>市级</span><select name="location_c" id="location_c" class="tongselect"></select>
								            <span style='margin-left:12px;margin-right:12px;'>区级</span>     <select name="location_a" id="location_a" class="tongselect" ></select> 
								                <script src="js/region_select.js"></script>
								                <script type="text/javascript">
								                    new PCAS('location_p', 'location_c', 'location_a', '<?php if($p){echo $p;}?>', '<?php if($c){echo $c;}?>', '<?php if($a){echo $a;}?>');
								                </script>
        
										</div> -->
	
								
									</form>
								
								</div>
							</div>
						</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;font-size:13px;">
							<thead>
								<tr style=' font-size: 13px;'>
								    <!-- <th><input type='checkbox' name='' value=''></th> -->
									<th>ID</th>
									<th>老师姓名</th>
									<th>账号</th>
									<th>电话</th>	
									<th>主课节数</th>	
									<th>陪练课节数</th>
									<th>集体课节数</th>
									<th>其他课节数</th>
									<th>总节数</th>
									<th>操作</th>
			
								</tr>
							</thead>

							<tbody>
							<?php foreach($list as $k=>$v){?>
								<tr>
								   <!--  <td><input type='checkbox' name='' value=''></td> -->
									<td><?php echo $v['t_userid'];?></td>
									<td><?php echo $v['t_truename'];?></td>
									<td><?php echo $v['username'];?></td>
									<td><?php echo $v['t_mobile'];?></td>
									<td><?php echo $v['num1'];?></td>
									<td><?php echo $v['num2'];?></td>
									<td><?php echo $v['num3'];?></td>
									<td><?php echo $v['num4'];?></td>
									<td><?php echo $v['count'];?></td>
									
									<td>
										<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
											<a href="index.php?m=Admin&c=User&a=course_xiang&id=<?php echo $v['t_userid']?>"
											 class="btn btn-xs btn-success" >查看详情</a>
										
										</div>
									</td>
								</tr>
							<?php }?>	
							</tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap" style="border-top: 1px solid #DDD;padding-top: 12px;padding-bottom: 12px;background-color: #eff3f8;border-bottom: 1px solid #DDD;">
							<div style='margin-right:56px;'>
							  <?php echo $page;?>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /span -->
			</div>
			<!-- /row -->
			<div class="hr hr-18 dotted hr-double"></div>

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
	.btn-xs {
		margin-right: 10px!important;
	}
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<script type="text/javascript">
	function course_status(status){
		//alert(status)
		location.href = "index.php?m=Admin&c=User&a=course_teacher&status="+status
	}
$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
	$(this).prev().focus();
});
</script>




<!-- ajax 提交表单 

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
function showStart(){
    return true;
}
function showSuccess(data){
    	if(data == 1){
    		alert('导入成功')
    		location.href="{:U('Daili/Index/student_list')}"
    	}else{
    		alert(data)
    		return
    	}

}
$(function(){
	var options = {
		        beforeSubmit:showStart,
		        success:showSuccess,

		 };
	$('#daoru').click(function(){	
		//alert('a')
		//return false
		$('.daoru').ajaxSubmit(options);
	})
	
})
</script>-->
