<head>
		<meta charset="utf-8" />
		<title>{:L('newworld_admin')}</title>
		<meta name="keywords" content="{:L('newworld_admin')}" />
		<meta name="description" content="{:L('newworld_admin')}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />
		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
			<!--[if !IE]> -->

		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>
		
		<!-- <![endif]-->
		<!-- ace settings handler -->

		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style='background:#fff;'>
	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->
					</div>

				
				</div><!-- /.main-content -->
	
	
<div class="page-content">
	<div class="page-header">
		<h1>
			老师课程管理
			<small> <i class="icon-double-angle-right"></i>
				老师课程详情
			</small>
			 
		</h1>
		
	<!-- 	 <form class="daoru" action="{:U('Daili/Index/upload_execl')}" method="POST" enctype="multipart/form-data" style="margin-top:20px;">
         <input type='file' name='execl' style=" width:150px; height:30px; display:inline-block; margin-right:30px;"/>
		 <span style='width:85px; height:30px; background:#2679b5; color:#fff; margin-right:10px; display:inline-block; line-height:30px;text-align:center; borde-radius:4px;' id='daoru'>导入数据</span>
		</form> 	 -->	
	</div>


	<div class="ceng01" id="t4" style="margin-top: 20px;">
				<table class=" table">
				<tr align="center">
					<td class="table_title">姓名</td>
					<td class="table_content"><?php echo $data['t_truename'];?></td>
					<td class="table_title">经销商id</td>
					<td class="table_content"><?php echo $data['t_jxid'];?></td>
				</tr>
				<tr align="center">
					<td class="table_title">账号</td>
					<td class="table_content"><?php echo $data['username'];?></td>
					<td class="table_title">性别</td>
					<td class="table_content"><?php echo $data['sex'];?></td>
				</tr>
				<tr align="center">
					<td class="table_title">弹奏次数</td>
					<td class="table_content"><?php echo $data['count'];?>&nbsp;次</td>
					<td class="table_title">弹奏总时长</td>
					<td class="table_content"><?php echo $data['long'];?>&nbsp;分钟</td>
				</tr>
				
				<tr align="center">
					<td class="table_title">身份证照片(正面)</td>
					<td class="table_content"><img src="<?php echo $data['t_card_img1'];?>" style="width:100px;"/></td>
					<td class="table_title">(反面)</td>
					<td class="table_content"><img src="<?php echo $data['t_card_img2'];?>" style="width:100px;"/></td>
				</tr>
				<tr align="center">
					<td class="table_title">执照</td>
					<td class="table_content"><img src="<?php echo $data['t_license'];?>" style="width:100px;"/></td>
					<td class="table_title">认证状态</td>
					<td class="table_content"><?php if($data['t_status']==1){echo '待认证';}else if($data['t_status']==2){echo '认证通过';}else if($data['t_status']==3){echo '认证不通过';}?></td>
				</tr>
				
				</table>
			</div>




								<!-- 	<div class="btn-group" style="margin-right:10px;margin-top:5px;">											
											<div class="input-group">
											<span>日期：</span>
												<input class="form-control date-picker" value="<?php if($stime){echo $stime;}?>" name="stime" id="id-date-picker-1" style="width: 35%" type="text" data-date-format="yyyy-mm-dd" />
												-
												<input class="form-control date-picker" value="<?php if($etime){echo $etime;}?>" name="etime" id="id-date-picker-1" style="width: 35%" type="text" data-date-format="yyyy-mm-dd" /> 
											</div>

									</div> -->
									

								
									<!-- <div class="btn-group" style='margin-top:5px;' >
											<a href="index.php?m=Admin&c=User&a=" class="btn btn-xs btn-success">导出文件</a>
									</div> -->
												<!-- 省市级联动 -->
			<!--  <script type="text/javascript" src="__PUBLIC__/Admin/admin/js/region_select.js"></script>
										<div class="btn-group" style='margin-right:12px;margin-top:5px;'>
											<span style='margin-left:12px;'>所属区域：</span>
																	
								            <span style='margin-right:12px;'>省级 </span> <select name="location_p" id="location_p" class="tongselect"></select>
								           <span style='margin-left:12px;margin-right:12px;'>市级</span><select name="location_c" id="location_c" class="tongselect"></select>
								            <span style='margin-left:12px;margin-right:12px;'>区级</span>     <select name="location_a" id="location_a" class="tongselect" ></select> 
								                <script src="js/region_select.js"></script>
								                <script type="text/javascript">
								                    new PCAS('location_p', 'location_c', 'location_a', '<?php if($p){echo $p;}?>', '<?php if($c){echo $c;}?>', '<?php if($a){echo $a;}?>');
								                </script>
        
										</div> -->
	
								
									</form>
								
								</div>
							</div>
						</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive">

					<h2><label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程详情</label></h2>
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;font-size:13px;">
							<thead>
								<tr style=' font-size: 13px;'>
								    <!-- <th><input type='checkbox' name='' value=''></th> -->
									<th>ID</th>
									<th>老师姓名</th>
									<th>上课地址</th>
									<th>课程类型</th>	
									<th>上课时间</th>		
									<th>下课时间</th>	
									<th>当前课次</th>	
									<th>上课视频</th>
								</tr>
							</thead>

							<tbody>
							<?php foreach($list as $k=>$v){?>
								<tr>
									<td><?php echo $v['cl_tid'];?></td>
									<td><?php echo $v['t_truename'];?></td>
									<td><?php echo $v['course_address'];?></td>
									<td><?php if($v['course_kind'] == 1){echo '主课';}elseif($v['course_kind'] == 2){echo '陪练课';}else{echo '集体课';}?></td>
									<td><?php echo date('y-m-d h-i',$v['cl_stime']);?></td>
									<td><?php echo date('y-m-d h-i',$v['cl_etime']);?></td>
									<td><?php echo $v['cl_num'];?>/<?php echo $v['course_number'];?>
									</td>
									<td>
									<?php if(!empty($v['file_url'])){ ?>
									<embed type="application/x-mplayer2" src="<?php echo $v['file_url'];?>" name="MediaPlayer" autostart="0" showstatusbar="1" showdisplay="1" showcontrols="1" loop="0" videoborder3d="0" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" ></embed>

										<!-- <audio loop controls >
											<source src="<?php echo $v['file_url'];?>" />
										</audio>
								 -->

									<?php }?>	
									</td>
								</tr>
							<?php }?>	
							</tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap" style="border-top: 1px solid #DDD;padding-top: 12px;padding-bottom: 12px;background-color: #eff3f8;border-bottom: 1px solid #DDD;">
							<div style='margin-right:56px;'>
							  <?php echo $page;?>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /span -->
			</div>
			<!-- /row -->
			<div class="hr hr-18 dotted hr-double"></div>

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
	.btn-xs {
		margin-right: 10px!important;
	}
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<script type="text/javascript">
	function course_status(status){
		//alert(status)
		location.href = "index.php?m=Admin&c=User&a=course_teacher&status="+status
	}
$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
	$(this).prev().focus();
});
</script>




<!-- ajax 提交表单 

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
function showStart(){
    return true;
}
function showSuccess(data){
    	if(data == 1){
    		alert('导入成功')
    		location.href="{:U('Daili/Index/student_list')}"
    	}else{
    		alert(data)
    		return
    	}

}
$(function(){
	var options = {
		        beforeSubmit:showStart,
		        success:showSuccess,

		 };
	$('#daoru').click(function(){	
		//alert('a')
		//return false
		$('.daoru').ajaxSubmit(options);
	})
	
})
</script>-->
