<head>
    <meta charset="utf-8"/>
    <title>{:L('newworld_admin')}</title>
    <meta name="keywords" content="{:L('newworld_admin')}"/>
    <meta name="description" content="{:L('newworld_admin')}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css"/>
    <!-- ace styles -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <!--[if !IE]> -->

    <script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>

    <!-- <![endif]-->
    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
    <script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
    <![endif]-->
</head>
<body style='background:#fff;'>
<div class="page-content">
    <div class="page-header">
        <h1>
            {:L('Item_item_list_item_manager')}
            <small><i class="icon-double-angle-right"></i>
                 {:L('Item_detail')}
            </small>

        </h1>
    </div>


    <div class="row">
        <div class="col-xs-12 form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_name')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_name']?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_content')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_content'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_type')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_type'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_budget')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_budget'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_sponsor')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_uname'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_contact')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_contact'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_index_tag')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_firstmarks'].','.$item['item_secondmarks'].','.$item['item_thirdmarks'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_company')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_company'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('User_user_list_email')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_mail'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_status')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_status']==1?L('Item_item_list_item_progressing'):L('Item_item_list_item_finished');?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_item_time')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_time'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{:L('Item_item_list_professional_needs')}:</label>
                <div class="col-sm-9">
                    <input type="text" name="q_users_name" value="<?php echo $item['item_needspecialty'];?>"
                           placeholder="" style="width:300px;" readonly/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
    .btn-xs {
        margin-right: 10px !important;
    }
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>


<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
    function showStart() {
        return true;
    }
    function showSuccess(data) {

        if (data == 1) {
            alert('修改成功')
            location.href = "{:U('Admin/User/user_list')}"
        } else {
            alert(data)
            return false
        }

    }
    $(function () {
        var options = {
            beforeSubmit: showStart,
            success: showSuccess,
        };
        $('#tianjia').click(function () {
            $('.form-horizontal').ajaxSubmit(options);
            //return false;
        })
    })
</script>








