<head>
		<meta charset="utf-8" />
		<title>{:L('newworld_admin')}</title>
		<meta name="keywords" content="{:L('newworld_admin')}" />
		<meta name="description" content="{:L('newworld_admin')}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />
		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
			<!--[if !IE]> -->

		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>
		
		<!-- <![endif]-->
		<!-- ace settings handler -->

		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
		<![endif]-->
	<style type='text/css'>
		.anniu{width:100%; height:40px; position:relative;margin-left: -26px;margin-bottom: -11px;margin-top: 11px;}
		.anniu ul{width:auto; height:30px; border:1px solid #ccc; overflow:hidden; position:absolute; top:0; left:0; list-style:none; color:#333; box-sizing:border-box; font-size:13px; cursor: pointer;}
		.anniu ul li.current{background:#2679b5; color:#fff;width:100px; height:30px; float:left; border-right:1px solid #ccc;  line-height:30px; text-align:center; box-sizing:border-box;}
		.anniu ul li{width:100px; height:30px; float:left; border-right:1px solid #ccc;  line-height:30px; text-align:center; box-sizing:border-box;}
	</style>
	</head>
	<body style='background:#fff;'>
	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">{:L('newworld_home')}</a>
							</li>
							<li class="active">{:L('newworld_console')}</li>
						</ul><!-- .breadcrumb -->
					</div>

				</div><!-- /.main-content -->
	
	
<div class="page-content">
	<div class="page-header">
		<h1>
			{:L('Question')}
			<small> <i class="icon-double-angle-right"></i>
				{:L('Question_crowd_list')}
			</small>

		</h1>

	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row" style="padding-bottom: 10px;">
				<div class="col-sm-12">
					<div id="sample-table-2_filter">
						<form class="form-horizontal" action="{:U('Admin/Note/note_list')}" method="POST" role="form" enctype="multipart/form-data">

							<div class="btn-group" style='margin-top:5px;'>
								<span>{:L('Note_note_list_name')}:</span>
								<input type="text" name="uname" value="{$uname}" placeholder="{:L('Note_note_list_name')}">
							</div>
							<div class="btn-group" style='margin-top:5px;'>
								<span>{:L('Note_note_list_title')}:</span>
								<input type="text" name="title" value="{$title}" placeholder="{:L('Note_note_list_title')}">
							</div>
							<div class="btn-group" style='margin-top:5px;'>
								<span>{:L('Note_note_list_type')}:</span>
								<select name="type" style="width: 100px;">
									<option value="" <if condition='$type == ""'>selected</if>> {:L('Note_note_list_typestatic')}</option>
									<option value="1" <if condition='$type == 1'>selected</if>>{:L('Note_note_list_typeone')}</option>
									<option value="0" <if condition='$type == 0&&$type != ""'>selected</if>>{:L('Note_note_list_typetwo')}</option>

								</select>
							</div>

							<input type="hidden" name="button" value="1">
							<input type="hidden" name="cid" value="{$cid}">

							<div class="btn-group" style='margin-top:5px;'>
								<span class="input-group-btn">
									<button type="submit" style="padding:0" class="btn btn-purple btn-sm">
										{:L('User_user_list_search')}<i class="icon-search icon-on-right bigger-110"></i>
									</button>
								</span>

							</div>

						</form>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive"	>
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;font-size:13px;">
							<thead>
								<tr>

									<th>{:L('Note_note_list_id')}</th>
									<th>{:L('Note_note_list_name')}</th>
									<th>{:L('Note_note_list_title')}</th>
									<th>{:L('Note_note_list_content')}</th>
									<th>{:L('Note_note_list_create')}</th>
									<th>{:L('Note_note_list_comments')}</th>
									<th>{:L('Question_nost_list_money')}</th>
									<th>{:L('Note_note_list_type')}</th>
									<th>{:L('Note_crowd_list_operation')}</th>

								</tr>
							</thead>

							<tbody>
							<foreach name="notelist" item="note" key="notekey">
								<tr>
									<td>{$note['note_id']}</td>
									<td>{$note['user_name']}</td>
									<td>{$note['note_name']}</td>
									<td>{$note['note_content']}</td>
									<td>{$note['note_createtime']}</td>
									<td>{$note['note_comments']}</td>
									<td>{$note['note_reward']}</td>
									<td><if condition='$note["note_ishide"] == 1'>{:L('Note_note_list_typeone')}<else />{:L('Note_note_list_ishide')}</if></td>

									<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<if condition='$note["note_ishide"] == 1'><a href="javascript:void(0)" class="btn btn-xs btn-success" onclick="gohide({$note['note_id']},0)">{:L('Note_note_list_typetwo')}</a><else /><a href="javascript:void(0)" class="btn btn-xs" onclick="gohide({$note['note_id']},1)">{:L('Note_note_list_closehide')}</a></if>

												<if condition='$note["note_istop"] == 1'><a href="javascript:void(0)" class="btn btn-xs" onclick="gotop({$note['note_id']},0)">{:L('Note_note_list_closetop')}</a><else /><a href="javascript:void(0)" class="btn btn-xs btn-success" onclick="gotop({$note['note_id']},1)">{:L('Note_note_list_top')}</a></if>

												<if condition='$note["note_iswally"] == 1'><a href="javascript:void(0)" class="btn btn-xs" onclick="gowally({$note['note_id']},0)">{:L('Note_note_list_closeswally')}</a><else /><a href="javascript:void(0)" class="btn btn-xs btn-success" onclick="gowally({$note['note_id']},1)">{:L('Note_note_list_swally')}</a></if>

												<a class="btn btn-xs btn-success" onclick="del({$note['note_id']})">{:L('Note_note_list_del')}</a>
												<a href="{:U('Admin/Question/note_detail',array('nid'=>$note['note_id']))}" class="btn btn-xs btn-success">{:L('Note_crowd_list_look')}</a>

											</div>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap" style="border-top: 1px solid #DDD;padding-top: 12px;padding-bottom: 12px;background-color: #eff3f8;border-bottom: 1px solid #DDD;">
							<div style='margin-right:56px;'>
								<?php echo $page;?>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /span -->
			</div>
			<!-- /row -->
			<div class="hr hr-18 dotted hr-double"></div>

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>


</body>
<!-- /.page-content -->

<script src="__PUBLIC__/Admin/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<script type="text/javascript">
	
$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
	$(this).prev().focus();
});
</script>


<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>

<script>
	
    function del(nid) {

        layer.msg("{:L('Note_crowd_list_if')}", {
            time: 0 //不自动关闭
            ,btn: ["{:L('Note_crowd_list_ok')}", "{:L('Note_crowd_list_no')}"]
            ,yes: function(index){
                layer.close(index);
                $.ajax({
                    type: "post",
                    url: "{:U('Admin/Question/ajax_note_list_del')}",
                    data: {
                        nid: nid,
                    },
                    dataType: "json",
                    success: function (list) {

                        if (list.str == 1){

                            layer.msg(list.msg,{
                                    time:1500,
                                    icon:1,
                                },function () {
                                    location.reload()
                                }
                            );
                        }else{

                            layer.msg(list.msg,{
                                    time:1500,
                                    icon:2,
                                }
                            );
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.msg("{:L('Mark_mark_list_error')}",{
                                time:1500,
                                icon:2,
                            }
                        );

                    }

                })
            }
        });

    }
    
    function gohide(nid,type) {
        $.ajax({
            type: "post",
            url: "{:U('Admin/Question/ajax_note_list_hide')}",
            data: {
                nid: nid,
                type:type
            },
            dataType: "json",
            success: function (list) {

                if (list.str == 1){

                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                            location.reload()
                        }
                    );
                }else{

                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg("{:L('Mark_mark_list_error')}",{
                        time:1500,
                        icon:2,
                    }
                );

            }

        })

    }

    function gotop(nid,type) {
        $.ajax({
            type: "post",
            url: "{:U('Admin/Question/ajax_note_list_top')}",
            data: {
                nid: nid,
                type:type
            },
            dataType: "json",
            success: function (list) {

                if (list.str == 1){

                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                            location.reload()
                        }
                    );
                }else{

                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg("{:L('Mark_mark_list_error')}",{
                        time:1500,
                        icon:2,
                    }
                );

            }

        })

    }

    function gowally(nid,type) {
        $.ajax({
            type: "post",
            url: "{:U('Admin/Question/ajax_note_list_wally')}",
            data: {
                nid: nid,
                type:type
            },
            dataType: "json",
            success: function (list) {

                if (list.str == 1){

                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                            location.reload()
                        }
                    );
                }else{

                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg("{:L('Mark_mark_list_error')}",{
                        time:1500,
                        icon:2,
                    }
                );

            }

        })

    }

	
</script>