
<head>
		<meta charset="utf-8" />
		<title>子昊钢琴后台管理系统</title>
		<meta name="keywords" content="子昊钢琴后台管理系统" />
		<meta name="description" content="子昊钢琴后台管理系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />


		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>
		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

</head>
<body style='background:#fff;'>
	<div class="page-content">
	<div class="page-header">
		<h1>
			<a href="{:U('Tiezi/tiezi_type')}" target="rightFrame" style='text-decoration:none;'>用户管理</a>
			<small> <i class="icon-double-angle-right"></i>
				修改密码
			</small>
		</h1>
	</div>
	</div>
				
	
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" action="{:U('Admin/Jinxiao/save_pwd')}" method="POST" role="form" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户账号</label>
						<div class="col-sm-9">
							<input type="text" name="username" value="<?php echo $list['username'];?>" readonly/>
						</div>
					</div>

					

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">原密码</label>
						<div class="col-sm-9">
							<input type="password" name="pwd" value="" placeholder="原密码" />
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码</label>
						<div class="col-sm-9">
							<input type="password" name="newpassword" value="" placeholder="新密码" />	
						</div>
					</div>

					 <div class="form-group" >
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">密码重复</label>
						<div class="col-sm-9">
							<input type="password" name="passwordagain" value="" placeholder="重新再输入一次" />
						</div>
			     	</div>

					<div class="form-actions center">
					<a  class="btn btn-sm btn-success" id='queren'>
						<i class="icon-edit bigger-110"></i>
						确认
					</a>

					<a class="btn btn-sm btn-warning" href="javascript:history.back(-1)" target="rightFrame" class="myButton">
						<i class="icon-arrow-left icon-on-left bigger-110"></i>
						取消
					</a>
					</div>
			</form>
		</div>
	</div>
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
	.btn-xs {
		margin-right: 10px!important;
	}
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
function showStart(){
    return true;
}
$(function(){
	var options = {
		        beforeSubmit:showStart,
		        success:showSuccess,
		 };
	$('#queren').click(function(){	  
		$('.form-horizontal').ajaxSubmit(options);		
	})	
})
function showSuccess(data){
    	if(data == 1){
    		alert('修改成功')
    		location.href="javascript:history.back(-1)"
    	}else{
    		alert(data)
    		return false
    	}
}
</script>










