<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Academic</title>
		<meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/Academic.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
	</head>

	<body>
        <div class="web">
            <!-- Head information start 头信息 -->
            <div class="container headerBox">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="logo" title="logo"></a>
                    </div>
                    <div class="col-md-6">
                        <include file = "./World/Index/View/Public/head.html"/>
                        <div class="nav">
                            <nav class="navbar NavBg">
                                <ul class="ListInline">
                                    <li>
                                        <a href="{:U('Index/Index/index')}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/Rnterst/interest')}">Interest</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/Academic/academic')}" id="NavSelected">Academic</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/Jobs/work')}">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/Life/life')}">Life</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Head information end 头信息 -->
            <!-- Carousel advertising start 轮播广告 -->
            <div class="layui-carousel Banner" id="test2">
                <div carousel-item="">
                    <foreach name="newslist" item="new" key="newkey">
                        <div class="Carousel_img">
                            <a href="<if condition='$new["news_type"] == 1'>{:U('Index/Academic/newsDetails',array('nid'=>$new['news_id']))}<else />{$new['news_url']}</if>">
                            <img src="./Uploads/{$new['news_img']}">
                            </a>
                        </div>
                    </foreach>
                </div>
            </div>
            <!-- Carousel advertising end 轮播广告 -->
            <form class="layui-form" action="" autocomplete="off">
                <div class="container SearchContainer">
                    <div class="row">
    
                        <div class="col-md-4">
                            <foreach name="data" item="first" key="firstkey">
                            <div class="SelectionTypeContainer" id="first{$first['first_mark_id']}">
                                <label class="layui-form-label">
                                <span><img src="__PUBLIC__/Web/web/img/03_academic/academic_create_icon_0{$firstkey+1}.png"></span>
                            </label>
                                <div class="layui-input-block">
                                    <input type="hidden" value="" id="in{$first['first_mark_id']}">
                                    <select name="second" lay-verify="required" lay-filter="firstselect">
                                        <option value="" selected="selected">Choose a <if condition='$firstkey == 0'>year<elseif condition='$firstkey == 1'/>school<elseif condition='$firstkey == 2'/>college<else />profession</if></option>
                                        <foreach name="first['message']" item = "second" key="secondkey">
                                            <option value="{$second['second_mark_id']}">{$second['second_mark_name']}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            </foreach>
                        </div>
                        <div class="col-md-6">
                            <div class="SelectionContainer">
                                <input type="text" class="layui-input" id="Selectionform">
                                <a href="javascript:void(0)" id="SelectionIcon" onclick="updata_interest_list(3,'crowd_creattime desc',0,10,1)"><img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_search_icon.png"></a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void(0)" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn" onclick="gocreate()">
                                Create A Community
                            </a>
                            <p class="text-right Help">
                                <a class="Help_tip">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_sy_question.png">
                                </a>
                                <div class="tooltip_box">
                                    <span>{$moduleone['module_content']}</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <!-- search end 搜索 -->
            <!--Group list sataer 群列表-->
            <div class="container GroupList">
    
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="text-center GroupTitle">Community List</h4>
                        <div class="row" id="crowdlist">
                            <foreach name="crodlist" item="crod" key="crodkey">
                            <div class="col-xs-8 col-sm-6">
                                <div class="UserBox">
                                    <a href="{:U('Index/Academic/academicGroups')}&cid={$crod['crowd_id']}" class="UserLink">
                                        <div class="UserBox_img">
                                        <img src="./Uploads/{$crod['crowd_icon']}" alt="" class="img-circle userimg" />
                                        </div>
                                        <h4 class="UserTitle">{$crod['crowd_name']}</h4>
                                        <p class="UserFollow">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_sy_gl_icon_renshu.png" alt="" /> &nbsp;&nbsp;{$crod['crowd_peoplenum']}
                                        </p>
                                        <p class="UserName">
                                            Creator : {$crod['user_name']} <span class="UserTime">{$crod['crowd_creattime']}</span>
                                        </p>
                                        <p class="UserContent">
                                            {$crod['crowd_intro']}
                                        </p>
                                    </a>
                                </div>
                            </div>
                            </foreach>
    
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="BannerContainer">
                            <h4 class="text-center FontColor">Advertising</h4>
                            <foreach name="advertisinglist" item="advertising" key="advertisingkey">
    
                                <div class="Container1">
                                    <a href="{$advertising['advertising_url']}" style="text-decoration: none;display: block;">
                                        <img src="./Uploads/{$advertising['advertising_img']}" class="img">
                                        <p class="text-center Font">{$advertising['advertising_title']}</p>
                                    </a>
                                </div>
                            </foreach>
    
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--Group list end 群列表-->
            <!-- footer -->
            <footer>
                <include file = "./World/Index/View/Public/footer.html"/>
            </footer>
        </div>
		<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
		<script src="__PUBLIC__/Web/js/lib/layui/src/layui.js"></script>
		<script src="__PUBLIC__/Web/web/js/index.js"></script>
		<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
	</body>

<script>
    $(".Help_tip").on("mouseover",function(){
        $(".tooltip_box").css("display","block")
    })
    $(".Help_tip").on("mouseout",function(){
        $(".tooltip_box").css("display","none")
    })
    var page = 1;
    var count = {$crowdcount};
    var c = 1;
    var a = 1;

    function gocreate() {
        var aa = "{$userid}";
        if(aa){
            window.location.href="{:U('Index/Academic/createAcademic')}";
        }else{
            layer.msg("请先登录",{
                    time:1500,
                },function(){
                    window.location.href="{:U('Index/Login/login')}";
                    //window.location.href="{:U('Index/Login/login')}";
                }
            );
        }
    }

    layui.use('form', function(){
        var form = layui.form;

        form.on('select(firstselect)', function(firstdata){
            //父级id
            //data.othis.parent().parent().attr('id')

            $.ajax({
                type:"post",
                url:"{:U('Index/Ajax/ajax_secondmarkone')}",
                data:{
                    secondid:firstdata.value,
                },
                dataType:"json",
                success: function(data){
                    console.log(data)
                    if (data!=null&&data!="") {
                        //alert(data.str)
                        if (data.str == 1) {
                            //console.log(data.msg)

                            if ( $("#second"+data.firstid).length > 0 ) {

                                var message = '<div class="layui-input-block" ><select name="third" lay-verify="required" lay-filter="secondselect"><option value="">choose</option>';

                                for (var i = 0; i < data.msg.length; i++) {

                                    message +='<option value="'+data.msg[i]['third_mark_id']+'">';
                                    message +=data.msg[i]['third_mark_name']+'</option>';

                                }
                                message +='</select></div>';
                                $("#second"+data.firstid).html(message)
                            }else{

                                var message = '<div id="second'+data.firstid+'" class="SelectionTypeContainer" style="margin-bottom: 10px;"><div class="layui-input-block" ><select name="third" lay-verify="required" lay-filter="secondselect"><option value="">choose</option>';
                                for (var i = 0; i < data.msg.length; i++) {

                                    message +='<option value="'+data.msg[i]['third_mark_id']+'">';
                                    message +=data.msg[i]['third_mark_name']+'</option>';

                                }
                                message +='</select></div></div>';

                                firstdata.othis.parent().parent().after(message);
                            }

                            form.render()
                            rmfour($('#in'+data.firstid).val())
                            $('#in'+data.firstid).val(firstdata.value)
                            createthird();
                        }else{

                            $("#second"+data.firstid).remove();
                            form.render()
                            rmfour($('#in'+data.firstid).val())
                            $('#in'+data.firstid).val(firstdata.value)
                            createthird();

                        }

                    }
                }

            })

        });

    });

    function createthird() {

        layui.use('form', function(){
            var form = layui.form;

            form.on('select(secondselect)', function(seconddata){

                $.ajax({
                    type:"post",
                    url:"{:U('Index/Ajax/ajax_thirdmarkone')}",
                    data:{
                        thirdid:seconddata.value,
                    },
                    dataType:"json",
                    success: function(data){
                        //console.log(data)
                        if (data.str == 1) {
                            if ($("#third" + data.secondid).length > 0) {

                                var message = '<div class="layui-input-block" ><select name="four" lay-verify="required" lay-filter="thirdselect"><option value="">choose</option>';

                                for (var i = 0; i < data.msg.length; i++) {

                                    message += '<option value="' + data.msg[i]['fourth_mark_id'] + '">';
                                    message += data.msg[i]['fourth_mark_name'] + '</option>';

                                }
                                message += '</select></div>';
                                $("#third" + data.secondid).html(message)
                            } else {

                                var message = '<div id="third' + data.secondid + '" class="SelectionTypeContainer" style="margin-bottom: 10px;"><div class="layui-input-block" ><select name="four" lay-verify="required" lay-filter="thirdselect"><option value="">choose</option>';
                                for (var i = 0; i < data.msg.length; i++) {

                                    message += '<option value="' + data.msg[i]['fourth_mark_id'] + '">';
                                    message += data.msg[i]['fourth_mark_name'] + '</option>';

                                }
                                message += '</select></div></div>';

                                seconddata.othis.parent().parent().after(message);

                            }

                            form.render()
                        }else{
                            if ($("#third" + data.secondid).length > 0) {
                                $("#third" + data.secondid).remove();
                            }

                            form.render();
                        }
                    }

                })

            });
        });

    }

    function rmfour(firstid) {

        layui.use('form', function() {
            var form = layui.form;
            //alert(aa)
            if ($("#third" + firstid).length > 0) {
                $("#third" + firstid).remove();
            }
            form.render();
        });

    }

    function updata_interest_list(mid,order,limit1,limit2,type) {

        var second = ''
        $("select[name='second']").each(function(j,item){
            if (item.value!=''){
            	if(second == ''){
                	second+=item.value //输出input 中的 value 值到控制台
            	}else{
                	second+=','+item.value //输出input 中的 value 值到控制台
            	}
            }
        });
        var third = ''
        $("select[name='third']").each(function(j,item){
            if (item.value!='') {
                if (third == '') {
                    third += item.value //输出input 中的 value 值到控制台
                } else {
                    third += ',' + item.value //输出input 中的 value 值到控制台
                }
            }
        });
        var four = ''
        $("select[name='four']").each(function(j,item){
            if (item.value!='') {
                if (four == '') {
                    four += item.value //输出input 中的 value 值到控制台
                } else {
                    four += ',' + item.value //输出input 中的 value 值到控制台
                }
            }
        });

        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_crowd_list')}",
            data:{
                second:second,
                third:third,
                four:four,
                crowd_name:$("#Selectionform").val(),
                mid:mid,
                order:order,
                limit1:limit1,
                limit2:limit2,

            },
            dataType:"json",
            async:false,
            success: function(list){
                console.log(list)
                if(list!=null&&list!=""){

                    if (list.str == 1){

                        var message = '';
                        for (var i = 0; i < list.msg.length; i++) {
                            message +='<div class="col-xs-8 col-sm-6"><div class="UserBox">';
                            var url="{:U('Index/Academic/academicDetails')}"+list.msg[i].crowd_id;
                            message += '<a href="'+url+'" class="UserLink">';
                            message += '<div class="UserBox_img"><img src="./Uploads/'+list.msg[i].crowd_icon+'" class="img-circle userimg"></div>';
                            message += '<h4 class="UserTitle">'+list.msg[i].crowd_name+'</h4>'
                            message += '<p class="UserFollow"><img src="__PUBLIC__/Web/web/img/02_interest/interest_sy_gl_icon_renshu.png">&nbsp;&nbsp;';
                            message += list.msg[i].crowd_peoplenum+'</p>';
                            message += '<p class="UserName">Creator : '+list.msg[i].user_name;
                            message += '<span class="UserTime">'+list.msg[i].crowd_creattime+'</span></p>';
                            message += '<p class="UserContent">'+list.msg[i].crowd_intro+'</p>';
                            message += '</a></div></div>';

                        }


                        if (type==1){
                            page = 1;
                            c = 1;
                            count = list.count;
                            $("#crowdlist").html(message);

                        }else{
                            c=1;
                            var crowdlisthtml = $("#crowdlist").html()+message
                            $("#crowdlist").html(crowdlisthtml);
                        }
                    }else if (list.str == 2){
                        if (type == 1) {
                            page = 1;
                            c = 1;
                            count = list.count;
                            $("#crowdlist").html('');
                            layer.msg(list.msg, {
                                    time: 1500,
                                    icon: 2,
                                }
                            );
                        }else{

                        }
                    }else{
                        layer.msg(list.msg,{
                                time:1500,
                                icon:2,
                            }
                        );

                    }
                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })


    }

    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        var gocheng =parseInt(scrollTop)+parseInt(windowHeight);

        if (gocheng>(scrollHeight-200)) {

            if (c==a){
                var limit1 = page*10;
                c = 2;
                if (limit1<count){
                    updata_interest_list(3,'crowd_creattime desc',limit1,10,2);
                    page += 1;
                }
            }
        }
    })



</script>


</html>