<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Create academic</title>
		<meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateAcademic.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/releasePosition.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
		<link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
	</head>

	<body>
		<!--logo-->
		<header class="container">
			<include file = "./World/Index/View/Public/head.html"/>
		</header>
		<hr />
		<!-- Crumbs nav -->
		<div class="container crumbs">
			<a href="{:U('Index/Academic/academic')}" class="crumbsa">Academic</a>
			<cite class="Icon"></cite>
			<span class="crumbsTitle">Create A Community</span>

		</div>
		<!--Basic Information form-->
		<form class="layui-form layui-form-pane" action="" autocomplete="off">
			<div class="PasswordContainer">
				<div class="StepContainer">
					<div class="StepContainerOne">
						<div class="InterestTitle">
							<div class="InterestImg">
                                <img src="__PUBLIC__/Web/web/img/common_icon_write.png" alt="">
                            </div>
                            <span class="InterestCon">Basic Information</span>
                        </h3>
						</div>
						<foreach name="data" item="first" key="firstkey">
						<div id="first{$first['first_mark_id']}" class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <div class="label_img">
                                <img src="__PUBLIC__/Web/web/img/<if condition='$firstkey == 0'>02_interest/interest_create_icon_01.png<elseif condition='$firstkey == 1'/>02_interest/interest_create_icon_02.png<elseif condition='$firstkey == 2'/>02_interest/interest_create_icon_03.png<else />03_academic/academic_create_icon_04.png</if>">
                            </div>
                        </label>
							<div class="layui-input-block" id="layui-input-block">
								<input type="hidden" value="" id="in{$first['first_mark_id']}">
								<select name="second" lay-verify="required" lay-filter="firstselect" title="0">
									<option value="" selected="selected"><if condition='$firstkey == 0'>Choose a year<elseif condition='$firstkey == 1'/>Choose a school<elseif condition='$firstkey == 2'/>College & Department<else />Major in</if></option>
									<foreach name="first['message']" item = "second" key="secondkey">
										<option value="{$second['second_mark_id']}">{$second['second_mark_name']}</option>
									</foreach>
								</select>
							</div>
						</div>
						</foreach>

						<div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing" style="border: none;background: transparent;">
                                <div class="label_img">
                                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_create_icon_04.png" alt="">
                                </div>
                            </label>
                            <!-- <label class="layui-form-label label-spacing">
                                <div class="label_img">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_create_icon_04.png" alt="">
                                </div>
                            </label> -->
                            
							<div class="UserHeadImage layui-input-block" style="margin-left: 10px;">
								<img id="pic" class="img">
								<input id="upload" class="but" name="file" accept="image/*" type="file">
							</div>
						</div>
						<div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <div class="label_img">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_create_icon_05.png" alt="">
                            </div>
                        </label>
							<div class="layui-input-block">
								<input type="text" name="number" id="name" lay-verify="required" autocomplete="off" placeholder="Community name" class="layui-input">
							</div>
						</div>
						<div class="FormContainer" pane>
							<label class="layui-form-label label-spacing">
                                <div class="label_img">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_create_icon_06.png" alt="">
                                </div>
                        </label>
							<div class="layui-input-block">
								<input type="text" id="content"  name="number" lay-verify="required" autocomplete="off" placeholder="Enter the signature" class="layui-input">
							</div>
						</div>
						<div class="FormContainer from-but">
							<button class="layui-btn layui-btn-normal layui-btn-radius Submit-but" lay-submit="demo1" lay-filter="demo1">
                            Submit
                        </button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- footer -->
        <footer>
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>
		<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
		<script src="__PUBLIC__/Web/web/js/CreateInterest.js"></script>
		<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
	</body>

<script>



    layui.use('form', function(){
        var form = layui.form;

        form.on('select(firstselect)', function(firstdata){
            //父级id
            //data.othis.parent().parent().attr('id')
            $.ajax({
                type:"post",
                url:"{:U('Index/Ajax/ajax_secondmarkone')}",
                data:{
                    secondid:firstdata.value,
                },
                dataType:"json",
                success: function(data){
                    console.log(data)
                    if (data!=null&&data!="") {
                        //alert(data.str)
                        if (data.str == 1) {
                            console.log(data.msg)

                            if ( $("#second"+data.firstid).length > 0 ) {

                                var message = '<div class="layui-input-block" id="layui-input-block" style="margin-bottom: 8px;"><select name="third" lay-filter="secondselect"><option value="">choose</option>';

                                for (var i = 0; i < data.msg.length; i++) {

                                    message +='<option value="'+data.msg[i]['third_mark_id']+'">';
                                    message +=data.msg[i]['third_mark_name']+'</option>';

                                }
                                message +='</select></div>';
                                $("#second"+data.firstid).html(message)
                            }else{

                                var message = '<div id="second'+data.firstid+'" class="FormContainer" pane><div class="layui-input-block" id="layui-input-block" style="margin-bottom: 8px;"><select name="third" lay-filter="secondselect"><option value="">choose</option>';
                                for (var i = 0; i < data.msg.length; i++) {

                                    message +='<option value="'+data.msg[i]['third_mark_id']+'">';
                                    message +=data.msg[i]['third_mark_name']+'</option>';

                                }
                                message +='</select></div></div>';

                                firstdata.othis.parent().parent().after(message);
                            }
                            firstdata.elem.title=data.firstid
                            form.render()
                            rmfour($('#in'+data.firstid).val())
                            $('#in'+data.firstid).val(firstdata.value)
                            createthird();
                        }else{

                            if ($("#second"+ firstdata.elem.title).length  > 0) {
                                $("#second" + firstdata.elem.title).remove();
                            }
                            rmfour($('#in'+firstdata.elem.title).val())
                        }

                    }
                }

            })

        });

        form.on('submit(demo1)', function(data){
            var second = ''
            $("select[name='second']").each(function(j,item){
                if(second == ''){
                    second+=item.value //输出input 中的 value 值到控制台
                }else{
                    second+=','+item.value //输出input 中的 value 值到控制台
                }

            });
            var third = ''
            $("select[name='third']").each(function(j,item){
                if(third == ''){
                    third+=item.value //输出input 中的 value 值到控制台
                }else{
                    third+=','+item.value //输出input 中的 value 值到控制台
                }
            });
            var four = ''
            $("select[name='four']").each(function(j,item){
                if(four == ''){
                    four += item.value //输出input 中的 value 值到控制台
                }else{
                    four += ','+item.value //输出input 中的 value 值到控制台
                }
            });


            var file_obj = document.getElementById('upload').files[0];
            var fd = new FormData();
            fd.append('img', file_obj);

            $.ajax({
                url: "{:U('Index/Ajax/ajax_uploadimg')}",
                type: "POST",
                async: false,
                cache: false,
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                data: fd,
                dataType:"json",
                success: function(data){
                    //console.log(data)
                    if (data.str == 1){
                        $.ajax({
                            type:"post",
                            url:"{:U('Index/Ajax/ajax_createacademic')}",
                            data:{
                                second:second,
                                third:third,
                                four:four,
                                crowd_name:$("#name").val(),
                                crowd_icon:data.msg,
                                crowd_intro:$("#content").val(),

                            },
                            dataType:"json",
                            async:false,
                            success: function(academic){
                                //console.log(interest)
                                if (academic.str == 1){
                                    layer.msg('创建成功',{
                                            time:1500,
                                            icon:1,
                                        },function () {
                                            window.location.href="{:U('Index/Academic/academicGroups')}&cid="+academic.msg;
                                        }
                                    );

                                }else{
                                    layer.msg(academic.msg,{
                                            time:1500,
                                            icon:2,
                                        }
                                    );

                                }



                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){

                                layer.msg('请求失败!',{
                                        time:1500,
                                        icon:2,
                                    }
                                );
                            }

                        })

                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                },
                error: function(err) {

                    layer.msg('请求失败!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }
            });



            /*$.ajax({
                type:"post",
                url:"{:U('Index/Ajax/ajax_createinterest')}",
                data:{
                    img:file_obj,
                },
                dataType:"json",
                async:false,
                success: function(data){
                    console.log(data)

                },
                error:function(XMLHttpRequest, textStatus, errorThrown){

                    layer.msg('请求失败!',{
                            time:1500,
                            icon:2,
                        },sendverify()
                    );
                }

            })*/

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    function createthird() {

        layui.use('form', function(){
            var form = layui.form;

            form.on('select(secondselect)', function(seconddata){

                $.ajax({
                    type:"post",
                    url:"{:U('Index/Ajax/ajax_thirdmarkone')}",
                    data:{
                        thirdid:seconddata.value,
                    },
                    dataType:"json",
                    success: function(data){
                        console.log(data)
                        if (data.str == 1) {
                            if ($("#third" + data.secondid).length > 0) {

                                var message = '<div class="layui-input-block"  id="layui-input-block"><select name="four" lay-filter="thirdselect"><option value="">choose</option>';

                                for (var i = 0; i < data.msg.length; i++) {

                                    message += '<option value="' + data.msg[i]['fourth_mark_id'] + '">';
                                    message += data.msg[i]['fourth_mark_name'] + '</option>';

                                }
                                message += '</select></div>';
                                $("#third" + data.secondid).html(message)
                            } else {

                                var message = '<div id="third' + data.secondid + '" class="FormContainer" style="margin-bottom: 8px; margin-left: 20%; width: 100%;" pane><div class="layui-input-block" id="layui-input-block"><select name="four" lay-filter="thirdselect"><option value="">choose</option>';
                                for (var i = 0; i < data.msg.length; i++) {

                                    message += '<option value="' + data.msg[i]['fourth_mark_id'] + '">';
                                    message += data.msg[i]['fourth_mark_name'] + '</option>';

                                }
                                message += '</select></div></div>';

                                seconddata.othis.parent().parent().after(message);

                            }

                            form.render()
                        }else{
                            if ($("#third" + data.secondid).length > 0) {
                                $("#third" + data.secondid).remove();
                            }

                            form.render();
                        }
                    }

                })

            });
        });

    }

    function rmfour(firstid) {

        layui.use('form', function() {
            var form = layui.form;
            //alert(aa)
            if ($("#third" + firstid).length > 0) {
                $("#third" + firstid).remove();
            }
            form.render();
        });

    }


</script>


</html>