<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Provide counselling details</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/lifeProductDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    </head>

    <body>
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>
     <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Academic/academic')}" class="crumbsa">Academic</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Academic/academicGroups')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Provide counseling details</span>
    </div>

    <!-- Product details -->
    <div class="Product_box container">
        <div class="row justify-content-between">
            <div class="col-md-9">
                <div class="product_title">
                    <div class="product_img">
                        <img src="./Uploads/{$issueone['tutorship_issue_picture']}" alt="">
                    </div>
                    <h2>{$issueone['tutorship_issue_name']}</h2>
                    <div class="Product_time">
                        {$issueone['tutorship_issue_createtime']}
                    </div>
                    <div class="counseling_title">
                        <div class="counseling_name">
                            <span class="counseling_name_title">Contact :</span>
                            <span>{$issueone['tutorship_issue_contact']}</span>
                        </div>
                        <div class="counseling_name">
                                <span class="counseling_name_title">Counseling Price :</span>
                                <span>$ {$issueone['tutorship_issue_price']}</span>
                            </div>
                    </div>
                </div>
                <div class="product_content">
                  <ul class="products_title">
                    <li>
                        <span class="products_title_name">Counseling Time :</span>
                        <span class="products_title_content">{$issueone['tutorship_issue_time']}</span>
                    </li>
                    <li>
                        <span class="products_title_name">Counseling Content :</span>
                        <span class="products_title_content">{$issueone['tutorship_issue_content']}</span>
                    </li>
                    <li>
                        <span class="products_title_name">Remarks :</span>
                        <span class="products_title_content">{$issueone['tutorship_issue_explain']}</span>
                    </li>
                  </ul>
                </div>
            </div>
            <!-- Product details right -->
            <div class="col-md-3 product_right">
               <div class="product_right_title">
                   Personal Information
               </div>
               <div class="right_details">
                   <ul>
                       <li>
                           <p>Avatar :</p>
                           <span class="right_details_userimg"><img src="<if condition='$issueuser["user_icon"]'>./Uploads/{$issueuser['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>"></span>
                       </li>
                       <li>
                           <p>Nickname :</p>
                           <span>{$issueuser['user_name']}</span>
                       </li>
                       <li>
                           <p>sex :</p>
                           <span><if condition='$issueuser["user_sex"] == 1'>male<else />female</if></span>
                       </li>
                       <li>
                           <p>Viewing Count :</p>
                           <span>{$issueuser['user_havecoin']}</span>
                       </li>
                       <li>
                            <p>Posts  :</p>
                            <span>{$issueuser['user_notes']}</span>
                        </li>

                   </ul>
               </div>
               <!-- Seller_Info -->
               <div class="Seller_Info_title">
                    Seller Info
               </div>

               <div class="right_details">
                <ul>
                    <li>
                        <p>Contact  :</p>
                        <span>{$issueone['tutorship_issue_contact']}</span>
                    </li>
                    <li>
                        <p>Counseling prices :</p>
                        <span>${$issueone['tutorship_issue_price']}</span>
                    </li>
                    <li>
                        <p>May be counseling time :</p>
                        <span> {$issueone['tutorship_issue_time']}</span>
                    </li>
                    
                </ul>
            </div>
            <div class="right_btn">
                <a href="{:U('Index/User/personalCenter')}&id={$issueuser['user_id']}" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                    Homepage
                    </a>
            </div>
            <!-- <div class="right_btn">
                <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                    Private Letter
                    </a>
            </div> -->
            </div>
        </div>
    </div>

    <!-- PostReply -->
    <div class="container StickSonDetailsContainer">
        <div class="col-md-9">
            <P>
                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">&nbsp;&nbsp;
                <b>Comment</b>
            </P>
                <div class="PostReply" id="commentlist">

                        <!--<div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" class="greatIcon">
                                            <span class="like_num">333</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png"  class="greatIcon">
                                            <span class="like_num">333</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png"   class="greatIcon">
                                            <span class="like_num">333</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>-->
                    </div>
        </div>
    </div>
   
    <!-- NumberOfPagesContainer -->
    <div class="container NumberOfPagesContainer">
        <div id="NumberOfPages"></div>
    </div>

    <!-- form -->
    <div class="container">
        <form class="layui-form" onsubmit="return false">
            <p style="color: #999; margin-bottom: 10px;">
                    Tips: How do you think of this article? Post a comment to help others understanding this article.
            </p>
            <div class="ReturnBox">
                <div class="layui-form-text">
                    <span class="ReturnBoxicon">
                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                        &nbsp;
                        Comment
                    </span>
                    <div class="RepllyBox">
                        <!-- <div class="ReplyUser">reply @ <span class="ReplyUser_name">Jack</span> ：</div> -->
                    </div>
                    <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea" id="content"></textarea>
                    <div class="bottom_btn">
                        <div class="refresh_btn">
                            <img src="__PUBLIC__/Web/web/img/refresh.png" alt="">
                        </div>
                        <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut" onclick="createcomment()">Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
   

    <!-- footer -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    </body>
    <script src="../js/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/lib/layui/dist/layui.all.js"></script>
    <script src="../web/js/StickSonDetails.js"></script>
    <script src="../web/js/loginQuit.js"></script>

<script>

    function createcomment() {
        var userid = "{$userid}"

        if (userid) {

            $.ajax({
                type: "post",
                url: "{:U('Index/Ajax/ajax_createIssueComment')}",
                data: {
                    content: $("#content").val(),
                    tid: '{$issueone["tutorship_issue_id"]}'

                },
                dataType: "json",
                async: false,
                success: function (list) {
                    //console.log(interest)
                    if (list.str == 1){
                        layer.msg(list.msg,{
                                time:1500,
                                icon:1,
                            },function () {
                                location.reload();
                            }
                        );

                    }else{
                        layer.msg(list.msg,{
                                time:1500,
                                icon:2,
                            }
                        );

                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    layer.msg('请求失败!', {
                            time: 1500,
                            icon: 2,
                        }
                    );
                }

            })
        }else {
            layer.msg("请先登录",{
                    time:1500,
                },function(){

                    window.location.href="{:U('Index/Login/login')}";
                }
            );
        }


    }


</script>


</html>