<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Provide counselling details</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">

        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/lifeProductDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/PostVideoDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    </head>

    <body>
        <div class="web">
            <!-- logo -->
            <header class="container">
                <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>
             <!-- Crumbs nav -->
            <div class="container crumbs">
                <a href="{:U('Index/Academic/academic')}" class="crumbsa">Academic</a>
                <cite class="Icon"></cite>
                <a href="{:U('Index/Academic/academicGroups')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
                <cite class="Icon"></cite>
                <span class="crumbsTitle">Provide counseling details</span>
            </div>
            <div class="section">
                <!-- Product details -->
                <div class="Product_box container">
                    <div class="row justify-content-between">
                        <div class="col-md-9">
                            <div class="product_title">
                                <div class="product_img">
                                    <img src="./Uploads/{$issueone['tutorship_issue_picture']}" alt="">
                                </div>
                                <h2>{$issueone['tutorship_issue_name']}</h2>
                                <div class="Product_time">
                                    {$issueone['tutorship_issue_createtime']}
                                </div>
                                <div class="counseling_title">
                                    <div class="counseling_name">
                                        <span class="counseling_name_title">Contact :</span>
                                        <span>{$issueone['tutorship_issue_contact']}</span>
                                    </div>
                                    <div class="counseling_name">
                                            <span class="counseling_name_title">Counseling Price :</span>
                                            <span>$ {$issueone['tutorship_issue_price']}</span>
                                        </div>
                                </div>
                            </div>
                            <div class="product_content">
                              <ul class="products_title">
                                <li>
                                    <span class="products_title_name">Counseling Time :</span>
                                    <span class="products_title_content">{$issueone['tutorship_issue_time']}</span>
                                </li>
                                <li>
                                    <span class="products_title_name">Counseling Content :</span>
                                    <span class="products_title_content">{$issueone['tutorship_issue_content']}</span>
                                </li>
                                <li>
                                    <span class="products_title_name">Remarks :</span>
                                    <span class="products_title_content">{$issueone['tutorship_issue_explain']}</span>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <!-- Product details right -->
                        <div class="col-md-3 product_right">
                           <div class="product_right_title">
                               Personal Information
                           </div>
                           <div class="right_details">
                               <ul>
                                   <li>
                                       <p>Avatar :</p>
                                       <span class="right_details_userimg"><img src="<if condition='$issueuser["user_icon"]'>./Uploads/{$issueuser['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>"></span>
                                   </li>
                                   <li>
                                       <p>Nickname :</p>
                                       <span>{$issueuser['user_name']}</span>
                                   </li>
                                   <li>
                                       <p>sex :</p>
                                       <span><if condition='$issueuser["user_sex"] == 1'>male<else />female</if></span>
                                   </li>
                                   <li>
                                       <p>Viewing Count :</p>
                                       <span>{$issueuser['user_havecoin']}</span>
                                   </li>
                                   <li>
                                        <p>Posts  :</p>
                                        <span>{$issueuser['user_notes']}</span>
                                    </li>
            
                               </ul>
                           </div>
                           <!-- Seller_Info -->
                           <div class="Seller_Info_title">
                                Seller Info
                           </div>
            
                           <div class="right_details">
                            <ul>
                                <li>
                                    <p>Contact  :</p>
                                    <span>{$issueone['tutorship_issue_contact']}</span>
                                </li>
                                <li>
                                    <p>Counseling prices :</p>
                                    <span>${$issueone['tutorship_issue_price']}</span>
                                </li>
                                <li>
                                    <p>May be counseling time :</p>
                                    <span> {$issueone['tutorship_issue_time']}</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="right_btn">
                            <a href="{:U('Index/User/personalCenter')}&id={$issueuser['user_id']}" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                                Homepage
                                </a>
                        </div>
                        <!-- <div class="right_btn">
                            <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                                Private Letter
                                </a>
                        </div> -->
                        </div>
                    </div>
                </div>
            
                <!-- PostReply -->
                    <div class="container">
                        <div class="col-md-9">
                            <div class="PostReply_box">
                                <div class="PostReply_box_title">
                                    <div class="title_pic">
                                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">
                                    </div>
                                    <div class="title_content">
                                        Comment
                                    </div>
                                </div>
                                <div class="PostReply_box_content" id="commentlist">
                                    <!--<foreach name="commentlist" item="comment" key="commentkey">
                                        <div class="PostReply_box_content_item">
                                            <div class="item_pic">
                                                <img src="<if condition='$comment["user_icon"]'>./Uploads/{$comment['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                            </div>
                                            <div class="item_con">
                                                <div class="item_con_title">
                                                    <div class="item_user_name">
                                                        <span class="User_name">{$comment['user_name']}</span>
                                                        <div class="item_Top">
                                                            <img src="__PUBLIC__/Web/web/img/Top.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item_user_det">
                                                        <div class="det_time">
                                                            <div class="det_time_img">
                                                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                                            </div>
                                                            <div class="det_timed">
                                                                {$comment['note_comment_createtime']}
                                                            </div>
                                                        </div>
                                                        <div class="det_zan">
                                                            <if condition='$comment["note_comment_isreply"]!=1'>
                                                            <div class="det_reply" onclick="reply({$comment['note_comment_id']},this)">Reply</div>
                                                            </if>
                                                            <div class="line"></div>
                                                            <div class="det_zan_box">
                                                                <if condition='$comment["iszan"] == 0'>
                                                                <div class="zan_box_img" onclick="zan({$comment['note_comment_id']},this)">
                                                                    <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" alt="">
                                                                </div>
                                                                    <else />
                                                                    <div class="zan_box_img" onclick="unzan({$comment['note_comment_id']},this)">
                                                                        <img src='__PUBLIC__/Web/web/img/greated.png'>
                                                                    </div>
                                                                </if>
                                                                <div class="zan_box_num">
                                                                    {$comment['note_comment_zans']}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="item_con_det">
                                                    {$comment['note_comment_content']}
                                                </div>
            
                                                <div class="item_con_reply">
                                                    <div class="reply_person">
                                                    <if condition='$comment["note_comment_isreply"]==1'>
                                                        {$noteuser['user_name']} 回复 {$comment['user_name']} ： <span class="reply_c">{$comment['note_comment_reply']}</span>
                                                    </if>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </foreach>-->
                                </div>
                            </div>
                        </div>
                        </div>
            
                <!-- NumberOfPagesContainer -->
                <div class="container NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
                </div>
            
                <!-- form -->
            
                <div class="container">
                    <div class="col-md-9">
                    <form class="layui-form" onsubmit="return false">
                        <p style="color: #999; margin-bottom: 10px;">
                                Tips: How do you think of this article? Post a comment to help others understanding this article.
                        </p>
                        <div class="ReturnBox">
                            <div class="layui-form-text">
                                <span class="ReturnBoxicon">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                                    &nbsp;
                                    Comment
                                </span>
                                <div class="RepllyBox">
                                    <!-- <div class="ReplyUser">reply @ <span class="ReplyUser_name">Jack</span> ：</div> -->
                                </div>
                                <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea" id="content"></textarea>
                                <div class="bottom_btn">
                                    <div class="refresh_btn">
                                        <img src="__PUBLIC__/Web/web/img/refresh.png" alt="">
                                    </div>
                                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut" onclick="createcomment()">Post</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
           
        
            <!-- footer -->
            <footer class="footer">
                <include file = "./World/Index/View/Public/footer.html"/>
            </footer>
        </div>
    </body>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>

<script>

    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage,
            layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'NumberOfPages',
            count: {$commentcount},
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            jump: function(obj) {
                setcommentlist({$issueone['tutorship_issue_id']},obj.curr,obj.limit)
            }
        });

    });

    function setcommentlist(tid,limit1,limit2) {
        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_issuecommentlist')}",
            data:{
                tid:tid,
                limit1:limit1,
                limit2:limit2,

            },
            dataType:"json",
            success: function(data){
                console.log(data);
                if (data!=null&&data!="") {
                    if (data.str == 1) {
                        var message = '';
                        for (var i = 0; i < data.msg.length; i++) {
                            message += '<div class="PostReply_box_content_item"><div class="item_pic">'
                            var img = '__PUBLIC__/Web/web/img/01_shouye/UserPic.png';
                            if (data.msg[i].user_icon){
                                img = './Uploads/'+data.msg[i].user_icon
                            }
                            message += '<img src="'+img+'">'
                            message += '</div><div class="item_con"><div class="item_con_title"><div class="item_user_name">'
                            message += '<span class="User_name">'+data.msg[i].user_name+'</span>'
                            message += '<div class="item_Top">'
                            message += '</div></div><div class="item_user_det"><div class="det_time"><div class="det_time_img"><img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png"></div>'
                            message += '<div class="det_timed">'+data.msg[i].tutorship_issue_comment_createtime+'</div>'
                            message += '</div><div class="det_zan">'

                            if (data.msg[i].tutorship_issue_comment_isreply != 1 && {$ishave}==1){
                                message += '<div class="det_reply" onclick="reply('+data.msg[i].tutorship_issue_comment_id+',this)">Reply</div>'
                            }
                            message += '<div class="line"></div><div class="det_zan_box">'
                            if (data.msg[i].iszan == 0){
                                message += '<div class="zan_box_img" onclick="zan('+data.msg[i].tutorship_issue_comment_id+',this)"><img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" alt=""></div>'
                            }else{
                                message += '<div class="zan_box_img" onclick="unzan('+data.msg[i].tutorship_issue_comment_id+',this)"><img src="__PUBLIC__/Web/web/img/greated.png"></div>'
                            }
                            message += '<div class="zan_box_num">'+data.msg[i].tutorship_issue_comment_zans+'</div>'
                            message += '</div></div></div></div>'
                            message += '<div class="item_con_det">'+data.msg[i].tutorship_issue_comment_content+'</div>'
                            message += '<div class="item_con_reply"><div class="reply_person">'
                            if (data.msg[i].tutorship_issue_comment_isreply == 1){
                                message += '{$issueuser["user_name"]} 回复 '+data.msg[i].user_name+' ：<span class="reply_c">'+data.msg[i].tutorship_issue_comment_reply+'</span>'
                            }
                            message += '</div></div></div></div>'

                        }

                        $('#commentlist').html(message);

                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })
    }

    var replyid = 0
    function reply(comid,obj) {

        var name = $(obj).parent().parent().parent().children(".item_user_name").children(".User_name").text();
        var Cspan = "<span class='ReplyUser'>reply @ <span class='ReplyUser_name'>"+name+"</span> ：</span>"
        $(".ReplyUser").remove()
        $(".RepllyBox").append(Cspan);
        replyid = comid

    }

    $(".ReturnBox .refresh_btn").on("click",function(){
        $('.ReturnBox .ReplyUser').remove();
        $(".ReturnBox .Returntextarea").val("")
        replyid = 0
    })


    function createcomment() {
        var userid = "{$userid}"

        if (userid) {

            if (replyid != 0 ){

                $.ajax({
                    type: "post",
                    url: "{:U('Index/Ajax/ajax_replyIssueComment')}",
                    data: {
                        content: $("#content").val(),
                        replyid: replyid,

                    },
                    dataType: "json",
                    async: false,
                    success: function (list) {
                        //console.log(interest)
                        if (list.str == 1) {
                            layer.msg(list.msg, {
                                    time: 1500,
                                    icon: 1,
                                }, function () {
                                    location.reload();
                                }
                            );

                        } else {
                            layer.msg(list.msg, {
                                    time: 1500,
                                    icon: 2,
                                }
                            );

                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        layer.msg('请求失败!', {
                                time: 1500,
                                icon: 2,
                            }
                        );
                    }

                })

            }else {

                $.ajax({
                    type: "post",
                    url: "{:U('Index/Ajax/ajax_createIssueComment')}",
                    data: {
                        content: $("#content").val(),
                        tid: '{$issueone["tutorship_issue_id"]}'

                    },
                    dataType: "json",
                    async: false,
                    success: function (list) {
                        //console.log(interest)
                        if (list.str == 1) {
                            layer.msg(list.msg, {
                                    time: 1500,
                                    icon: 1,
                                }, function () {
                                    location.reload();
                                }
                            );

                        } else {
                            layer.msg(list.msg, {
                                    time: 1500,
                                    icon: 2,
                                }
                            );

                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        layer.msg('请求失败!', {
                                time: 1500,
                                icon: 2,
                            }
                        );
                    }

                })
            }
        }else {
            layer.msg("请先登录",{
                    time:1500,
                },function(){

                    window.location.href="{:U('Index/Login/login')}";
                }
            );
        }
    }

    function zan(comid,obj) {

        $.ajax({
            type: "post",
            url: "{:U('Index/Ajax/ajax_issueCommentZan')}",
            data: {
                commemtid:comid

            },
            dataType: "json",
            async: false,
            success: function (list) {

                if (list.str == 1){

                    $(obj).html("<img src='__PUBLIC__/Web/web/img/greated.png'>")
                    $(obj).attr('data-Click','true')
                    $(obj).attr('onclick','unzan('+comid+',this)')
                    var num = obj.parentNode.getElementsByClassName("zan_box_num")[0]
                    $(num).html(list.msg)

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                layer.msg('请求失败!', {
                        time: 1500,
                        icon: 2,
                    }
                );
            }
        })

    }
    function unzan(comid,obj) {

        $.ajax({
            type: "post",
            url: "{:U('Index/Ajax/ajax_issueCommentUnzan')}",
            data: {
                commemtid: comid

            },
            dataType: "json",
            async: false,
            success: function (list) {

                if (list.str == 1) {
                    $(obj).html("<img src='__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png'>")
                    $(obj).attr('data-Click', 'false')
                    $(obj).attr('onclick', 'zan(' + comid + ',this)')
                    var num = obj.parentNode.getElementsByClassName("zan_box_num")[0]
                    $(num).html(list.msg)

                } else {
                    layer.msg(list.msg, {
                            time: 1500,
                            icon: 2,
                        }
                    );

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                layer.msg('请求失败!', {
                        time: 1500,
                        icon: 2,
                    }
                );
            }

        })
    }


</script>


</html>