<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Released to provide counseling</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Academic/academic')}" class="crumbsa">Academic</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Academic/academicGroups')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Released to provide counseling</span>
    </div>
    <!-- Forget the password form -->
    <form class="layui-form layui-form-pane" action="">
        <div class="PasswordContainer">
            <div class="StepContainer">
                <div class="StepContainerOne">
                    <div class="InterestTitle">
                        <h3 class="text-center Interesth3">
                                Basic Information
                        </h3>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="PersonIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="name" placeholder="Enter the real name" class="layui-input">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="talkIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="contact" placeholder="Enter the contact number / email addresst" class="layui-input">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="HeadPortraitbox">
                            <span class="HeadPortraitIcon"></span>
                        </label>
                        <div class="picDiv">
                            <div class="addImages">
                                <!--multiple属性可选择多个图片上传-->
                                <input type="file" class="file" id="fileInput" accept="image/png, image/jpeg, image/gif, image/jpg">
                                <div class="text-detail">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                        <div class="msg" style="display: none;"></div>
                    
                    </div>
                    <div class="InterestTitle">
                        <h3 class="text-center Interesth3">
                                Demand Information
                        </h3>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="TitlesIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="title" placeholder="Enter the title" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="MoneyIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="price" placeholder="Enter the price" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="TimesIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="time" placeholder="Input can be counseling time  (30 words or less)" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="ContentsIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" id="content" placeholder="Enter tutorial content" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing">
                                <span class="ContentsIcon"></span>
                            </label>
                            <div class="layui-input-block input-spacing inputW">
                                <input type="text" name="number" lay-verify="required" autocomplete="off" id="explain" placeholder="Enter a note" class="layui-input">
                            </div>
                        </div>
                    <div class="FormContainer from-but">
                        <button class="layui-btn layui-btn-normal layui-btn-radius Submit-but" lay-submit="demo1" lay-filter="demo1">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- footer -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/GroupDetailsRelease.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</body>

<script>

    layui.use('form', function(){
        var form = layui.form;

        form.on('submit(demo1)', function(data1){

            var file_obj = document.getElementById('fileInput').files[0];
            var fd = new FormData();
            fd.append('img', file_obj);
            fd.append('cid', '{$cid}');
            fd.append('name', $("#name").val());
            fd.append('contact', $("#contact").val());
            fd.append('title', $("#title").val());
            fd.append('price', $("#price").val());
            fd.append('time', $("#time").val());
            fd.append('content', $("#content").val());
            fd.append('explain', $("#explain").val());

            $.ajax({
                url: "{:U('Index/Ajax/ajax_createCounseling')}",
                type: "POST",
                async: false,
                cache: false,
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                data: fd,
                dataType:"json",
                success: function(data){
                    console.log(data)
                    if (data.str == 1){
                        layer.msg('发布成功',{
                                time:1500,
                                icon:1,
                            },function () {
                            window.location.href="{:U('Index/Academic/provideCounsellingDetails')}&tid="+data.id+"&cid="+data.cid;
                            }
                        );


                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                },
                error: function(err) {

                    layer.msg('请求失败!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });


</script>


</html>