<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Released to provide counseling</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Academic/academic')}" class="crumbsa">Academic</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Academic/academicGroups')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Released to provide counseling</span>
    </div>
    <!-- Forget the password form -->
    <form class="layui-form layui-form-pane" action="">
        <div class="PasswordContainer">
            <div class="StepContainer">
                <div class="StepContainerOne">
                    <div class="InterestTitle">
                        <h3 class="text-center Interesth3">
                                Basic Information
                        </h3>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="PersonIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter the real name" class="layui-input">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="talkIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter the contact number / email addresst" class="layui-input">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="HeadPortraitbox">
                            <span class="HeadPortraitIcon"></span>
                        </label>
                        <div class="picDiv">
                            <div class="addImages">
                                <!--multiple属性可选择多个图片上传-->
                                <input type="file" class="file" id="fileInput" accept="image/png, image/jpeg, image/gif, image/jpg">
                                <div class="text-detail">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                        <div class="msg" style="display: none;"></div>
                    
                    </div>
                    <div class="InterestTitle">
                        <h3 class="text-center Interesth3">
                                Demand Information
                        </h3>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="TitlesIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter the title" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="MoneyIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter the price" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="TimesIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Input can be counseling time  (30 words or less)" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="ContentsIcon"></span>
                        </label>
                        <div class="layui-input-block input-spacing inputW">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter tutorial content" class="layui-input">
                        </div>
                    </div>

                    <div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing">
                                <span class="ContentsIcon"></span>
                            </label>
                            <div class="layui-input-block input-spacing inputW">
                                <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Enter a note" class="layui-input">
                            </div>
                        </div>
                    <div class="FormContainer from-but">
                        <button class="layui-btn layui-btn-normal layui-btn-radius Submit-but" lay-submit="" lay-filter="">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- foot start 底部信息 -->
    <footer class="container-fluid FooterBg">
        <div class="row FooterContainer">
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>ABOUT</dt>
                    <dd>
                        NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                    </dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>SUPPORT</dt>
                    <dd>Premium Support</dd>
                    <dd>Get Started</dd>
                    <dd>Partners</dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>Help Center</dt>
                    <dd><a href="HelpCenter.html">Help Center</a></dd>
                    <dd><a href="ContactUs.html">Contact Us</a></dd>
                </dl>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12">
                <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/GroupDetailsRelease.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</body>




</html>