<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post Sharing</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/changeimg.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/PostSharing.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Forget the password form -->
    <form class="layui-form layui-form-pane" action="">
        <div class="PasswordContainer">
            <div class="PostSharingbtext">
                <p>
                    Post content Post content Post content Post content Post content Post content Post content conten Post content
                    Post content Post content Post content Post content Post content Post content  conte Post content content Post
                    content Post content  conte Post content - Share oneself
                    @newworld https:/www.newworld.com/
                </p>
            </div>
            <hr>
            <div class="PostSharingbvideo">
                <a href="#" class="PostSharingbvideo_link">https://www.newworld.com/cover/psg9dnq6tz8qa08/f06073orbqe.html</a>
                <div class="PostSharingbvideo_V">
                    <video src="__PUBLIC__/Web/web/img/video.mp4" width="100%" height="150px"></video>
                    <div class="PostSharingbvideo_V_img"><img src="__PUBLIC__/Web/web/img/video_paly.png" alt=""></div>
                </div>
            </div>
            <hr>
            <p class="text-right PostSharingbut">
                <button class="layui-btn layui-btn-normal layui-btn-radius">Share</button>
            </p>
        </div>
    </form>
    <div class="shadow_video">
        </div>
            <div class="video_box">
                <div class="video_shut">x</div>
                <div class="video_area">
                <video width="100%" height="100%">
                        <!--<source src="../web/img/video.mp4" type="video/mp4"></source>-->
                    </video>
                <!-- <video width="100%" height="100%">
                        <source src="../web/img/video.mp4" type="video/mp4"></source>
                    </video> -->
                </div>
            </div>
    <!-- foot start 底部信息 -->
    <footer class="container-fluid PostSharingfooter">
        <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
    </footer>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script>
        $(".PasswordContainer .PostSharingbvideo .PostSharingbvideo_V .PostSharingbvideo_V_img").on("click",function(){
            $(".video_box").show();
            $(".shadow_video").show();
            $(".video_box .video_area").html('<video width="100%" height="100%" autoplay=""><source src="__PUBLIC__/Web/web/img/video.mp4" type="video/mp4"></source></video>')
        })
        $(".video_box .video_shut").click(function(){
            $(".video_box").hide();
            $(".shadow_video").hide();
            $(".video_box .video_area video").get(0).pause();
            // console.log($(".video_box .video_area video").pause())
    })
    </script>
</body>

</html>