<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Product details</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/lifeProductDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    </head>

    <body>
        <!-- logo -->
		<header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
			</header>
			<hr>
     <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Life/life')}" class="crumbsa">Life</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Life/lSecondHandMarket')}" class="crumbsa">Second-Hand Market</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Group name</span>
    </div>

    <!-- Product details -->
    <div class="Product_box container">
        <div class="row justify-content-between">
            <div class="col-md-9">
                <div class="product_title">
                    <div class="product_img">
                        <img src="__PUBLIC__/Web/web/img/01_shouye/pic3.png" alt="">
                    </div>
                    <h2>Product Name</h2>
                    <div class="Product_time">
                        01-20-2018 20:18:58
                    </div>
                </div>
                <div class="product_content">
                  <ul class="products_title">
                    <li>
                        <span class="products_title_name">Commodity prices :</span>
                        <span class="products_title_content"><small>$</small>138</span>
                    </li>
                    <li>
                        <span class="products_title_name">Transaction address :</span>
                        <span class="products_title_content">xxxxxxxxx</span>
                    </li>
                    <li>
                        <span class="products_title_name">Contact people :</span>
                        <span class="products_title_content">xxxxxxx</span>
                    </li>
                    <li>
                        <span class="products_title_name">Contact Information :</span>
                        <span class="products_title_content">xxxxxxxxxxxxxxxxxxxxx</span>
                    </li>
                    <li>
                        <span class="products_title_name">Types of :</span>
                        <span class="products_title_content">food</span>
                    </li>
                    <li>
                        <span class="products_title_name">Introduction :</span>
                        <span class="products_title_content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                    </li>
                    <li>
                        <span class="products_title_name">Remarks :</span>
                        <span class="products_title_content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                    </li>
                  </ul>
                </div>
            </div>
            <!-- Product details right -->
            <div class="col-md-3 product_right" style="  max-height: 430px;">
               <div class="product_right_title">
                   Personal Information
               </div>
               <div class="right_details">
                   <ul>
                       <li>
                           <p>Avatar :</p>
                           <span class="right_details_userimg"><img src="__PUBLIC__/Web/web/img/02_interest/Todoist.png"></span>
                       </li>
                       <li>
                           <p>Nickname :</p>
                           <span>Xiao Li</span>
                       </li>
                       <li>
                           <p>sex :</p>
                           <span>male</span>
                       </li>
                       <li>
                           <p>Posts :</p>
                           <span>1280</span>
                       </li>
                   </ul>
               </div>
               <!-- Seller_Info -->
               <div class="Seller_Info_title">
                    Seller Info
               </div>

               <div class="right_details">
                <ul>
                    <li>
                        <p>Contact :</p>
                        <span>11@gmail.com</span>
                    </li>
                    
                </ul>
            </div>
            <div class="right_btn">
                <a href="PersonalCenter.html" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                    Homepage
                    </a>
            </div>
            <!-- <div class="right_btn">
                <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                    Private Letter
                    </a>
            </div> -->
            </div>
        </div>
    </div>

    <!-- PostReply -->
    <div class="container">
        <div class="col-md-9">
            <div class="PostReply_box">
                <div class="PostReply_box_title">
                    <div class="title_pic">
                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">
                    </div>
                    <div class="title_content">
                            Comment
                    </div>
                </div>
                <div class="PostReply_box_content" id="commentlist">
                <!--<foreach name="commentlist" item="comment" key="commentkey">
                    <div class="PostReply_box_content_item">
                        <div class="item_pic">
                            <img src="<if condition='$comment["user_icon"]'>./Uploads/{$comment['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                        </div>
                        <div class="item_con">
                            <div class="item_con_title">
                                <div class="item_user_name">
                                    <span class="User_name">{$comment['user_name']}</span>
                                    <div class="item_Top">
                                        <img src="__PUBLIC__/Web/web/img/Top.png" alt="">
                                    </div>
                                </div>
                                <div class="item_user_det">
                                    <div class="det_time">
                                        <div class="det_time_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                        </div>
                                        <div class="det_timed">
                                            {$comment['note_comment_createtime']}
                                        </div>
                                    </div>
                                    <div class="det_zan">
                                        <if condition='$comment["note_comment_isreply"]!=1'>
                                        <div class="det_reply" onclick="reply({$comment['note_comment_id']},this)">Reply</div>
                                        </if>
                                        <div class="line"></div>
                                        <div class="det_zan_box">
                                            <if condition='$comment["iszan"] == 0'>
                                            <div class="zan_box_img" onclick="zan({$comment['note_comment_id']},this)">
                                                <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" alt="">
                                            </div>
                                                <else />
                                                <div class="zan_box_img" onclick="unzan({$comment['note_comment_id']},this)">
                                                    <img src='__PUBLIC__/Web/web/img/greated.png'>
                                                </div>
                                            </if>
                                            <div class="zan_box_num">
                                                {$comment['note_comment_zans']}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="item_con_det">
                                {$comment['note_comment_content']}
                            </div>
        
                            <div class="item_con_reply">
                                <div class="reply_person">
                                <if condition='$comment["note_comment_isreply"]==1'>
                                    {$noteuser['user_name']} 回复 {$comment['user_name']} ： <span class="reply_c">{$comment['note_comment_reply']}</span>
                                </if> 
                                </div>
                            </div>
                        </div>
                    </div>
                </foreach>-->
                </div>
            </div>
            <!-- NumberOfPagesContainer -->
            <div class="container NumberOfPagesContainer">
                <div id="NumberOfPages"></div>
            </div>
        </div>
    </div>
    
</div>
   

<!-- form -->
<div class="container">
    <div class="col-md-9">
            <form class="layui-form" onsubmit="return false">
                <p style="color: #999; margin-bottom: 10px;">
                        Tips: How do you think of this article? Post a comment to help others understanding this article.
                </p>
                <div class="ReturnBox">
                    <div class="layui-form-text">
                        <span class="ReturnBoxicon">
                            <img src="/Public/Web/web/img/02_interest/interest_xq_icon_pj.png">
                            &nbsp;
                            Comment
                        </span>
                        <div class="RepllyBox">
                            <!-- <div class="ReplyUser">reply @ <span class="ReplyUser_name">Jack</span> ：</div> -->
                        </div>
                        <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea" id="content"></textarea>
                        <div class="bottom_btn">
                            <div class="refresh_btn">
                                <img src="/Public/Web/web/img/refresh.png" alt="">
                            </div>
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut" onclick="createcomment()">Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   

    <!-- footer -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    </body>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</html>