<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Product</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/mineProduct.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
    </head>
    <body>
        <div class="web">
            <!-- logo -->
            <header class="container">
                <include file = "./World/Index/View/Public/head.html"/>
                </header>
                <hr>
    
            <!-- Crumbs nav -->
            <div class="container">
                <div class="row">
                        <div class="col-md-6 crumbs">
                                <a href="{:U('Index/Life/life')}" class="crumbsa">Life</a>
                                <cite class="Icon"></cite>
                                <a href="{:U('Index/Life/lSecondHandMarket')}" class="crumbsa">Second-Hand Market</a>
                                <cite class="Icon"></cite>
                                <span class="crumbsTitle">My product</span>
                            </div>
                            <div class="col-md-6">
                                    <div class="SelectionContainer">
                                            <input type="text" class="layui-input" id="Selectionform">
                                            <a href="#" id="SelectionIcon">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_search_icon.png">
                                            </a>
                                        </div>
                            </div>
                </div>
            </div>
            <div class="section">
                <!-- tabs -->
                <div class="container">
                        <div class="layui-tab">
                                <ul class="layui-tab-title">
                                  <li class="layui-this">my release</li>
                                  <li>my collection</li>
                                </ul>
                                <div class="layui-tab-content">
                                  <div class="layui-tab-item layui-show MyRelease">
                                      <div class="item_box">
                                          <div class="item_box_left">
                                              <div class="item_box_product_img">
                                                    <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                              </div>
                                              <div class="item_box_product_details">
                                                  <ul>
                                                      <li>
                                                          <p>Product Name :</p>
                                                          <span>green food</span>
                                                      </li>
                                                      <li>
                                                            <p>Price :</p>
                                                            <span>$10</span>
                                                        </li>
                                                        <li>
                                                                <p>Product Description :</p>
                                                                <span>First, I want to tell you how proud we are. Getting into Columbia is a real testament of what 
                                                                        a great well-rounded student you are. Your academic, artistic, and social skills have truly bl
                                                                        ossomed in the last few years. Whether it is getting the highest grade in Calculus, completi
                                                                        ng your elegant fashion design。
                                                                    </span>
                                                            </li>
                                                            <li>
                                                                    <p>Salary :</p>
                                                                    <span>$ 1000 ~ $ 2000</span>
                                                                </li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="item_box_right">
                                                    <a href="#" data-toggle="modal" data-target="#box3" class="right_icon">
                                                        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png">
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#box2" class="right_icon">
                                                        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png">
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#box1" class="right_icon">
                                                        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png">
                                                    </a>
                                            </div>
                                            
                                    </div>
        
                                    <div class="item_box">
                                        <div class="item_box_left">
                                            <div class="item_box_product_img">
                                                  <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                            </div>
                                            <div class="item_box_product_details">
                                                <ul>
                                                    <li>
                                                        <p>Product Name :</p>
                                                        <span>green food</span>
                                                    </li>
                                                    <li>
                                                          <p>Price :</p>
                                                          <span>$10</span>
                                                      </li>
                                                      <li>
                                                              <p>Product Description :</p>
                                                              <span>First, I want to tell you how proud we are. Getting into Columbia is a real testament of what 
                                                                      a great well-rounded student you are. Your academic, artistic, and social skills have truly bl
                                                                      ossomed in the last few years. Whether it is getting the highest grade in Calculus, completi
                                                                      ng your elegant fashion design。
                                                                  </span>
                                                          </li>
                                                          <li>
                                                                  <p>Salary :</p>
                                                                  <span>$ 1000 ~ $ 2000</span>
                                                              </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item_box_right">
                                                  <a href="#" data-toggle="modal" data-target="#box3" class="right_icon">
                                                      <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png">
                                                  </a>
                                                  <a href="#" data-toggle="modal" data-target="#box2" class="right_icon">
                                                      <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png">
                                                  </a>
                                                  <a href="#" data-toggle="modal" data-target="#box1" class="right_icon">
                                                      <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png">
                                                  </a>
                                          </div>
                                          
                                  </div>
                                      </div>
                                  
                                  <div class="layui-tab-item">
                                    <div class="item_box">
                                        <div class="item_box_left">
                                                <a href="../web/lifeProductDetails.html">
                                            <div class="item_box_product_img">
                                                  <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                            </div>
                                            <div class="item_box_product_details">
                                                <ul>
                                                    <li>
                                                        <p>Product Name :</p>
                                                        <span>green food</span>
                                                    </li>
                                                    <li>
                                                          <p>Price :</p>
                                                          <span>$10</span>
                                                      </li>
                                                      <li>
                                                              <p>Product Description :</p>
                                                              <span>First, I want to tell you how proud we are. Getting into Columbia is a real testament of what 
                                                                      a great well-rounded student you are. Your academic, artistic, and social skills have truly bl
                                                                      ossomed in the last few years. Whether it is getting the highest grade in Calculus, completi
                                                                      ng your elegant fashion design。
                                                                  </span>
                                                          </li>
                                                          <li>
                                                                  <p>Salary :</p>
                                                                  <span>$ 1000 ~ $ 2000</span>
                                                              </li>
                                                </ul>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="item_box_right">
                                            <a href="../web/lifeProductDetails.html">
                                                  <div class="right_pic">
                                                      <img src="__PUBLIC__/Web/web/img/02_interest/user.png" alt="">
                                                  </div>
                                                  <div class="right_name">
                                                    Kendall J.
                                                </div>
                                            </a>
                                          </div>
                                         
                                    </div>
                                  </div>
                                </div>
                                </div>
                              </div>
                <!-- </div> -->
                <!-- 删除 -->
                <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">
                                    Tips
                                </span>
                                <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                    <span aria-hidden="true">&times;
                                </a>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Do you delete the product?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 关闭 -->
                <div id="box2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">
                                    Tips
                                </span>
                                <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                    <span aria-hidden="true">&times;
                                </a>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Do you confirm the completion of the transaction?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-completion-primary" data-dismiss="modal">confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 编辑 -->
                <div id="box3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">
                                    Edit the product
                                </span>
                                <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                    <span aria-hidden="true">&times;
                                </a>
                            </div>
                            <div class="modal-body">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>product name ：</p>
                                    </label>
                                    <div class="layui-input-block" style="margin-left: 64px;">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter product name" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>product price ：</p>
                                    </label>
                                    <div class="layui-input-block" style="margin-left: 64px;">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter product price" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>Trading address ：</p>
                                    </label>
                                    <div class="layui-input-block" style="margin-left: 64px;">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the Trading address" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>contacts ：</p>
                                    </label>
                                    <div class="layui-input-block" style="margin-left: 64px;">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter contacts" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>contact number  ：</p>
                                    </label>
                                    <div class="layui-input-block" style="margin-left: 64px;">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter contact number " class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>type ：</p>
                                    </label>
                                    <select class="form-control">
                                        <option>default</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="layui-form-item layui-form-text" style="height: 100px;">
                                        <label class="layui-form-label" style="margin-left: -22px;">
                                                <p>description ：</p>
                                            </label>
                                        <div class="layui-input-block" style="">
                                            <textarea placeholder="Enter the description of the product" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                               <div class="layui-form-item">
                                    <label class="layui-form-label" style="margin-left: -22px;">
                                        <p>upload pictures ：</p>
                                    </label>
                                    <div class="UserHeadImage">
                                        <img id="pic" class="img">
                                        <input id="upload" class="but" name="file" accept="image/*" type="file">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text" style="height: 100px;">
                                        <label class="layui-form-label" style="margin-left: -22px;">
                                                <p>Remarks ：</p>
                                            </label>
                                        <div class="layui-input-block" style="">
                                            <textarea placeholder="Input remarks" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
                </div>

            </div>
    
            <!-- footer -->
            <footer class="footer">
                <include file = "./World/Index/View/Public/footer.html"/>
            </footer>

        </div>

    </body>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
        var element = layui.element;
        
        //…
        });
    </script>    
    <script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>
    <!-- 点击关闭删除 -->
    <script>
        $(function(){
            (function(){
                var num;
                $(".MyRelease").on('click',".item_box", function(event) {
                    num = $(this).index();
                });
                $(".btn-primary").on('click', function(event) {
                        $(".MyRelease .item_box").eq(num).remove();
                });
                $('.btn-completion-primary').on('click',function(){
                    console.log($(".MyRelease .item_box .item_box_right").eq(num))
                    $(".MyRelease .item_box .item_box_right").eq(num).html("<img src='__PUBLIC__/Web/web/img/05_life/life_mproduct_icon_finished.png'>")
                })
            })();
            
        });
    </script>

<script>
    var count = {$comditycount}



        /*<div class="item_box">
        <div class="item_box_left">
        <div class="item_box_product_img">
        <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
        </div>
        <div class="item_box_product_details">
        <ul><li>
        <p>Product Name :</p>
    <span>green food</span>
    </li><li>
    <p>Price :</p>
    <span>$10</span>
    </li><li>
    <p>Product Description :</p>
    <span>First, I want to tell you how proud we are. Getting into Columbia is a real testament of what
    a great well-rounded student you are. Your academic, artistic, and social skills have truly bl
    ossomed in the last few years. Whether it is getting the highest grade in Calculus, completi
    ng your elegant fashion design。
    </span></li><li>
    <p>Salary :</p>
    <span>$ 1000 ~ $ 2000</span>
    </li></ul></div></div>
    <div class="item_box_right">
        <a href="#" data-toggle="modal" data-target="#box3" class="right_icon">
        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png">
        </a>
        <a href="#" data-toggle="modal" data-target="#box2" class="right_icon">
        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png">
        </a>
        <a href="#" data-toggle="modal" data-target="#box1" class="right_icon">
        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png">
        </a></div></div>*/


</script>

</html>