<head>
		<meta charset="utf-8" />
		<title>子昊钢琴后台管理系统</title>
		<meta name="keywords" content="子昊钢琴后台管理系统" />
		<meta name="description" content="子昊钢琴后台管理系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />
		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />
	

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
			<!--[if !IE]> -->

		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>
		<script src="jquery-1.7.2.min.js"></script>
		
		<!-- <![endif]-->
		<!-- ace settings handler -->

		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>
			<script type="text/javascript">
			$(function(){
				$('.radio1 .ace').click(function(){
					$(this).siblings('select').children('.shanchu').css({'display':'block'})
					$(this).parent('label').siblings().children('select').children('.shanchu').css({'display':'none'})
				})
			})
		</script>
	
		

		<script type="text/javascript">
			$(function(){			
				$('.radio1 .ace').click(function(){
					$(this).siblings('select').children('.shanchu').css({'display':'block'})
					$(this).parent('label').siblings().children('select').children('.shanchu').css({'display':'none'})
				})
			})
		</script>



		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.gnhxzsc .col-sm-9 span{ width:50px; height:30px; line-height:30px; text-align:center; display:inline-block; margin-left:20px; border-radius:5px; background:#438eb9;color:#fff}
		</style>
	</head>
	<body style='background:#fff;'>
		<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>
				<li class="active">控制台</li>
			</ul><!-- .breadcrumb -->
		</div>
	</div><!-- /.main-content -->



	<div class="page-content">
	<div class="page-header">
		<h1>
			题目管理
			
			<small> <i class="icon-double-angle-right"></i>
				新增练习题目
			</small>
			 
		</h1>
	</div>


	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" action="{:U('Admin/Music/timu_add')}" method="POST" role="form" enctype="multipart/form-data">

<style type='text/css'>
	.anniu{width:100%; height:40px; position:relative;}
	.anniu ul{width:auto; height:30px; border:1px solid #ccc; overflow:hidden; position:absolute; top:0; left:0; list-style:none; color:#333; box-sizing:border-box; font-size:13px; cursor: pointer;}	    
	.anniu ul li.current{background:#2679b5; color:#fff;width:100px; height:30px; float:left; border-right:1px solid #ccc;  line-height:30px; text-align:center; box-sizing:border-box;}
	.anniu ul li{width:100px; height:30px; float:left; border-right:1px solid #ccc;  line-height:30px; text-align:center; box-sizing:border-box;}
</style>	


					<div class='anniu'>					 
						<ul>
							<li role="presentation"  onclick="jump()">识谱练系</li>
							<li role="presentation"  onclick="jump1()">音阶练习</li>
							<li role="presentation" class="current" onclick="jump2()">音程练习</li>
							<li role="presentation"  onclick="jump3()">听音练习</li>   
						</ul>
					</div>


				     <div class="form-group" >
							<input name="lianxi" type="hidden" value="3"  />
			     	</div>
			     	<!--  <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">谱表类型</label>
						<div class="col-sm-9">
							<div class="radio1">
								<label>
									<input name="pubiao" type="radio" value="1" class='ace' checked/>
									<span class="lbl">高音谱表</span>
								</label>
								<label>
									<input name="pubiao" type="radio" value="2" class='ace' />
									<span class="lbl">低音谱表</span>
								</label>
								<label>
									<input name="pubiao" type="radio" value="3" class='ace' />
									<span class="lbl">大谱表</span>
								</label>
								
							</div>
						</div>
					</div> -->
				    <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">难度</label>
						<div class="col-sm-9">
							<div class="radio1">
								<label>
									<input name="nandu" type="radio" value="1" class='ace' checked/>
									<span class="lbl">一级</span>
								</label>
								<label>
									<input name="nandu" type="radio" value="2" class='ace' />
									<span class="lbl">二级</span>
								</label>
								<label>
									<input name="nandu" type="radio" value="3" class='ace' />
									<span class="lbl">三级</span>
								</label>
								<label>
									<input name="nandu" type="radio" value="4" class='ace' />
									<span class="lbl">四级</span>
								</label>
								<label>
									<input name="nandu" type="radio" value="5" class='ace' />
									<span class="lbl">五级</span>
								</label>
							</div>
						</div>
					</div>
				    
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">音符</label>
						<div class="col-sm-9">
							<div class="radio1">

								<!-- <label class = 'shipu'>
									<input name="yinfu" type="radio" value="1" class='ace' />
									<span class="lbl">单音</span>
								</label>
								<label class = 'shipu'>
									<input name="yinfu" type="radio" value="2" class='ace' />
									<span class="lbl">双音</span>
								</label> -->
								<label class = 'shipu'>
									<input name="yinfu" type="radio" value="3" class='ace' />
									<span class="lbl">弦律音程</span>
								</label>
								<label class = 'shipu'>
									<input name="yinfu" type="radio" value="4" class='ace' />
									<span class="lbl">和声音程</span>
								</label>
	
							</div>
						</div>
					</div>
					<!-- <div class="form-group" >
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">音域</label>
						<div class="col-sm-9">
						<select name="yinyu" style="width:135px;">	
						      <option value="">请选择</option>						
							  <option value="1">A2-B2</option>
							  <option value="2">C1-B1</option>
							  <option value="3">C-B</option>
							  <option value="4">c-b</option>
							   <option value="5">c1-b1</option>
							  <option value="6">c2-b2</option>
							  <option value="7">c3-b3</option>
							  <option value="8">c4-b4</option>
							  <option value="9">c5</option>
					
						</select>
						  </div>
			     	</div> -->
			     	<!-- <div class="form-group" >
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">调号</label>
						<div class="col-sm-9">
						<select name="diaohao" style="width:135px;">	
						      <option value="">请选择</option>						
							  <option value="1">A</option>
							  <option value="2">B</option>
							  <option value="3">C</option>
							  <option value="4">D</option>
							   <option value="5">E</option>
							  <option value="6">F</option>
							  <option value="7">G</option>
							  <option value="8">A♭</option>
							  <option value="9">B♭</option>
							   <option value="10">D♭</option>
							  <option value="11">E♭</option>
							  <option value="12">G♭</option>
						
						</select>
						  </div>
			     	</div> -->
				  	<div class="form-group" id="user-profile-3" >
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1">题目文件</label>
							<div class="col-sm-9">
								<div class="col-xs-12 col-sm-4">
									<input type="file" name="thumb" id='upload_pdf'/>
								    <div id='timu'>	  
									   
								    </div> 
								</div>
								<input type='hidden' name='timuurl' value="">
							 
							</div>
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1">题目名字</label>
							<div class="col-sm-9">
								<div class="col-xs-12 col-sm-4">
									<input type="text" name="fname" id='fname'/>
								    <div id='timu'>	  
									   
								    </div> 
								</div>
								<input type='hidden' name='addstatus' value="add2">
							 
							</div>

					</div>
<script type="text/javascript" src="__PUBLIC__/Tools/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Tools/uploadify/uploadify.css">											
<script type="text/javascript">
//上传图片
   /* 初始化上传插件 */
    var userid = <?php echo $_SESSION['piano_user']['aid']?>//登陆用户id
 $("#upload_pdf").uploadify({
       "height"          : 30,     
       "swf"             : "__PUBLIC__/Tools/uploadify/uploadify.swf",
       "fileObjName"     : "download",
       "buttonText"      : "上传题目",
       "uploader"        : "{:U('Admin/File/uploadTimu',array('sessionid'=>'"+userid+"'))}",
       "width"           : 120,
      // 'multi': true,//是否多文件上传
       'removeTimeout'	  : 1,
       'fileTypeExts'	  : '*.xml;',
       "onUploadSuccess" : uploadPicturecover,
       'onFallback' : function() {
           alert('未检测到兼容版本的Flash.');
       }
   });
    
   
   function uploadPicturecover(file, data){ 			
			       $("#timu").html('成功');
				   $("input[name='timuurl']").val(data)
								   
   } 
   $('#upload_picture-button').css('background','#87b87f');
   $('#upload_picture-button').css('border','none');
</script>
					
				
				
				<div class="form-actions center">
					<a  class="btn btn-sm btn-success" id='tianjia'>
						<i class="icon-edit bigger-110"></i>
						添加
					</a>
					 <a class="btn btn-sm btn-warning" href="javascript:history.back(-1)" class="myButton">
						<i class="icon-arrow-left icon-on-left bigger-110"></i>
						返回
					</a> 
				</div>
			</form>
		</div>
	</div>
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
	.btn-xs {
		margin-right: 10px!important;
	}
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>


<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>



<script>
function showStart(){
    return true;
}
function showSuccess(data){
	
    	if(data == 1){
    		alert('新增成功')
    		location.href="index.php?m=Admin&c=Music&a=timu_list"
    	}else{
    		alert(data)
    		return false
    	} 

}
$(function(){
	var options = {
		        beforeSubmit:showStart,
		        success:showSuccess,

		 };
	$('#tianjia').click(function(){
		/* $('input[name="name[]"]').each(function(){
			if($(this).val() == ''){
				alert('课时名称不能为空')
				return false
			}
		}) */
		
		$('.form-horizontal').ajaxSubmit(options);
	})

	
	
})
function jump(){
	location.href = "index.php?m=Admin&c=Music&a=show_timu_add"
}
function jump1(){
	location.href = "index.php?m=Admin&c=Music&a=show_timu_add1"
}
function jump2(){
	location.href = "index.php?m=Admin&c=Music&a=show_timu_add2"
}
function jump3(){
	location.href = "index.php?m=Admin&c=Music&a=show_timu_add3"
}
</script>











