<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details of the post</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/PostVideoDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Rnterst/interest')}" class="crumbsa">interest</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Rnterst/groupDetails')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Post details</span>

    </div>
    <div class="container StickSonDetailsContainer">
        <div class="row">
            <div class="col-md-9">
                <p class="text-right">
                    <a href="{:U('Index/Rnterst/postSharing')}">
                        <img src="__PUBLIC__/Web/web/img/02_interest/fenxiang.png">
                    </a>
                </p>
                <h3 class="text-center">
                    <if condition='$noteone["note_istop"]'>
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                    </if>
                    <if condition='$noteone["note_iswally"]'>
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                    </if>
                    {$noteone["note_name"]}
                    <p class="text-center StickSonDetailsTitleTime">{$noteone["note_createtime"]}</p>
                </h3>
                <div class="StickSonDetailsContent">
                    <p>
                        {$noteone["note_content"]}
                    </p>
                    <foreach name="vilist" item="vi" key="vikey">
                        <if condition='$vi["note_vi_type"]==1'>
                    <p>
                        <img src="./Uploads/{$vi['note_vi_url']}" class="imgs">
                    </p>
                        </if>
                        <if condition='$vi["note_vi_type"]==2'>
                            <div class="picfenxiangbox">
                                <a href="{:U('Index/Rnterst/videoFen')}">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/picfenxiang.png" class="picfenxiang">
                                </a>
                            </div>
                            <video class="imgs" controls preload="auto">
                                <source src="./Uploads/{$vi['note_vi_url']}" type="video/mp4">
                            </video>
                        </if>
                    </foreach>
                    <div class="PostReply">
                        <P>
                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">&nbsp;&nbsp;
                            <b>Comment</b>
                        </P>
                        <foreach name="commentlist" item="comment" key="commentkey">
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="<if condition='$comment["user_icon"]'>./Uploads/{$comment['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">{$comment['user_name']}</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            {$comment['note_comment_createtime']}
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                            {$comment['note_comment_zans']}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">

                                {$comment['note_comment_content']}
                            </div>
                            <div class="ReplyContainer">
                                <if condition='$comment["note_comment_isreply"]==1'>
                                {$noteuser['user_name']} 回复 {$comment['user_name']} ： {$comment['note_comment_reply']}
                                </if>
                            </div>
                        </div>
                        </foreach>
                    </div>
                </div>
                <div class="container NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
                </div>
                <form class="layui-form" onsubmit="return false">
                    <p style="color: #999; margin-bottom: 10px;">
                        Tips: think this article how? Evaluation helps other readers understand this article.
                    </p>
                    <div class="ReturnBox">
                        <div class="layui-form-item layui-form-text">
                            <span class="ReturnBoxicon">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                                &nbsp;
                                Comments
                            </span>
                            <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea" id="content"></textarea>
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut" onclick="createcomment()">Posted</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="GroupDetailsContainer">
                    <div class="text-center h5 p">Post Details</div>
                    <div class="p"><b>Personal Information</b></div>
                    <div class="p">
                        <b>Group icon  : </b>
                        <div class="p_pic"><img src="<if condition='$noteuser["user_icon"]'>./Uploads/{$noteuser['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>"></div>  
                    </div>
                    <div class="p"><b>Nickname：</b>{$noteuser['user_name']}</div>
                    <div class="p"><b>Number of posts  :</b>{$noteuser['user_notes']}</div>
                    <div class="text-center Followtbut">
                        <a href="{:U('Index/User/personalCenter')}&id={$noteuser['user_id']}" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                        Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- foot start 底部信息 -->
    <footer class="container-fluid FooterBg">
        <div class="row FooterContainer">
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>ABOUT</dt>
                    <dd>
                        NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                    </dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>SUPPORT</dt>
                    <dd>Premium Support</dd>
                    <dd>Get Started</dd>
                    <dd>Partners</dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>Help Center</dt>
                    <dd>Help Center</dd>
                    <dd>Contact Us</dd>
                </dl>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12">
                <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</body>

<script>

    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage,
            layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'NumberOfPages',
            count: {$commentcount},
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            jump: function(obj) {
                console.log(obj)
            }
        });

    });
    
    
    function createcomment() {
        var userid = "{$userid}"

        if (userid) {

            $.ajax({
                type: "post",
                url: "{:U('Index/Ajax/ajax_createNoteComment')}",
                data: {
                    content: $("#content").val(),
                    nid: '{$noteone["note_id"]}'

                },
                dataType: "json",
                async: false,
                success: function (list) {
                    //console.log(interest)
                    if (list.str == 1){
                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                        location.reload();
                        }
                    );

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    layer.msg('请求失败!', {
                            time: 1500,
                            icon: 2,
                        }
                    );
                }

            })
        }else {
            layer.msg("请先登录",{
                    time:1500,
                },function(){

                    window.location.href="{:U('Index/Login/login')}";
                }
            );
        }


    }

</script>

</html>