<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details of the post</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/PostVideoDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    <style>
        a:not([href]):not([tabindex]){
            color: #2e3b47;
        }
        a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
            color: #2e3b47;
        }
        .layui-layer-btn .layui-layer-btn0 {
            border-color: #1E9FFF;
            background-color: #1E9FFF;
            color: #FFF!important;
        }
    </style>
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Rnterst/interest')}" class="crumbsa">interest</a>
        <cite class="Icon"></cite>
        <a href="{:U('Index/Rnterst/groupDetails')}&cid={$cid}" class="crumbsa">{$crowdone['crowd_name']}</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">Post details</span>

    </div>
    <div class="container StickSonDetailsContainer">
        <div class="row">
            <div class="col-md-9">
                <p class="text-right">
                    <a href="{:U('Index/Rnterst/postSharing')}">
                        <img src="__PUBLIC__/Web/web/img/02_interest/fenxiang.png">
                    </a>
                </p>
                <h3 class="text-center">
                    <if condition='$noteone["note_istop"]'>
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                    </if>
                    <if condition='$noteone["note_iswally"]'>
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                    </if>
                    {$noteone["note_name"]}
                    <p class="text-center StickSonDetailsTitleTime">{$noteone["note_createtime"]}</p>
                </h3>
                <div class="StickSonDetailsContent">
                    <p>
                        {$noteone["note_content"]}
                    </p>
                    <foreach name="vilist" item="vi" key="vikey">
                        <if condition='$vi["note_vi_type"]==1'>
                    <p>
                        <img src="./Uploads/{$vi['note_vi_url']}" class="imgs">
                    </p>
                        </if>
                        <if condition='$vi["note_vi_type"]==2'>
                            <div class="picfenxiangbox">
                                <a href="{:U('Index/Rnterst/videoFen')}">
                                    <img src="__PUBLIC__/Web/web/img/02_interest/picfenxiang.png" class="picfenxiang">
                                </a>
                            </div>
                            <video class="imgs" controls preload="auto">
                                <source src="./Uploads/{$vi['note_vi_url']}" type="video/mp4">
                            </video>
                        </if>
                    </foreach>
                    <if condition='$noteone["note_type"] == 3'>
                    <p class="Resource_link">Download link : <a href="javascript:void(0)" onclick="downloadFile('./Uploads/{$noteone["note_url"]}')">点击此处下载资源</a></p>
                    </if>
                    <div class="PostReply_box">
                        <div class="PostReply_box_title">
                            <div class="title_pic">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">
                            </div>
                            <div class="title_content">
                                    Comment
                            </div>
                        </div>
                        <div class="PostReply_box_content" id="commentlist">
                        <!--<foreach name="commentlist" item="comment" key="commentkey">
                            <div class="PostReply_box_content_item">
                                <div class="item_pic">
                                    <img src="<if condition='$comment["user_icon"]'>./Uploads/{$comment['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                </div>
                                <div class="item_con">
                                    <div class="item_con_title">
                                        <div class="item_user_name">
                                            <span class="User_name">{$comment['user_name']}</span>
                                            <div class="item_Top">
                                                <img src="__PUBLIC__/Web/web/img/Top.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item_user_det">
                                            <div class="det_time">
                                                <div class="det_time_img">
                                                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                                </div>
                                                <div class="det_timed">
                                                    {$comment['note_comment_createtime']}
                                                </div>
                                            </div>
                                            <div class="det_zan">
                                                <if condition='$comment["note_comment_isreply"]!=1'>
                                                <div class="det_reply" onclick="reply({$comment['note_comment_id']},this)">Reply</div>
                                                </if>
                                                <div class="line"></div>
                                                <div class="det_zan_box">
                                                    <if condition='$comment["iszan"] == 0'>
                                                    <div class="zan_box_img" onclick="zan({$comment['note_comment_id']},this)">
                                                        <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" alt="">
                                                    </div>
                                                        <else />
                                                        <div class="zan_box_img" onclick="unzan({$comment['note_comment_id']},this)">
                                                            <img src='__PUBLIC__/Web/web/img/greated.png'>
                                                        </div>
                                                    </if>
                                                    <div class="zan_box_num">
                                                        {$comment['note_comment_zans']}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item_con_det">
                                        {$comment['note_comment_content']}
                                    </div>

                                    <div class="item_con_reply">
                                        <div class="reply_person">
                                        <if condition='$comment["note_comment_isreply"]==1'>
                                            {$noteuser['user_name']} 回复 {$comment['user_name']} ： <span class="reply_c">{$comment['note_comment_reply']}</span>
                                        </if> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </foreach>-->
                        </div>
                    </div>
                </div>
                <div class="container NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
                </div>
                <form class="layui-form" onsubmit="return false">
                    <p style="color: #999; margin-bottom: 10px;">
                        Tips: think this article how? Evaluation helps other readers understand this article.
                    </p>
                    <div class="ReturnBox">
                        <div class="layui-form-text">
                            <span class="ReturnBoxicon">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                                &nbsp;
                                Comments
                            </span>
                            <div class="RepllyBox">
                                <!-- <div class="ReplyUser">reply @ <span class="ReplyUser_name">Jack</span> ：</div> -->
                            </div>
                            <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea" id="content"></textarea>
                            <div class="bottom_btn">
                                <div class="refresh_btn">
                                    <img src="__PUBLIC__/Web/web/img/refresh.png" alt="">
                                </div>
                                <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut" onclick="createcomment()">Posted</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="GroupDetailsContainer">
                    <div class="text-center h5 p">Post Details</div>
                    <div class="p"><b>Personal Information</b></div>
                    <div class="p">
                        <b>Acatar：</b>
                        <div class="p_pic"><img src="<if condition='$noteuser["user_icon"]'>./Uploads/{$noteuser['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>"></div>  
                    </div>
                    <div class="p"><b>Nickname：</b>{$noteuser['user_name']}</div>
                    <div class="p"><b>Number of posts  :</b>{$noteuser['user_notes']}</div>
                    <if condition='$noteone["note_type"]==2'>
                    <div class="p"><b>Post Information</b></div>
                    <div class="p"><b>Reward：</b>{$noteone['note_reward']}</div>
                    </if>
                    <if condition='$noteone["note_type"]==3'>
                        <div class="p"><b>Post Information</b></div>
                        <div class="p"><b>Download：</b>{$noteone['note_reward']}</div>
                    </if>
                    <div class="text-center Followtbut">
                        <a href="{:U('Index/User/personalCenter')}&id={$noteuser['user_id']}" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                        Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</body>
<script>
    $(".ReturnBox .refresh_btn").on("click",function(){
        $('.ReturnBox .ReplyUser').remove();
        $(".ReturnBox .Returntextarea").val("")
    })
    /*$(".item_con_title .item_user_det .det_zan .det_zan_box .zan_box_img").on("click",function(){
    console.log()
    if($(this).attr('data-Click')!="true"){
        $(this).html("<img src='__PUBLIC__/Web/web/img/greated.png'>")
        console.log()
        $(this).attr('data-Click','true')
    }else{
        
    }
})*/
    function zan(comid,obj) {
        /*console.log(comid)
        console.log(obj)*/
        //console.log(obj.parentNode.getElementsByClassName("zan_box_num")[0])
        $.ajax({
            type: "post",
            url: "{:U('Index/Ajax/ajax_noteCommentZan')}",
            data: {
                commemtid:comid

            },
            dataType: "json",
            async: false,
            success: function (list) {
                console.log(list)
                if (list.str == 1){

                    $(obj).html("<img src='__PUBLIC__/Web/web/img/greated.png'>")
                    $(obj).attr('data-Click','true')
                    $(obj).attr('onclick','unzan('+comid+',this)')
                    var num = obj.parentNode.getElementsByClassName("zan_box_num")[0]
                    $(num).html(list.msg)

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                layer.msg('请求失败!', {
                        time: 1500,
                        icon: 2,
                    }
                );
            }
        })

    }
    function unzan(comid,obj) {
        /*console.log(comid)
        console.log(obj)*/
        $.ajax({
            type: "post",
            url: "{:U('Index/Ajax/ajax_noteCommentUnzan')}",
            data: {
                commemtid:comid

            },
            dataType: "json",
            async: false,
            success: function (list) {
                console.log(list)
                if (list.str == 1){
                    $(obj).html("<img src='__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png'>")
                    $(obj).attr('data-Click','false')
                    $(obj).attr('onclick','zan('+comid+',this)')
                    var num = obj.parentNode.getElementsByClassName("zan_box_num")[0]
                    $(num).html(list.msg)

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                layer.msg('请求失败!', {
                        time: 1500,
                        icon: 2,
                    }
                );
            }

        })
        /*$(obj).html("<img src='__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png'>")
        $(obj).attr('data-Click','false')*/
    }
    
    
// $(function(){
//             (function(){
//                 var num;
//                 $(".PostReply_box_content").on('click',".PostReply_box_content_item", function(event) {
//                     num = $(this).index();
//                     console.log(num)
//                 });
                // $(".btn-primary").on('click', function(event) {
                //         $(".ContributionContainer .UserBox").eq(num).remove();
                // });
        //     })();
            
        // });

    /*var num;
    $(".item_con_title .item_user_det .det_zan .det_reply").on("click",function(){
        console.log($(this).parent().parent().parent().children(".item_user_name").children(".User_name").text())

        // console.log($(".layui-form-item .ReplyUser").remove())
    })*/
    function reply(comid,obj) {

        var name = $(obj).parent().parent().parent().children(".item_user_name").children(".User_name").text();
        var Cspan = "<span class='ReplyUser'>reply @ <span class='ReplyUser_name'>"+name+"</span> ：</span>"
        $(".ReplyUser").remove()
        $(".RepllyBox").append(Cspan);

    }


</script>
<script>

    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage,
            layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'NumberOfPages',
            count: {$commentcount},
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            jump: function(obj) {
                setcommentlist({$noteone['note_id']},obj.curr,obj.limit)
            }
        });

    });
    
    function setcommentlist(nid,limit1,limit2) {
        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_commentlist')}",
            data:{
                nid:nid,
                limit1:limit1,
                limit2:limit2,

            },
            dataType:"json",
            success: function(data){
                console.log(data);
                if (data!=null&&data!="") {
                    if (data.str == 1) {
                        var message = '';
                        for (var i = 0; i < data.msg.length; i++) {
                            message += '<div class="PostReply_box_content_item"><div class="item_pic">'
                            var img = '__PUBLIC__/Web/web/img/01_shouye/UserPic.png';
                            if (data.msg[i].user_icon){
                                img = './Uploads/'+data.msg[i].user_icon
                            }
                            message += '<img src="'+img+'">'
                            message += '</div><div class="item_con"><div class="item_con_title"><div class="item_user_name">'
                            message += '<span class="User_name">'+data.msg[i].user_name+'</span>'
                            message += '<div class="item_Top">'
                            if (data.msg[i].note_comment_isanswer == 1){
                                message += '<img src="__PUBLIC__/Web/web/img/Top.png" alt="">'
                            }
                            message += '</div></div><div class="item_user_det"><div class="det_time"><div class="det_time_img"><img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png"></div>'
                            message += '<div class="det_timed">'+data.msg[i].note_comment_createtime+'</div>'
                            message += '</div><div class="det_zan">'
                            if ({$noteone["note_haveanswer"]}==0 && {$noteone["note_type"]} == 2 && {$ishave}==1) {
                                message += '<div class="det_accept" onclick="isaccept('+data.msg[i].note_comment_id+')">Accept</div><div class="line"></div>'
                            }
                            if (data.msg[i].note_comment_isreply != 1 && {$ishave}==1){
                                message += '<div class="det_reply" onclick="reply('+data.msg[i].note_comment_id+',this)">Reply</div>'
                            }
                            message += '<div class="line"></div><div class="det_zan_box">'
                            if (data.msg[i].iszan == 0){
                                message += '<div class="zan_box_img" onclick="zan('+data.msg[i].note_comment_id+',this)"><img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png" alt=""></div>'
                            }else{
                                message += '<div class="zan_box_img" onclick="unzan('+data.msg[i].note_comment_id+',this)"><img src="__PUBLIC__/Web/web/img/greated.png"></div>'
                            }
                            message += '<div class="zan_box_num">'+data.msg[i].note_comment_zans+'</div>'
                            message += '</div></div></div></div>'
                            message += '<div class="item_con_det">'+data.msg[i].note_comment_content+'</div>'
                            message += '<div class="item_con_reply"><div class="reply_person">'
                            if (data.msg[i].note_comment_isreply == 1){
                                message += '{$noteuser["user_name"]} 回复 '+data.msg[i].user_name+' ：<span class="reply_c">'+data.msg[i].note_comment_reply+'</span>'
                            }
                            message += '</div></div></div></div>'

                        }

                        $('#commentlist').html(message);

                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })
    }
    
    function createcomment() {
        var userid = "{$userid}"
  
        if (userid) {

            $.ajax({
                type: "post",
                url: "{:U('Index/Ajax/ajax_createNoteComment')}",
                data: {
                    content: $("#content").val(),
                    nid: '{$noteone["note_id"]}'

                },
                dataType: "json",
                async: false,
                success: function (list) {
                    //console.log(interest)
                    if (list.str == 1){
                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                        location.reload();
                        }
                    );

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    layer.msg('请求失败!', {
                            time: 1500,
                            icon: 2,
                        }
                    );
                }

            })
        }else {
            layer.msg("请先登录",{
                    time:1500,
                },function(){

                    window.location.href="{:U('Index/Login/login')}";
                }
            );
        }


    }

    function downloadFile(url){

        layer.msg('确定要消耗积分下载吗？', {
            time: 0 //不自动关闭
            ,btn: ['确 定','暂时不']
            ,yes: function(index){

                layer.close(index);

                $.ajax({
                    type: "post",
                    url: "{:U('Index/Ajax/ajax_haveResourceUrl')}",
                    data: {
                        money: "{$noteone['note_reward']}",

                    },
                    dataType: "json",
                    async: false,
                    success: function (list) {
                        console.log(list)
                        if (list.str == 1){
                            var link = document.createElement('a');
                            link.href = url;

                            if (link.download !== undefined) {
                                //Set HTML5 download attribute. This will prevent file from opening if supported.
                                var fileName = url.substring(url.lastIndexOf('/') + 1, url.length);
                                link.download = fileName;
                            }

                            //Dispatching click event.
                            if (document.createEvent) {
                                var e = document.createEvent('MouseEvents');
                                e.initEvent('click', true, true);
                                link.dispatchEvent(e);
                                return true;
                            }
                            layer.msg(list.msg,{
                                    time:1500,
                                    icon:1,
                                }
                            );

                        }else{
                            layer.msg(list.msg,{
                                    time:1500,
                                    icon:2,
                                }
                            );

                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        layer.msg('请求失败!', {
                                time: 1500,
                                icon: 2,
                            }
                        );
                    }

                })

            }

        });

    }
    
    function isaccept(comid) {

        $.ajax({
            type: "post",
            url: "{:U('Index/Ajax/ajax_isaccept')}",
            data: {
                comid: comid,

            },
            dataType: "json",
            async: false,
            success: function (list) {
                console.log(list)
                if (list.str == 1){

                    layer.msg(list.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                        location.reload();
                        }
                    );

                }else{
                    layer.msg(list.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                layer.msg('请求失败!', {
                        time: 1500,
                        icon: 2,
                    }
                );
            }

        })

    }


</script>

</html>