<!DOCTYPE html>
<html lang="en">

<head>
    <include file="./World/Index/View/Public/meta.html"/>
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Jobs/work')}" class="crumbsa">Jobs</a>
        <cite class="Icon"></cite>
        <a href="{:U('Jobs/projectsProfessionals')}" class="crumbsa">Item List</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">{$title}</span>
    </div>
    <div class="container ContributionContainer">
        <div class="row">
            <div class="col-md-12 UserBox_list">
                <div class="UserBox" style="padding-bottom: 40px;">
                    <p style="float: left;margin-right: 14px;">
                        <img src="__PUBLIC__/Web/web/img/04_jobs/UserPic.png" style="width: 84px;height: auto;margin-bottom: 54px;border-radius: 40%;">
                    </p>
                    <p class="lintpheight">
                        Name : Mobile development engineer
                    </p>
                    <p class="lintpheight">
                        Introduction :
                    </p>
                    <p class="lintpheight">
                        AppleApple Apple ApplecApple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple e
                    </p>
                    <p class="lintpheight text-right" style="color: #ccc;">
                        <a href="#" style="position: absolute;right: 70px;" data-toggle="modal" data-target="#box2">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                        </a>
                        <a href="#" style="position: absolute;right: 40px;" data-toggle="modal" data-target="#box1">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                        </a>
                    </p>
                </div>
                <div class="UserBox" style="padding-bottom: 40px;">
                    <p style="float: left;margin-right: 14px;">
                        <img src="__PUBLIC__/Web/web/img/04_jobs/UserPic.png" style="width: 84px;height: auto;margin-bottom: 54px;border-radius: 40%;">
                    </p>
                    <p class="lintpheight">
                        Name : Mobile development engineer
                    </p>
                    <p class="lintpheight">
                        Introduction :
                    </p>
                    <p class="lintpheight">
                        AppleApple Apple ApplecApple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple e
                    </p>
                    <p class="lintpheight text-right" style="color: #ccc;">
                        <a href="#" style="position: absolute;right: 70px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                        </a>
                        <a href="#" style="position: absolute;right: 40px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                        </a>
                    </p>
                </div>
                <div class="UserBox" style="padding-bottom: 40px;">
                    <p style="float: left;margin-right: 14px;">
                        <img src="__PUBLIC__/Web/web/img/04_jobs/UserPic.png" style="width: 84px;height: auto;margin-bottom: 54px;border-radius: 40%;">
                    </p>
                    <p class="lintpheight">
                        Name : Mobile development engineer
                    </p>
                    <p class="lintpheight">
                        Introduction :
                    </p>
                    <p class="lintpheight">
                        AppleApple Apple ApplecApple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple Apple e
                    </p>
                    <p class="lintpheight text-right" style="color: #ccc;">
                        <a href="#" style="position: absolute;right: 70px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                        </a>
                        <a href="#" style="position: absolute;right: 40px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除 -->
    <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                                        <span class="modal-title">
                                                Reminder
                                            </span>
                    <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                                <span aria-hidden="true">&times;
                    </a>
                </div>
                <div class="modal-body">
                    <p class="text-center">Do you delete the occupation?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 编辑 -->
    <div id="box2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                                        <span class="modal-title">
                                                Editing project
                                        </span>
                    <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                            <span aria-hidden="true">&times;
                    </a>
                </div>
                <div class="modal-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_porjetname.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the project name" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_realname.png" width="24px" height="auto">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the sponsor's real name" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_contact.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the contact information" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_email.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the email" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_company.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the company" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text" style="height: 100px;">
                        <label class="layui-form-label" style="z-index: 2;background: none;border: none;position: absolute;left: 0;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_write.png">
                        </label>
                        <div class="layui-input-block" style="position: relative;left: -46px;">
                            <textarea placeholder="Enter the company information" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text" style="height: 100px;">
                        <label class="layui-form-label" style="z-index: 2;background: none;border: none;position: absolute;left: 0;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_type.png">
                        </label>
                        <div class="layui-input-block" style="position: relative;left: -46px;">
                            <textarea placeholder="Enter the company information" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_money.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the project budget" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_time.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the project time" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 64px;">
                            <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_need.png">
                        </label>
                        <div class="layui-input-block" style="margin-left: 64px;">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter professional needs" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Preservation</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="NumberOfPagesContainer">
        <div id="NumberOfPages"></div>
    </div>
    <!-- foot start 底部信息 -->
    <include file = "./World/Index/View/Public/footer.html"/>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
        $(function(){
            (function(){
                var num;
                $(".ContributionContainer .UserBox_list").on('click',".UserBox", function(event) {
                    num = $(this).index();
                });
                $(".btn-primary").on('click', function(event) {
                    $(".ContributionContainer .UserBox").eq(num).remove();
                });
            })();

        });
    </script>
</body>

</html>