<!DOCTYPE html>
<html lang="en">

<head>
    <include file="./World/Index/View/Public/meta.html"/>
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container crumbs">
        <a href="{:U('Index/Jobs/work')}" class="crumbsa">Jobs</a>
        <cite class="Icon"></cite>
        <a href="{:U('Jobs/projectsProfessionals')}" class="crumbsa">Item List</a>
        <cite class="Icon"></cite>
        <span class="crumbsTitle">{$title}</span>
    </div>
    <!-- Product details -->
    <div class="Product_box container">
        <div class="row justify-content-between">
            <div class="col-md-9">
                <div class="product_title">
                    <div class="product_img">
                        <img src="__PUBLIC__/Web/web/img/01_shouye/pic3.png" alt="">
                    </div>
                    <h2>Product Name</h2>
                    <div class="Product_time">
                        01-20-2018 20:18:58
                    </div>
                    <div class="counseling_title">
                        <div class="counseling_name">
                            <span class="counseling_name_title">Contact :</span>
                            <span>xxxxx@xxx.com</span>
                        </div>
                        <div class="counseling_name">
                            <span class="counseling_name_title">Counseling Price :</span>
                            <span>$ 135</span>
                        </div>
                    </div>
                </div>
                <div class="product_content">
                    <ul class="products_title">
                        <li>
                            <span class="products_title_name">Counseling Time :</span>
                            <span class="products_title_content">01-15-2018 16:00am~20：pm</span>
                        </li>
                        <li>
                            <span class="products_title_name">Counseling Content :</span>
                            <span class="products_title_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenei
                                smod bibendum laoreet. Proin gravida dolor sit amet lacusacc
                                commodo. Proin sodales pulvinar tempor. Cumsnatoque pena
                                dis parturient montes, nascetulus muspor. Cumsnatoque peni
                                commodo. Proin sodales pulvinar tempor. </span>
                        </li>
                        <li>
                            <span class="products_title_name">Remarks :</span>
                            <span class="products_title_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenei
                                smod bibendum laoreet. Proin gravida dolor sit amet lacusacc
                                commodo. Proin sodales pulvinar tempor. Cumsnatoque pena
                                dis parturient montes, nascetulus muspor. Cumsnatoque peni
                                commodo. Proin sodales pulvinar tempor. </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Product details right -->
            <div class="col-md-3 product_right">
                <div class="product_right_title">
                    Personal Information
                </div>
                <div class="right_details">
                    <ul>
                        <li>
                            <p>Avatar :</p>
                            <span class="right_details_userimg"><img src="__PUBLIC__/Web/web/img/02_interest/Todoist.png"></span>
                        </li>
                        <li>
                            <p>Nickname :</p>
                            <span>Xiao Li</span>
                        </li>
                        <li>
                            <p>sex :</p>
                            <span>male</span>
                        </li>
                        <li>
                            <p>Viewing Count :</p>
                            <span>6666</span>
                        </li>
                        <li>
                            <p>Posts  :</p>
                            <span>6666</span>
                        </li>
                        <li>
                            <p>Contact  :</p>
                            <span>11@gmail.com</span>
                        </li>
                        <li>
                            <p>Counseling prices :</p>
                            <span>$118</span>
                        </li>
                        <li>
                            <p>May be counseling time :</p>
                            <span> 2018-1-27 18: 00 ~ 22: 00</span>
                        </li>
                    </ul>
                </div>
                <!-- Seller_Info -->
                <div class="Seller_Info_title">
                    Seller Info
                </div>

                <div class="right_details">
                    <ul>
                        <li>
                            <p>Contact :</p>
                            <span>11@gmail.com</span>
                        </li>

                    </ul>
                </div>
                <div class="right_btn">
                    <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                        Homepage
                    </a>
                </div>
                <div class="right_btn">
                    <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                        Private Letter
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- PostReply -->
    <div class="container StickSonDetailsContainer">
        <div class="PostReply">
            <P>
                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">
                &nbsp;&nbsp;
                <b>Comment</b>
            </P>
            <div class="box">
                <p class="GuestBookUserImg">
                    <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                </p>
                <div class="GuestBookContainer">
                    <div class="GuestBookUserTitleContainer">
                        <p class="GuestBookUserName">David J.</p>
                        <p class="TimeFabulousContainer">
                            <span class="GuestBookUserTime">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                01/12/2018
                            </span>
                            <span class="GuestBookUserFabulous">
                                Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                333
                            </span>
                        </p>
                    </div>
                </div>
                <div class="GuestBookUserMessage">
                    coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                </div>
                <div class="ReplyContainer">
                    @Tom 回复 Jack ： xxxxxxxxxxxx
                </div>
            </div>
            <div class="box">
                <p class="GuestBookUserImg">
                    <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                </p>
                <div class="GuestBookContainer">
                    <div class="GuestBookUserTitleContainer">
                        <p class="GuestBookUserName">David J.</p>
                        <p class="TimeFabulousContainer">
                            <span class="GuestBookUserTime">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                01/12/2018
                            </span>
                            <span class="GuestBookUserFabulous">
                                Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                333
                            </span>
                        </p>
                    </div>
                </div>
                <div class="GuestBookUserMessage">
                    coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                </div>
                <div class="ReplyContainer">
                    @Tom 回复 Jack ： xxxxxxxxxxxx
                </div>
            </div>
            <div class="box">
                <p class="GuestBookUserImg">
                    <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                </p>
                <div class="GuestBookContainer">
                    <div class="GuestBookUserTitleContainer">
                        <p class="GuestBookUserName">David J.</p>
                        <p class="TimeFabulousContainer">
                            <span class="GuestBookUserTime">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                01/12/2018
                            </span>
                            <span class="GuestBookUserFabulous">
                                Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                333
                            </span>
                        </p>
                    </div>
                </div>
                <div class="GuestBookUserMessage">
                    coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                </div>
                <div class="ReplyContainer">
                    @Tom 回复 Jack ： xxxxxxxxxxxx
                </div>
            </div>
        </div>
    </div>

    <!-- NumberOfPagesContainer -->
    <div class="container NumberOfPagesContainer">
        <div id="NumberOfPages"></div>
    </div>

    <!-- form -->
    <div class="container">
        <form class="layui-form" action="" autocomplete="off">
            <p style="color: #999; margin-bottom: 10px;">
                Tips: think this article how? Evaluation helps other readers understand this article.
            </p>
            <div class="ReturnBox">
                <div class="layui-form-item layui-form-text">
                    <span class="ReturnBoxicon">
                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                        &nbsp;
                        Comments
                    </span>
                    <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea"></textarea>
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut">Posted</button>
                </div>
            </div>
        </form>
    </div>
    <!-- foot start 底部信息 -->
    <include file = "./World/Index/View/Public/footer.html"/>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</body>

</html>