<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job list</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/JobList.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/WorkList.css">
</head>

<body>
    <!-- logo -->
		<header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>
        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="{:U('Index/Jobs/work')}" class="crumbsa">Jobs</a>
            <cite class="Icon"></cite>
            <a href="{:U('Index/Jobs/work')}" class="crumbsa">Job Listings</a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">My Post</span>
        </div>
    <div class="container ContributionContainer">
        <div class="row">
            <div class="col-md-12 UserBox_list">
                <div class="UserBox">
                    <a href="JobDetails.html" class="UserLink">
                        <p class="lintpheight">
                            Job Title : Mobile development engineer
                        </p>
                        <p class="lintpheight">
                            Company Name : Apple
                        </p>
                        <p class="lintpheight">
                            Work experience : 3 years
                        </p>
                        <div class="lintpheight_box">
                            Salary : $ 1000 ~ $ 2000
                        
                                
                            <div class="lintpheight_icon_box">
                                <a href="PostDeliveryRecord.html" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_jl_icon_deliveryrecord.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box3" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box2" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box1" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                                </a>
                            </div>

                           
                        </div>
                    </a>  
                </div>
                <div class="UserBox">
                    <a href="JobDetails.html" class="UserLink">
                        <p class="lintpheight">
                            Job Title : Mobile development engineer
                        </p>
                        <p class="lintpheight">
                            Company Name : Apple
                        </p>
                        <p class="lintpheight">
                            Work experience : 3 years
                        </p>
                        <div class="lintpheight_box">
                            Salary : $ 1000 ~ $ 2000
                        
                            <div class="lintpheight_icon_box">
                                <a href="PostDeliveryRecord.html" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_jl_icon_deliveryrecord.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box3" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box2" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box1" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                                </a>
                            </div>

                           
                        </div>
                          </a>  
                </div>
                <div class="UserBox">
                    <a href="JobDetails.html" class="UserLink">
                        <p class="lintpheight">
                            Job Title : Mobile development engineer
                        </p>
                        <p class="lintpheight">
                            Company Name : Apple
                        </p>
                        <p class="lintpheight">
                            Work experience : 3 years
                        </p>
                        <div class="lintpheight_box">
                            Salary : $ 1000 ~ $ 2000
                        
                                
                            <div class="lintpheight_icon_box">
                                <a href="PostDeliveryRecord.html" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_jl_icon_deliveryrecord.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box3" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_pj.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box2" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_close.png"">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box1" class="lintpheight_icon">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_del.png"">
                                </a>
                            </div>

                           
                        </div>
                          </a>  
                </div>
            </div>
            <!-- 删除 -->
            <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">
                                Reminder
                            </span>
                            <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Do you delete the occupation?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-Delete-primary" data-dismiss="modal">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 关闭 -->
            <div id="box2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">
                                Reminder
                            </span>
                            <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Are you closing the job?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-Close-primary" data-dismiss="modal">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 编辑 -->
            <div id="box3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">
                                Editing project
                            </span>
                            <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p style="margin:14px 0;">Essential information</p>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="margin-left: -22px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_type.png">
                                </label>
                                <div class="label" style="padding-top: 13px;padding-left: 120px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Full Time
                                    </label>
                                    <label class="radio-inline" style="margin: 0 32px;">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Part Time
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Practice
                                    </label>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_sy_icon_08.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter a job title" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 64px;">
                                        <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_money.png">
                                    </label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_sy_icon_07.png" width="24px" height="auto">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the number of years of service" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_school.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter a graduate school" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/1.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter your degree" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_major.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter professional" class="layui-input">
                                </div>
                            </div>
                            <p class="h6">Matching circle reordering : </p>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Graduated School</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="text-center" style="margin: 4px 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/2.png">
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Years of service</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="text-center" style="margin: 4px 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/2.png">
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Bachelor of Science</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="text-center" style="margin: 4px 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/2.png">
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Position</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="text-center" style="margin: 4px 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/2.png">
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Profession</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="text-center" style="margin: 4px 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/2.png">
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <select class="form-control">
                                    <option>Position</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <p class="h6 text-center">Company Information</p>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_company.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter a job title" class="layui-input">
                                </div>
                            </div>
                            <div class="FormContainer layui-form-item" pane>
                                <label class="col-sm-2 control-label" style="position: absolute;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_choose.png" style="position: absolute;left: 26px;top: 10px;">
                                </label>
                                <div class="col-sm-10" style="position: absolute;left: 66px;">
                                    <select class="form-control">
                                        <option>Please choose the nature of the company</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="FormContainer layui-form-item" pane style="margin-top: 70px;margin-bottom: 124px;">
                                <label class="col-sm-2 control-label" style="position: absolute;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_type.png" style="position: absolute;left: 26px;top: 10px;">
                                </label>
                                <div class="col-sm-10" style="position: absolute;left: 66px;">
                                    <select class="form-control">
                                        <option>Please select company type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_groupname.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the company size" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 64px;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_email.png">
                                </label>
                                <div class="layui-input-block" style="margin-left: 64px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Enter the resume mailbox" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text" style="height: 100px;">
                                <label class="layui-form-label" style="z-index: 2;background: none;border: none;position: absolute;left: 0;">
                                    <img src="__PUBLIC__/Web/web/img/04_jobs/jobs_create_icon_write.png">
                                </label>
                                <div class="layui-input-block" style="position: relative;left: -46px;">
                                    <textarea placeholder="Enter the company information" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <!--  -->
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="margin-left: -22px;width: 150px;margin-right: 28px;">
                                    Salary Negotiable
                                </label>
                                <div class="label" style="padding-top: 13px;padding-left: 120px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> no
                                    </label>
                                    <label class="radio-inline" style="margin: 0 32px;">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-Preservation-primary" data-dismiss="modal">Preservation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="NumberOfPagesContainer">
        <div id="NumberOfPages"></div>
    </div>
    <!-- foot start 底部信息 -->
    <footer class="container-fluid FooterBg">
        <div class="row FooterContainer">
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>ABOUT</dt>
                    <dd>
                        NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                    </dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>SUPPORT</dt>
                    <dd>Premium Support</dd>
                    <dd>Get Started</dd>
                    <dd>Partners</dd>
                </dl>
            </div>
            <div class="col-xs-6 col-md-4">
                <dl>
                    <dt>Help Center</dt>
                    <dd><a href="HelpCenter.html">Help Center</a></dd>
                    <dd><a href="ContactUs.html">Contact Us</a></dd>
                </dl>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12">
                <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/ListOfDonations.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
        $(function(){
            (function(){
                var num;
                $(".ContributionContainer .UserBox_list").on('click',".UserBox", function(event) {
                    num = $(this).index();
                });
                // Delete
                $(".btn-Delete-primary").on('click', function(event) {
                        var D_pic = "<img src='__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_deleted.png'>"
                        // console.log($(".lintpheight_icon_box").eq(num).html())
                        $(".lintpheight_icon_box").eq(num).html(D_pic)
                });
                // Close
                $(".btn-Close-primary").on('click', function(event) {
                    // <a href='javascript:void(0)' class='lintpheight_icon'></a>
                        var C_pic = "<img src='__PUBLIC__/Web/web/img/04_jobs/jobs_zwlb_m_icon_closed.png'>"
                        // console.log($(".lintpheight_icon_box").eq(num).html())
                        $(".lintpheight_icon_box").eq(num).html(C_pic)
                });
            })();
            
        });

    </script>
</body>

</html>