<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details of the post</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/CreateInterest.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetailsRelease.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/StickSonDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container Crumbs">
        <span class="CrumbsSpan">
          <a href="{:U('Index/Jobs/work')}" class="CrumbsA">Jobs</a>
          <cite class="CrumbsIcon"></cite>
          <span class="CrumbsTitle"><a href="{:U('Index/Jobs/groupDetails')}" class="CrumbsA">Group name</a></span>
        <cite class="CrumbsIcons"></cite>
        <span class="CrumbsTitles">Post details</span>
        </span>
    </div>
    <div class="container StickSonDetailsContainer">
        <div class="row">
            <div class="col-md-9">
                <p class="text-right">
                    <a href="{:U('Index/Jobs/postSharing')}">
                        <img src="__PUBLIC__/Web/web/img/02_interest/fenxiang.png">
                    </a>
                </p>
                <h3 class="text-center">
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                    <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                    Post Title
                    <p class="text-center StickSonDetailsTitleTime">01-20-2018 20:18:58</p>
                </h3>
                <div class="StickSonDetailsContent">
                    <p>
                        Post content Post content Post content Post content Post content Post content Post content conten Post content Post content Post content Post content Post content Post content Post content conte Post content content Post content Post content conte Post content
                    </p>
                    <p>
                        <img src="__PUBLIC__/Web/web/img/banner.png" class="imgs">
                    </p>
                    <div class="PostReply">
                        <P>
                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">&nbsp;&nbsp;
                            <b>Comment</b>
                        </P>
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                            333
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                            333
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="box">
                            <p class="GuestBookUserImg">
                                <img src="__PUBLIC__/Web/web/img/02_interest/user.png" class="imgs img-circle">
                            </p>
                            <div class="GuestBookContainer">
                                <div class="GuestBookUserTitleContainer">
                                    <p class="GuestBookUserName">David J.</p>
                                    <p class="TimeFabulousContainer">
                                        <span class="GuestBookUserTime">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_time.png">
                                            01/12/2018
                                        </span>
                                        <span class="GuestBookUserFabulous">
                                            Reply&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <img src="__PUBLIC__/Web/web/img/02_interest/vinterest_xq_icon_dianzan.png">
                                            333
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="GuestBookUserMessage">
                                coocommentcoocommentcoocommentcocoocommentcoocommentcoocommentcocoocommen
                            </div>
                            <div class="ReplyContainer">
                                @Tom 回复 Jack ： xxxxxxxxxxxx
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
                </div>
                <form class="layui-form" action="">
                    <p style="color: #999; margin-bottom: 10px;">
                        Tips: think this article how? Evaluation helps other readers understand this article.
                    </p>
                    <div class="ReturnBox">
                        <div class="layui-form-item layui-form-text">
                            <span class="ReturnBoxicon">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_xq_icon_pj.png">
                                &nbsp;
                                Comments
                            </span>
                            <textarea placeholder="Please enter the comment content" class="layui-textarea Returntextarea"></textarea>
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius Returnbut">Posted</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="GroupDetailsContainer">
                    <p class="text-center h5 p">Post Details</p>
                    <p class="p"><b>Personal Information</b></p>
                    <p class="p">
                        <b>Group icon  : </b>
                        &nbsp;&nbsp;<img src="__PUBLIC__/Web/web/img/02_interest/Todoist.png">
                    </p>
                    <p class="p"><b>Nickname：</b>Xiao Li</p>
                    <p class="p"><b>Number of posts  :</b>1278</p>
                    <p class="text-center Followtbut">
                        <a href="#" class="layui-btn layui-btn-radius layui-btn-lg layui-btn-normal" id="GroupBtn">
                        Homepage
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- foot start 底部信息 -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    <!-- foot end 底部信息 -->
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
</body>

</html>