<head>
    <meta charset="utf-8"/>
    <title>{:L('newworld_admin')}</title>
    <meta name="keywords" content="{:L('newworld_admin')}"/>
    <meta name="description" content="{:L('newworld_admin')}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css"/>
    <!-- ace styles -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <!--[if !IE]> -->

    <script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>

    <!-- <![endif]-->
    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
    <script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>

    <![endif]-->
</head>
<body style='background:#fff;'>
<div class="page-content">
    <div class="page-header">
        <h1>
            广告管理
            <small><i class="icon-double-angle-right"></i>
                <eq name="advertising['advertising_for']" value="2">
                    编辑群广告
                    <else/>
                    编辑广告
                </eq>
            </small>

        </h1>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="{:U('Admin/Advertising/advertising_edit')}" method="POST" role="form"
                  enctype="multipart/form-data">

                <eq name="advertising['advertising_for']" value="2">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">群ID</label>
                        <div class="col-sm-9">
                            <input type="text"  onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/" name="advertising_crowdid" value="{$advertising['advertising_crowdid']}" placeholder="" style="width:300px;"/></div>
                    </div>
                    <else/>
                </eq>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="advertising_title" value="{$advertising['advertising_title']}" placeholder="" style="width:300px;"/></div>
                </div>
                <input type="hidden" name="news_for" value="<?php echo $type;?>"/>
                <div class="form-group" id="user-profile-3">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">图片</label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 col-sm-4">
                            <input type="file" id='upload_picture' accept=".png,.gif,.jpeg,.jpg"/>
                            <div id='img'>
                                <img width="100px" height="100px" src="<?php echo './Uploads/'.$advertising['advertising_img']?>"/>
                            </div>
                        </div>
                        <input type='hidden' name='advertising_img' value="{$advertising['advertising_img']}">

                    </div>

                </div>
                <script type="text/javascript" src="__PUBLIC__/Tools/uploadify/jquery.uploadify.min.js"></script>
                <link rel="stylesheet" type="text/css" href="__PUBLIC__/Tools/uploadify/uploadify.css">
                <script type="text/javascript">
                    //上传图片
                    /* 初始化上传插件 */
                    var userid ="100001";
                    $("#upload_picture").change(function(e){
                        var formData = new FormData();
                        formData.append("download", document.getElementById("upload_picture").files[0]);
                        $.ajax({
                            url: "{:U('Admin/File/uploadBanner2',array('sessionid'=>'" + userid + "'))}",
                            type: "POST",
                            data: formData,
                            contentType: false,
                            processData: false,
                            dataType:'json',
                            success: function (data) {
                                console.log(data)
                                if(data.status == 1) {
                                    $("#img").html('<img style="width:200px;height:200px;" src="./Uploads/' + data.msg + '"/>');
                                    $("input[name='advertising_img']").val(data.msg)
                                }else {
                                    alert(data.msg);
                                }
                            },
                            error: function () {
                                alert("上传失败！");
                            }
                        });
                    });
                </script>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">链接</label>
                    <div class="col-sm-9">
                        <input type="text" name="advertising_url" value="{$advertising['advertising_url']}" placeholder="" style="width:300px;"/></div>
                </div>
                <input type="hidden" value="{$advertising['advertising_id']}" name="advertising_id"/>
                </fieldset>

                <div class="form-actions center">
                    <a class="btn btn-sm btn-success" id='tianjia'>
                        <i class="icon-edit bigger-110"></i>
                        {:L('User_user_list_comfirm_update')}
                    </a>
                    <a class="btn btn-sm btn-warning" href="javascript:history.back(-1)" class="myButton">
                        <i class="icon-arrow-left icon-on-left bigger-110"></i>
                        {:L('User_user_list_back_list')}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
    .btn-xs {
        margin-right: 10px !important;
    }
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>
<script type="text/javascript">
    $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
</script>


<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
    function showStart() {
        return true;
    }
    function showSuccess(data) {

        if (data == 1) {
            alert('修改成功')
            location.href = "{:U('Admin/Advertising/advertising_list')}"
        } else {
            alert(data)
            return false
        }

    }
    $(function () {
        var options = {
            beforeSubmit: showStart,
            success: showSuccess,

        };
        $('#tianjia').click(function () {

            $('.form-horizontal').ajaxSubmit(options);
        })


    });


    $(function(){
        $(":radio").click(function(){
            if($(this).val()==0){
                $(".in-txt").removeClass("hidden");
                $(".editor").addClass("hidden");
            }else if($(this).val()==1){
                $(".editor").removeClass("hidden");
                $(".in-txt").addClass("hidden");
            }
        });
    });
    $(function(){
        var type = $("#type").val();
        if (type != "") {
            if (type == 0) {
                $(".editor").addClass('hidden');
                $(".in-txt").removeClass('hidden');
            } else if (type == 1) {
                $(".in-txt").addClass('hidden');
                $(".editor").removeClass('hidden');
            }
        }
    });
</script>
<script  src="__PUBLIC__/Admin/admin/ueditor/ueditor.config.js"></script>
<script  src="__PUBLIC__/Admin/admin/ueditor/ueditor.all.min.js"></script>
<script  src="__PUBLIC__/Admin/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('content',{initialFrameWidth:800,initialFrameHeight:400,});

</script>







