
<if condition='!$userid'>
                    <div class="logreg">
                        <a href="{:U('Index/Login/login')}" class="Login">
                            <span class="LoginI"><img src="__PUBLIC__/Web/web/img/common_nav_dz_login.png" alt=""></span>
                            <span>Login</span>
                        </a>
                        <a href="{:U('Index/SignUp/register')}" class="SignUp">
                            <span class="SignUpI"><img src="__PUBLIC__/Web/web/img/common_nav_dz_signup.png" alt=""></span>
                            <span>Sign Up</span>
                        </a>
                    </div>
                    <else />
                    <div class="login_success">

                        <div class="success_index">
                            <a href="{:U('Index/Index/index')}">
                                <img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt="">
                            </a>
                        </div>
                        <div class="success_setting">
                            <img src="__PUBLIC__/Web/web/img/setting.png" alt="">
                            <if condition='$havemessage'>
                                <div class="dot"></div>
                            </if>
                            <div class="setting_usage">
                                <ul>
                                    <li>
                                        <a href="{:U('Index/User/acountSetting')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/person.png">
                                            </div>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/mineResume')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/resume.png">
                                            </div>
                                            My Resume
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/myPosts')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/release.png">
                                            </div>
                                            My Release
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/myMessage')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/message.png">
                                            </div>
                                            Message
                                            <if condition='$havemessage'>
                                                <div class="dot1"></div>
                                            </if>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/myFollowing')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/focus.png">
                                            </div>
                                            Following
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/addressBook')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/contacts.png">
                                            </div>
                                            Contacts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/myGroup')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/group.png">
                                            </div>
                                            My Community
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Index/User/feedback')}">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/feedback.png">
                                            </div>
                                            Feedback
                                        </a>
                                    </li>
                                    <li class="quit">
                                        <a href="#" onclick="loginout()">
                                            <div class="usage_img">
                                                <img src="__PUBLIC__/Web/web/img/sign_out.png">
                                            </div>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="success_user">
                            <a href="{:U('Index/User/personalCenter')}&id={$userid}">
                                <img src="<if condition='$usercontent["user_icon"]'>./Uploads/{$usercontent['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>" alt="">
                </a>
            </div>
            <div class="success_name">
                <a href="{:U('Index/User/personalCenter')}&id={$userid}">{$usercontent['user_name']}</a>
            </div>
            <div class="success_line"></div>
            <div class="success_money">
                <a href="{:U('Index/Index/donation')}">
                    <div class="money_img">
                        <img src="__PUBLIC__/Web/web/img/money.png" alt="">
                    </div>
                    <div class="money_num">
                        {$usercontent['user_havecoin']}
                    </div>
                </a>
            </div>
        </div>
        </if>
        <script src="__PUBLIC__/Web/web/js/loginout.js"></script>