<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{:L('newworld_admin')}</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.onpage-help.css" />

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container" style="margin-top:8%;">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">
                                                                                      快乐琴行
                            </span>
									<span class="white" id="id-text2">后台管理系统</span>
								</h1>
								<h4 class="blue" id="id-company-text">&copy; 快乐琴行 </h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												请输入用户名和密码
											</h4>

											<div class="space-6"></div>

											<form method='POST' action="{:U('Admin/Login/login')}" id='form'>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name='username' placeholder="Username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name='password' placeholder="Password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>
                                                     <label class="block clearfix">
														<span class="input-icon input-icon-right" style='width:40%;float:left;margin-top:3px;'>
															<input type="text" class="form-control" style="width:100%;height:100%;" name='check' placeholder="请输入验证码" />	
														</span>
													    <span class="input-icon input-icon-right" style="float:right;width:50%;margin-right:20px;">
														 <img src="{:U('Admin/Login/verify')}" id='verify'/>
														</span>
														
													</label>
													<div class="space"></div>

													<div class="clearfix">
													<!-- 
														<a href="{:U('Admin/Login/forget')}">
														   <div style="float:left;width:90px;height:33px;display:block;background:#ccc;border:0px solid #050505;line-height:33px;text-align:center;color:black;">忘记密码</div>
														</a> -->
														 

														<a id='login' class="width-35 pull-right btn btn-sm btn-primary" >
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登录</span>
														</a>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>
										
										</div><!-- /.widget-main -->

										<div class="toolbar clearfix">
											<div>
												<a href="#" data-target="#forgot-box" class="forgot-password-link">
													<!--  <i class="ace-icon fa fa-arrow-left"></i>
													I forgot my password  -->
												</a>
											</div>

											<div>
												<a href="#" data-target="#signup-box" class="user-signup-link">
												<!-- 	I want to register
													<i class="ace-icon fa fa-arrow-right"></i> -->
												</a>
											</div>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

								

								
							</div><!-- /.position-relative -->

						
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

	</body>
</html>


<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
function showStart(){
    return true;
}
function showSuccess(data){

	
    	if(data == 1){

    		location.href="{:U('Admin/Index/index')}"
    	}else if(data == 2){
    		alert('验证码错误')
    		$("input[name='check']").val('')
    		$('#verify').attr('src',"{:U('Admin/Login/verify')}&"+Math.random())
    	}else{
    		alert(data)
    		$("input[name='check']").val('')
    		$('#verify').attr('src',"{:U('Admin/Login/verify')}&"+Math.random())
    		return
    	}

}
$(function(){
		
	 $('#verify').click(function(){
		$(this).attr('src',"{:U('Admin/Login/verify')}&"+Math.random())
		//location.href="{:U('Admin/Login/verify')}"
	}) 
	
	var options = {

		        beforeSubmit:showStart,
		        success:showSuccess,

		 };
	$('#login').click(function(){	
		$('#form').ajaxSubmit(options);
	})
	
})
</script>
