<html>
<head>
  <meta content="text/html"; charset=utf8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"  />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>图片页面</title>
   <!-- <link rel="stylesheet" type="text/css" href="./yjyh/Admin/View/Daili/duotu/Home/CSS/global.css" /> -->
    <link rel="stylesheet" href="./tn/Admin/View/duotu/Home/CSS/tianxie-san.css" type="text/css" />
</head>
<body>
   <div class="bg">
            <div class="Exhibition">
              
  
   
               <ul>
                 <li>
                    <dl class="san">
                        <div id="imagePreviewsan"></div>
                       	<input id="imageInputsan" type="file" name="photo[]" onChange="loadImageFilesan();"/>
                         
                        <dt>一</dt>
                    </dl>
                </li>
                <li>
                    <dl class="si">
                        <div id="imagePreviewsi"></div>
                        <input id="imageInputsi" type="file" name="photo[]" onChange="loadImageFilesi();" />
                         
                        <dt>二</dt>
                    </dl>
                </li>
                <li>
                    <dl class="wu">
                        <div id="imagePreviewwu"></div>
                        <input id="imageInputwu" type="file" name="photo[]" onChange="loadImageFilewu();" />
                         
                        <dt>三</dt>
                    </dl>
                </li>
               
                
            </ul>
            </div>
</body>
</html>


<script type="text/javascript" ></script>
<script  src='./tn/Admin/View/duotu/View/Index/img.js'></script>











