.NumberOfPagesContainer {
  margin: 30px 0 0;
}
.NumberOfPagesContainer #NumberOfPages {
  width: 66%;
  margin: 0 auto;
}
.PasswordContainer .box1 .Membertitle {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -22px;
}
.PasswordContainer .box1 .MemberContainer {
  clear: both;
  padding: 10px 32px;
  height: 68px;
  border-bottom: solid 1px #ccc;
}
.PasswordContainer .box1 .MemberContainer .MemberImgName {
  float: left;
}
.PasswordContainer .box1 .MemberContainer .MemberImgName .Memberimg {
  width: 50px;
  height: auto;
  margin: 0 10px;
}
.PasswordContainer .box1 .MemberContainer .MemberBut {
  float: right;
  margin-top: 6px;
}
.PasswordContainer .box2 {
  clear: both;
  margin-top: 48px;
}
.PasswordContainer .box2 .Membertitle {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -22px;
}
.PasswordContainer .box2 .MemberContainer {
  clear: both;
  padding: 10px 32px;
  height: 68px;
  border-bottom: solid 1px #ccc;
}
.PasswordContainer .box2 .MemberContainer .MemberImgName {
  float: left;
}
.PasswordContainer .box2 .MemberContainer .MemberImgName .Memberimg {
  width: 50px;
  height: auto;
  margin: 0 10px;
}
.PasswordContainer .box2 .MemberContainer .MemberBut {
  float: right;
  margin-top: 6px;
}
