#public .FontIcon {
  text-decoration: none;
  display: inline-block;
}
/* 头部信息的边距 */
.headerBox {
  /* margin: 12px 0 0; */
}
/* logo的大小与位置 */
.logo {
  width: 260px;
  height: 60px;
  border: none;
  display: inline-block;
  background: url(../img/common_logo.png) 0 0 no-repeat;
  background-size: 260px;
  margin-top: 20px;
}
/* 右上角登录与注册框右浮动 */
.logreg {
  float: right;
}
/*  */
.logreg .Login {
  color: #56c9be;
  margin: 0 28px;
  text-decoration: none;
  display: inline-block;
}
.logreg .Login .LoginIcon {
  background: url(../img/common_nav_dz_login.png) 0 0 no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  margin: 0 6px;
}
.logreg .SignUp {
  color: #56c9be;
  text-decoration: none;
  display: inline-block;
}
.logreg .SignUp .SignUpIcon {
  background: url(../img/common_nav_dz_signup.png) 0 0 no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  margin: 0 14px;
}
.nav {
  clear: both;
  position: absolute;
  right: 10px;
  top: 48px;
}
.nav .NavBg {
  background-color: #46c4b8;
  border-radius: 28px;
  padding: 14px;
}
.nav .NavBg .ListInline > li {
  display: inline;
  margin: 0 14px;
}
.nav .NavBg .ListInline > li > a {
  color: #fff;
  text-decoration: none;
}
.nav .NavBg .ListInline > li > a:hover {
  color: #80fff3;
}

.FooterBg {
  background-color: #0e4d3d;
  padding-top: 18px;
  margin-top: 58px;
}
.FooterBg .FooterContainer {
  width: 88%;
  margin: auto;
}
.FooterBg .FooterContainer dt {
  color: #56c9be;
  margin-top: 8px;
  margin-bottom: 8px;
}
.FooterBg .FooterContainer dd {
  color: #7f8986;
}
.FooterBg .copyright {
  background-color: #000000;
  opacity: 0.2;
  padding: 6px;
  margin-top: 14px;
}
.FooterBg .copyright p {
  color: #ababab;
}

#NavSelected {
  color: #80fff3;
}
.Banner {
  margin: 18px 0;
  border-top: solid #dedede 1px;
  border-bottom: solid #dedede 1px;
}
.Banner .layui-carousel-ind li.layui-this {
  background-color: #46c4b8;
}
#PublicUserStyle .spacing {
  margin-top: 10px;
  margin-left: 60px;
}
#PublicUserStyle .SpilloverConcealment {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#PublicUserStyle .Container {
  border-radius: 4px;
  box-shadow: 2px 2px 14px #cecece;
}
#PublicUserStyle .FontColor {
  color: #45c5b8;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
}
.SearchContainer .SelectionTypeContainer {
  clear: both;
}
.SearchContainer .SelectionTypeContainer .layui-input-block {
  margin-left: 80px;
}
.SearchContainer #Selectionform {
  margin: 0 auto;
  border-radius: 20px;
  padding: 0 42px 0 18px;
  border: none;
  box-shadow: 2px 2px 14px #cecece;
}
.SearchContainer #SelectionIcon {
  position: absolute;
  top: 9px;
  right: 11%;
}
.SearchContainer #GroupBtn {
  text-decoration: none;
  box-shadow: 2px 2px 14px #cecece;
  min-width:212px;
}
.SearchContainer .Help {
  margin-top: 12px;
  margin-right: 6px;
}
.GroupList {
  margin-top: 68px;
}
.GroupList .GroupTitle {
  position: relative;
  bottom: 20px;
  color: #46c4b8;
  font-weight: bold;
  font-size: 1.6em;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
}
.GroupList .UserBox {
  margin-top: 25px;
  box-shadow: 2px 2px 14px #cecece;
  padding: 25px;
  min-height: 197px;
}
.GroupList .UserBox .UserLink {
  text-decoration: none;
}
.GroupList .UserBox .UserBox_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #45c5b8;
  float: left;
  margin-top: 10px;
}
.GroupList .UserBox .UserBox_img img{
  width: 100%;
  height: 100%;
}
.GroupList .UserBox .UserTitle {
  margin-top: 10px;
  margin-left: 60px;
}
.GroupList .UserBox .UserFollow {
  margin-top: 10px;
  margin-left: 60px;
  color: #cccccc;
}
.GroupList .UserBox .UserName {
  margin-top: 10px;
  margin-left: 60px;
  color: #cccccc;
}
.GroupList .UserBox .UserName .UserTime {
  margin-left: 32px;
}
.GroupList .UserBox .UserContent {
  margin-top: 10px;
  margin-left: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.BannerContainer {
  margin-top: 50px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 14px #cecece;
}
.BannerContainer .FontColor {
  color: #45c5b8;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
  padding: 4px 6px;
}
.BannerContainer .Container1 .Font {
  padding: 4px 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.BannerContainer .Container1 .img {
  width: 100%;
  height: 104px;
}
.BannerContainer .Container2 .img{
  width: 100%;
  height: 104px;
}
.BannerContainer .Container2 .Font {
  padding: 4px 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.tooltip_box {
  position: absolute;
  top: 50%;
  /* left: 100px; */
  right: -10%;
  width: 350px;
  height: 100px;
  /* background: #088cb7; */
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 14px #cecece;
  padding: 15px;
  display: none;
}
.tooltip_box:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 67%;
  bottom: 100%;
  /* background: #80fff3; */
  border-left: 25px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip_box span{
  height: 100%;
  width: 100%;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.layui-form-label {
  float: left;
  display: block;
  padding: 9px 15px;
  width: 80px;
  font-weight: 400;
  text-align: center;
}