#PublicIcons .Icon {
  position: absolute;
  top: 8px;
  left: 22px;
}
.Crumbs .CrumbsSpan {
  display: inline-block;
}
.Crumbs .CrumbsSpan .CrumbsA {
  background: none;
  width: auto;
  display: inline-block;
  float: left;
  margin-top: 14px;
  text-decoration: none;
  color: #46c4b8;
}
.Crumbs .CrumbsSpan .CrumbsIcon {
  margin-left: 14px;
}
.Crumbs .CrumbsSpan .CrumbsIcon2{
  margin-left: 88px;
}
.PasswordContainer .InterestTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-top: -14px;
  margin-left: 30px;
}
.PasswordContainer .InterestTitle .InterestImg{
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 15px;
}
.PasswordContainer .InterestTitle .InterestImg img{
  width: 100%;
  height: 100%;
}
.PasswordContainer .InterestTitle .Interesth3 {
  margin-top: 10px;
  font-size: 20px;
}
.PasswordContainer .InterestTitle .Interesth4{
  margin-top: 30px;
  font-size: 20px;
}
.PasswordContainer .InterestTitle .InterestTitleIcon {
  background: url(../img/common_icon_write.png) 0 0 no-repeat;
  background-size: contain;
  width: 32px;
  height: 33px;
  display: inline-block;
}
.FormContainer .CountryIcon {
  background: url(../img/02_interest/interest_create_icon_01.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 22px;
}
.FormContainer .SchoolIcon {
  background: url(../img/02_interest/interest_create_icon_02.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 22px;
}
.FormContainer .InterestIcon {
  background: url(../img/02_interest/interest_create_icon_03.png) no-repeat 0 0;
  width: 26px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 22px;
}
.FormContainer .HeadPortraitbox .HeadPortraitIcon {
  background: url(../img/02_interest/interest_create_icon_04.png) no-repeat 0 0;
  width: 25px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 22px;
  margin-top: 5px;
  display: inline-block;
}
.FormContainer .UserHeadImage .img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #bceee2;
  margin-bottom: 10px;
  border: none;
}
.FormContainer .UserHeadImage .but {
  display: none;
}
.FormContainer .GroupNameIcon {
  background: url(../img/02_interest/interest_create_icon_05.png) no-repeat 0 0;
  width: 26px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 22px;
}
.FormContainer .BriefIntroductionIcon {
  background: url(../img/02_interest/interest_create_icon_06.png) no-repeat 0 0;
  width: 23px;
  height: 21px;
  position: absolute;
  top: 8px;
  left: 22px;
}

.PasswordContainer .FormContainer .label-spacing {
  /* width: 38px; */
  width: 10%;
}

.layui-form-pane .layui-form-label{
  padding: 0;
}

.PasswordContainer .FormContainer {
  clear: both;
  display: flex;
}

.PasswordContainer .FormContainer .label-spacing {
  width: 20%;
}

.PasswordContainer #layui-input-block {
  margin-left: 0;
  width: 80%;
}

.layui-form-select {
  position: relative;
  display: flex;
  /* width: 80%; */
}

.layui-form-select .layui-edge {
  right: 6%;
}

.layui-select-title{
  width: 100%;
}

.FormContainer .CountryIcon {
  background: url(../img/02_interest/interest_create_icon_01.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  position: unset;
}

.FormContainer .SchoolIcon {
  background: url(../img/02_interest/interest_create_icon_02.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  position: unset;
}
.FormContainer .InterestIcon {
  background: url(../img/02_interest/interest_create_icon_03.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  position: unset;
}
.FormContainer .GroupNameIcon {
  background: url(../img/02_interest/interest_create_icon_05.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  position: unset;
}
.FormContainer .BriefIntroductionIcon {
  background: url(../img/02_interest/interest_create_icon_06.png) no-repeat 0 0;
  width: 20px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  position: unset;
}

.FormContainer .HeadPortraitbox {
  width: 20%;
}

.FormContainer .HeadPortraitbox .HeadPortraitIcon {
  background: url(../img/02_interest/interest_create_icon_04.png) no-repeat 0 0;
  width: 25px;
  height: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 13px;
  position: unset;
}

.UserHeadImage{
  margin-left: 10px;
}

.PasswordContainer .FormContainer .input-spacing {
  margin-left: 0;
}

.PasswordContainer .FormContainer .inputW{
  width: 80%;

}