.crumbs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 26px;
}
.crumbs .crumbsa{
    color: #46c4b8;
    text-decoration: none;
}
.crumbs .Icon{
    width: 9px;
    height: 15px;
    margin: 0 8px;
    background: url(../img/common_dh_to.png) no-repeat 0 0;
    /* background: url(../img/common_dh_to.png) */
}
.crumbs .Icons{
    width: 9px;
    height: 15px;
    margin: 0 8px;
    background: url(../img/banner/banner_pre_s.png) no-repeat 0 0;
}
.crumbs .crumbsTitle{
    color: #46c4b8;
}

.SelectionContainer #Selectionform {
    width: 90%;
    /* margin: 0 auto; */
    border-radius: 20px;
    /* padding: 0 42px 0 18px; */
    border: none;
    box-shadow: 2px 2px 14px #cecece;
}
.SelectionContainer #SelectionIcon {
    position: absolute;
    top: 10px;
    right: 14%;
}
.FooterBg .FooterContainer dd a{
    color: #7f8986;
    text-decoration: none;
}
.NumberOfPagesContainer #NumberOfPages{
    text-align: center;
}
hr {
    background-color: #e6e6e6;
    height: 2px;
    /* margin: 30px 0 0; */
    border: 0;
    clear: both;
}

.layui-btn-normal {
    background-color: #46c4b8;
}
html, body {
height: 100%;
}
.page_str{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    text-align: center;
    font-size: 0;
}

.prev,.next{
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    min-width: 76px;
    text-align: center;
    border: 1px solid #e2e2e2;
    text-decoration: none;
}
.prev:hover,.next:hover{
    color: #009688;
    text-decoration: none;
}
.num{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    text-decoration: none;
}
.num:hover{
    text-decoration: none;
}
.current{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    background-color: #009688;
    border: 1px solid #e2e2e2;
    color: #fff;
}

.rows{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    margin-left: 10px;
}

.first,.end{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    text-decoration: none;
}

.first:hover,.end:hover{
    text-decoration: none;
}