.FollowList_content{
    margin-top: 50px;
}
 .FollowList_content_left{
    box-shadow: 0 2px 18px 2px #c0c0c0;
    padding: 15px;
}

.FollowList_content .FollowList_content_left .FollowList_content_left_title{
    color: #86d5cc;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.FollowList_content .FollowList_content_left .FollowList_content_left_title .title_name{
    margin-right: 5px;
}
.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
}
.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item span{
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item .item_title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12px;
}

.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item .item_title span{
    /* max-width: 70%; */
}

.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item .item_title .item_title_img{
    width: 25px;
    height: 21px;
    overflow: hidden;
}
.FollowList_content .FollowList_content_left .FollowList_content_left_list .FollowList_content_left_item .item_title .item_title_img img{
    width: 100%;
}

.FollowList_content .FollowList_content_left .FollowList_btn{
    width: 90%;
    height: 40px;
    border: 1px solid #46c4b8;
    border-radius: 44px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    cursor: pointer;
}
.FollowList_content .FollowList_content_left .FollowList_btn:hover{
    background: #46c4b8;
    color: #fff;
}
.FollowList_content_right{
    box-shadow: 0 2px 18px 2px #c0c0c0;
    padding: 26px 30px;
    min-height: 407px; 
}
.FollowList_content_right .FollowList_content_right_title{
    color: #86d5cc;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.FollowList_content_right .FollowList_content_right_title .title_name{
    margin-right: 15px;
}

.FollowList_content_right .right_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}
.FollowList_content_right .right_list .right_list_item{
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 2px 18px 2px #c0c0c0;
    border-radius: 4px;
    width: 45%;
    padding: 11px;
    /* margin-right: 25px; */
}
.FollowList_content_right .right_list .right_list_item .right_list_item_left{
    margin-right: 10px;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_left .left_img{
    width: 55px;
    height: 55px;
    overflow: hidden;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_left .left_img img{
    width: 100%;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right{
    padding: 17px 0;
    width: 75%;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .item_right_name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_state{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_state .state_icon{
    width: 21px;
    height: 18px;
    overflow: hidden;
    margin-right: 8px; 
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_state .state_icon img{
    width: 100%;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_state span{
    font-size: 12px;
    color: #808080;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_Signature{
    margin-bottom: 25px;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_btn .right_btn{
    border: 2px solid #46c4b8;
    width: 46%;
    height: 30px;
    border-radius: 23px;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 5px;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_btn .right_btn span{
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.FollowList_content_right .right_list .right_list_item .right_list_item_right .right_item_btn .right_btn:hover{
    background: #46c4b8;
    color: #fff;
}
.Following_tip{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
}
.Following_tip span{
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Following_tip .tip_title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12px;
}
.Following_tip .tip_title .tip_title_img{
    width: 25px;
    height: 21px;
    overflow: hidden;
}
.Following_tip .tip_title .tip_title_img img{
    width: 100%;
}
.FollowList_Create{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
}
.FollowList_Create .FollowList_Create_input{
    width: 54%;
    margin-right: 5px;
    padding: 5px 10px;
}
.FollowList_Create .FollowList_Create_Btn{
    width: 24%;
    border-radius: 8px;
    padding: 4px 4px;
    text-align: center;
    background: #fff;
    margin-right: 4px;
    border: 1px solid #46c4b8;
    cursor: pointer;
}
.FollowList_Create .FollowList_Create_Btn:hover{
    background: #46c4b8;
    color: #fff;
}
.FollowList_Create .FollowList_Create_Btn:last-child{
    margin-right: 0;
}
#NumberOfPagesContainer{
    margin: 30px;
    text-align: right;
}


.modal-body-list{
    background: #aaa;
    padding: 15px;
    margin-top: 15px;
}
.modal-body-list .modal-body-item-box{
    height: 360px;
    font-size: 0;
    overflow-y: scroll;
}
.modal-body-list .modal-body-item-box::-webkit-scrollbar {display:none}
.modal-body-list .modal-body-item-box .modal-body-item{
    width: 50%;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 14px;
}
.modal-body-list .modal-body-item-box .modal-body-item input[type="checkbox"]{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.modal-body-list .modal-body-addGroup{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    width: 50%;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 13px;
    cursor: pointer;
}
.modal-body-list .modal-body-addGroup .modal-body-addIcon{
    margin-right: 15px;
    font-size: 20px;
}

.modal-body-list .modal-body-addName{
    cursor: pointer;
    display: none;
    
}
.modal-body-list .modal-body-addName button{
    width: 18%;
    background: #46c4b8;
    border-radius: 7px;
    color: #fff;
    border: 1px solid #46c4b8;
    cursor: pointer;
    padding: 5px 5px;
}
button:focus {
    outline: none;
}
.modal-body-list .modal-body-addName .addName_input{
    padding: 5px 10px;
}

@media (min-width: 576px){
    .modal-sm {
        max-width: 400px;
    }

    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }


}
