#PublicUserStyle .spacing {
  margin-top: 10px;
  margin-left: 60px;
}
#PublicUserStyle .SpilloverConcealment {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#PublicUserStyle .Container {
  border-radius: 4px;
  box-shadow: 2px 2px 14px #cecece;
}
#PublicUserStyle .FontColor {
  color: #45c5b8;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
}
.Banner {
  margin: 18px 0;
  border-top: solid #dedede 1px;
  border-bottom: solid #dedede 1px;
}
.Banner .layui-carousel-ind li.layui-this {
  background-color: #46c4b8;
}
.LatestContentContainer {
  box-shadow: 2px 2px 14px #cecece;
  padding: 20px;
}
.LatestContentContainer .TitleSearch .h4 {
  /* float: left; */
  font-size: 20px;
  color: #46c4b8;
  margin-top: 10px;
}
.TitleSearch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.LatestContentContainer .SelectionContainer {
  /* clear: right; */
  width: 48%;
  position: relative;
}

.LatestContentContainer .SelectionContainer #Selectionform {
  width: 100%;
  margin-left: 0;
  border-radius: 20px;
  /* padding: 0 42px 0 18px; */
  border: none;
  box-shadow: 2px 2px 14px #cecece;
}
.LatestContentContainer .SelectionContainer #SelectionIcon {
  /* position: absolute;
  top: 30px;
  right: 56px; */
  position: absolute;
  top: 9px;
  right: 7%;
}
.LatestContentContainer .LatestContainer {
  clear: both;
  margin-top: 44px;
}
.LatestContentContainer .LatestContainer .More {
  position: absolute;
  right: 40px;
  top: 94px;
  width: 136px;
  height: auto;
  z-index: 1;
}
.LatestContentContainer .LatestContainer .More select {
  color: #ccc;
}
.LatestContentContainer .LatestContainer .PostTable {
  border: none;
}
.LatestContentContainer .LatestContainer .PostTable .WithNumber {
  position: absolute;
}
.LatestContentContainer .LatestContainer .PostTable .WithNumber .WithNumbers {
  position: absolute;
  left: -18px;
  top: 14px;
}
.LatestContentContainer .LatestContainer .PostTable .WithNumber .WithNumberImg {
  position: absolute;
  left: -16px;
  top: 0;
}
.LatestContentContainer .LatestContainer .PostTable .NameBox {
  width: 32%;
  height: 37px;
  line-height: 50px;
}

.layui-table tr{
  padding: 9px 15px;
}
.layui-table td{
  cursor: pointer;
}
.LatestContentContainer .LatestContainer .PostTable .NameBox a{
  display: block;
  width: 100%;
  height: 100%;
}
.LatestContentContainer .LatestContainer .PostTable .TopicNames {
  color: #46c4b8;
}
.LatestContentContainer .LatestContainer .PostTable .NameIcom {
  width: 20%;
}
.LatestContentContainer .LatestContainer .PostTable .NameIcom a{
  display: block;
  height: 50px;
}
.ReleaseButContainer {
  float: right;
  width: 66%;
}
.ReleaseButContainer #GroupBtn {
  text-decoration: none;
  width: 100%;
  box-shadow: 2px 2px 14px #cecece;
}
.ReleaseButContainer #GroupBtn:hover{
  color: #fff;
}
.GroupDetailsContainer {
  clear: both;
  box-shadow: 2px 2px 14px #cecece;
  margin-top: 60px;
  padding: 20px;
}
.GroupDetailsContainer .p {
  line-height: 46px;
}
.GroupDetailsContainer .textp {
  margin: -10px 0 10px;
  width: 100%;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break:break-all;
}
.GroupDetailsContainer .Followtbut {
  width: 86%;
  margin: 10px auto 0;
}
.GroupDetailsContainer .Followtbut #GroupBtn {
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.GroupDetailsContainer .FontColor {
  color: #45c5b8;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
  padding: 4px 6px;
  margin-bottom: 16px;
}
.GroupDetailsContainer .MoreMembersbox {
  position: relative;
}
.GroupDetailsContainer .MoreMembersbox .MoreMembersA {
  position: absolute;
  right: 0;
}
.BannerContainer {
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: 2px 2px 14px #cecece;
  width: 355px;
}
.BannerContainer .FontColor {
  color: #45c5b8;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Arial Regular', Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
  padding: 4px 6px;
}
.BannerContainer .Container1 .Font {
  padding: 4px 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.BannerContainer .Container1 .img {
  width: 355px;
  height: 284px;
}
.p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.p .Group_icon{
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #45c5b8;
  margin-left: 17px;
}
.p .Group_icon img{
  width: 100%;
  height: 100%;
}
.p_box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.p_box .p_img{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
  margin-bottom: 21px;
  border: 1px solid #45c5b8;
}

.p_box .p_img img{
  width: 100%;
  height: 100%;
}

.LatestContentContainer .LatestContainer .PostTable .ImgBox{
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #45c5b8;
  overflow: hidden;
  display: block;
}
.LatestContentContainer .LatestContainer .PostTable .ImgBox img{
  width: 100%;
  height: 100%;
}

.GroupDetailsContainer .userimgs {
  margin: 0;
}

.layui-btn:hover {
  opacity: 1;
  /* color: #fff; */
}

.p_B{
  line-height: 46px;
}

.P_content{
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.layui-btn-lg{
  padding: 0;
  font-size: 16px;
}