.layui-tab {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.layui-tab-title{
    border: none;
    width: 20%;
    min-height: 238px;
    height: 453px;
    max-height: 670px;
    box-shadow: 2px 2px 14px #cecece;
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 40px;
}
.layui-tab-title::-webkit-scrollbar {
    display: none;
}
.layui-tab-title li{
    display: block;
    text-align: left;
}
.layui-tab-content{
    width: 65%;
    box-shadow: 2px 2px 14px #cecece;
    padding: 40px 48px;
}
.layui-tab-content .talk span{
    line-height: 35px;
}
.layui-tab-content .talk .talk_name{
font-weight: bolder;
margin-right: 6px;
}
.layui-tab-title .layui-this{
    background: #c5f4f0;
    color: #46c4b8;
}
.layui-tab-title .layui-this:after{
    border: none;
}
