@charset "utf-8";
header {
  width: 182px;
  height: 41px;
  background: url(../img/common_logo.png) no-repeat 24px 0;
  margin: 15px 0 14px;
}
.Crumbs span a {
  width: 26px;
  height: 24px;
  display: inline-block;
  margin: 0 0 -4px;
  background: url(../img/common_dh_icon_home.png) no-repeat 0 0;
}
.Crumbs span span {
  color: #1E9FFF;
  position: absolute;
  top: 96px;
}
.Crumbs span i {
  color: #1E9FFF;
  font-size: 20px;
}
.Crumbs span cite {
  width: 9px;
  height: 15px;
  display: inline-block;
  margin: 15px 8px 0 4px;
  background: url(../img/common_dh_to.png) no-repeat 0 0;
}
.PasswordContainer {
  -webkit-box-shadow: 0 2px 18px 2px #c0c0c0;
  -moz-box-shadow: 0 2px 18px 2px #c0c0c0;
  -o-box-shadow: 0 2px 18px 2px #c0c0c0;
  box-shadow: 0 2px 18px 2px #c0c0c0;
  margin: 20px auto;
  padding: 40px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-right: 5px;
  width: 356px;
  background-color: #ffffff;
}
.PasswordContainer .mailbox-icon1 {
  background: url(../img/01_shouye/home_register_icon_01.png) no-repeat 0 0;
  width: 22px;
  height: 18px;
  position: absolute;
  top: 10px;
  left: 9px;
}
.PasswordContainer .mailbox-icon2 {
  background: url(../img/01_shouye/home_donate_icon_03.png) no-repeat 0 0;
  width: 21px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 9px;
}
.PasswordContainer .mailbox-icon3 {
  background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
  width: 21px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 9px;
}
.PasswordContainer .mailbox-icon4 {
  background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
  width: 21px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 9px;
}
.PasswordContainer .FormContainer {
  clear: both;
}
.PasswordContainer .FormContainer .label-spacing {
  width: 38px;
}
.PasswordContainer .FormContainer .input-spacing {
  margin-left: 38px;
}
.PasswordContainer .FormContainer .input-float {
  float: left;
  width: 134px;
}
.PasswordContainer .FormContainer .Submit-but {
  width: 100%;
  margin-top: 20px;
}
.PasswordContainer .from-but {
  margin: 38px auto;
  width: 66%;
}
.PasswordContainer .from-but button {
  width: 176px;
  height: 34px;
  line-height: 32px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 14px;
  margin: 16px 0 5px;
  background-color: #fff;
  color: #666666;
  border: solid 1px #1E9FFF;
}
.PasswordContainer .from-but button:hover {
  background-color: #1e9fff;
  color: #fff;
}
.PasswordContainer .margin {
  margin: 20px auto;
  padding: 40px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-right: 5px;
}
@media (min-width: 768px) {
  .PasswordContainer {
    margin: 20px auto;
    padding: 40px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-right: 5px;
    width: 356px;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .PasswordContainer {
    margin: 20px auto;
    padding: 40px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-right: 5px;
    width: 600px;
    background-color: #ffffff;
  }
  .PasswordContainer .FormContainer {
    clear: both;
  }
  .PasswordContainer .FormContainer .label-spacing {
    width: 65px;
  }
  .PasswordContainer .FormContainer .input-spacing {
    margin-left: 65px;
  }
  .PasswordContainer .FormContainer .input-float {
    float: left;
    width: 62%;
    margin: 0 28px 0 0;
  }
  .PasswordContainer .FormContainer .Submit-but {
    width: 100%;
    margin-top: 20px;
  }
  .PasswordContainer .mailbox-icon1 {
    background: url(../img/01_shouye/home_register_icon_01.png) no-repeat 0 0;
    width: 22px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon2 {
    background: url(../img/01_shouye/home_donate_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon3 {
    background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon4 {
    background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
}
@media (min-width: 1200px) {
  .PasswordContainer {
    margin: 20px auto;
    padding: 40px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-right: 5px;
    width: 580px;
    background-color: #ffffff;
  }
  .PasswordContainer .FormContainer {
    clear: both;
  }
  .PasswordContainer .FormContainer .label-spacing {
    width: 65px;
  }
  .PasswordContainer .FormContainer .input-spacing {
    margin-left: 65px;
  }
  .PasswordContainer .FormContainer .input-float {
    float: left;
    width: 62%;
    margin: 0 28px 0 0;
  }
  .PasswordContainer .FormContainer .Submit-but {
    width: 100%;
    margin-top: 20px;
  }
  .PasswordContainer .mailbox-icon1 {
    background: url(../img/01_shouye/home_register_icon_01.png) no-repeat 0 0;
    width: 22px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon2 {
    background: url(../img/01_shouye/home_donate_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon3 {
    background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
  .PasswordContainer .mailbox-icon4 {
    background: url(../img/01_shouye/home_register_icon_03.png) no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 22px;
  }
}
footer {
  color: #999;
}
