#PublicIcons .Icon {
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .Crumbs .CrumbsSpan {
    display: inline-block;
  }
  .Crumbs .CrumbsSpan .CrumbsA {
    background: none;
    width: auto;
    display: inline-block;
    float: left;
    margin-top: 14px;
    text-decoration: none;
    color: #46c4b8;
  }
  .Crumbs .CrumbsSpan .CrumbsIcon {
    margin-left: 14px;
  }
  .Crumbs .CrumbsSpan .CrumbsIcon2{
    margin-left: 88px;
  }
  .PasswordContainer .InterestTitle {
    position: relative;
    margin-bottom: 16px;
    margin-top: -14px;
    margin-left: 30px;
  }
  .PasswordContainer .InterestTitle .Interesth3 {
    font-size: 20px;
  }
  .PasswordContainer .InterestTitle .InterestTitleIcon {
    background: url(../img/common_icon_write.png) 0 0 no-repeat;
    background-size: contain;
    width: 32px;
    height: 33px;
    display: inline-block;
    position: absolute;
    left: 130px;
    top: -6px;
  }
  .FormContainer .CountryIcon {
    background: url(../img/05_life/life_create_icon_zhou.png) no-repeat 0 0;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .SchoolIcon {
    background: url(../img/05_life/life_sy_icon_02.png) no-repeat 0 0;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .InterestIcon {
    background: url(../img/05_life/life_sy_icon_03.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .GroupProductNameIcon {
    background: url(../img/05_life/life_fabu_icon_productnamme.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .GroupProductPriceIcon {
    background: url(../img/05_life/life_secondhandmarket_icon_02.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .defaultIcon {
    background: url(../img/05_life/life_secondhandmarket_icon_01.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .GroupContactNumber {
    background: url(../img/03_academic/academic_fabu_icon_02.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .HeadPortraitbox {
    position: absolute;
  }
  .FormContainer .HeadPortraitbox .HeadPortraitIcon {
    background: url(../img/02_interest/interest_create_icon_04.png) no-repeat 0 0;
    width: 25px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
    margin-top: 5px;
    display: inline-block;
  }
  .FormContainer .UserHeadImage .img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #bceee2;
    margin-bottom: 10px;
    border: none;
  }
  .FormContainer .UserHeadImage .but {
    display: none;
  }
  .FormContainer .GroupNameIcon {
    background: url(../img/02_interest/interest_create_icon_05.png) no-repeat 0 0;
    width: 26px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  .FormContainer .BriefIntroductionIcon {
    background: url(../img/02_interest/interest_create_icon_06.png) no-repeat 0 0;
    width: 23px;
    height: 21px;
    position: absolute;
    top: 8px;
    left: 22px;
  }
  
  
  