#public .FontIcon {
  text-decoration: none;
  display: inline-block;
}
.headerBox {
  margin: 12px 0 0;
}
.logo {
  width: 260px;
  height: 60px;
  border: none;
  display: inline-block;
  background: url(../img/common_logo.png) 0 0 no-repeat;
  background-size: 260px;
  margin-top: 20px;
}
.logreg {
  float: right;
}
.logreg .Login {
  color: #56c9be;
  margin: 0 28px;
  text-decoration: none;
  display: inline-block;
}
.logreg .Login .LoginIcon {
  background: url(../img/common_nav_dz_login.png) 0 0 no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  margin: 0 6px;
}
.logreg .SignUp {
  color: #56c9be;
  text-decoration: none;
  display: inline-block;
}
.logreg .SignUp .SignUpIcon {
  background: url(../img/common_nav_dz_signup.png) 0 0 no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  margin: 0 14px;
}
.nav {
  clear: both;
  position: absolute;
  right: 10px;
  top: 48px;
}
.nav .NavBg {
  background-color: #46c4b8;
  border-radius: 28px;
  padding: 14px;
}
.nav .NavBg .ListInline > li {
  display: inline;
  margin: 0 14px;
}
.nav .NavBg .ListInline > li > a {
  color: #fff;
  text-decoration: none;
}
.nav .NavBg .ListInline > li > a:hover {
  color: #80fff3;
}
.FooterBg {
  background-color: #0e4d3d;
  padding-top: 18px;
  margin-top: 58px;
}
.FooterBg .FooterContainer {
  width: 88%;
  margin: auto;
}
.FooterBg .FooterContainer dt {
  color: #56c9be;
  margin-top: 8px;
  margin-bottom: 8px;
}
.FooterBg .FooterContainer dd {
  color: #7f8986;
}
.FooterBg .copyright {
  background-color: #000000;
  opacity: 0.2;
  padding: 6px;
  margin-top: 14px;
}
.FooterBg .copyright p {
  color: #ababab;
}
.recordbox1 {
  margin: 20px 0 60px;
}
.recordbox1 .rectext {
  line-height: 26px;
}
.recordbox2 .recordimg {
  margin-right: 8px;
}
.recordbox2 .recordcont {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-top: 14px;
}
.recordbox2 .recordcont .rectext {
  line-height: 26px;
}
.recordbox2 .recordcont .dowbut {
  margin-top: 32px;
  text-decoration: none;
}
.NumberOfPagesContainer {
  margin-top: 40px;
}

.text_con{
  line-height: 26px;
  font-size: 0;
}
.text_con .rectext_title{
  display: inline-block;
  width: 52%;
  text-align: right;
  font-size: 14px;
  padding: 0 15px;
  vertical-align: top;
}
.text_con .rectext{
  display: inline-block;
  width: 48%;
  font-size: 14px;
}
.Interesth3{
  /* text-align: center; */
  margin-bottom: 40px;
}