.PasswordContainer {
  margin-top: 84px;
}
.PasswordContainer .PostSharingbtext {
  margin: 12px 0 34px;
}
.PasswordContainer .PostSharingbvideo .PostSharingbimg {
  padding: 18px 0;
}
.PasswordContainer .PostSharingbut {
  margin-top: 22px;
}
.PostSharingfooter {
  margin: 40px 0 0;
}
