.StickSonDetailsContainer {
  margin-top: 24px;
}
.StickSonDetailsContainer .StickSonDetailsTitleTime {
  font-size: 14px;
  margin-top: 10px;
  color: #999;
}
.StickSonDetailsContainer .StickSonDetailsContent {
  margin-top: 14px;
}
.StickSonDetailsContainer .imgs {
  width: 100%;
  height: auto;
  /* margin: 16px 0 60px; */
}
.StickSonDetailsContainer .PostReply {
  margin: 20px 0;
}
.StickSonDetailsContainer .PostReply .GuestBookUserImg {
  float: left;
  width: 44px;
  height: 44px;
  /* margin-right: 16px;
  margin-top: 30px; */
}
.StickSonDetailsContainer .PostReply .GuestBookUserImg .imgs {
  width: 100%;
  /* height: auto;
  position: relative;
  top: -44px; */
}
.StickSonDetailsContainer .PostReply .GuestBookContainer {
  margin-top: 30px;
}
.StickSonDetailsContainer .PostReply .GuestBookContainer .GuestBookUserTitleContainer .GuestBookUserName {
  float: left;
  margin-top: 8px;
}
.StickSonDetailsContainer .PostReply .GuestBookContainer .GuestBookUserTitleContainer .TimeFabulousContainer {
  float: right;
  margin-top: 8px;
}
.StickSonDetailsContainer .PostReply .GuestBookContainer .GuestBookUserTitleContainer .TimeFabulousContainer .GuestBookUserTime {
  margin-right: 28px;
  color: #999;
}
.StickSonDetailsContainer .PostReply .GuestBookContainer .GuestBookUserTitleContainer .TimeFabulousContainer .GuestBookUserFabulous {
  margin-right: 22px;
  color: #999;
  cursor: pointer;
}
.StickSonDetailsContainer .PostReply .GuestBookUserMessage {
  display: inline-block;
  margin: 6px 0;
}
.StickSonDetailsContainer .PostReply .ReplyContainer {
  color: #46c4b8;
}
.NumberOfPagesContainer {
  margin: 50px 0 30px;
}
.NumberOfPagesContainer #NumberOfPages {
  width: 100%;
  margin: 0 auto;
}
.ReturnBox {
  position: relative;
}
.ReturnBox .ReturnBoxicon {
  /* position: absolute;
  z-index: 2;
  top: 6px;
  left: 12px; */
}
.ReturnBox .ReplyUser{
  color: #46c4b8;
}
.ReturnBox .Returntextarea {
  /* padding: 44px 100px 0 10px; */
}
.ReturnBox .Returnbut {
  min-width: 130px;
}
.GroupDetailsContainer {
  clear: both;
  box-shadow: 2px 2px 14px #cecece;
  margin-top: 60px;
  padding: 20px;
}
.GroupDetailsContainer .p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 46px;
}
.GroupDetailsContainer .p .p_pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.GroupDetailsContainer .p .p_pic img{
  width: 100%;
  height: 100%;
}
.GroupDetailsContainer .textp {
  margin: -10px 0 10px;
}
.GroupDetailsContainer .Followtbut {
  width: 86%;
  margin: 10px auto 0;
}
.GroupDetailsContainer .Followtbut #GroupBtn {
  width: 100%;
  text-decoration: none;
}
.GroupDetailsContainer .userimgs {
  margin: 5px 10px;
}

.clearfix:after{
	content:"" ;
	display: block;
	clear: both;
}
.PostReply_box .PostReply_boxT{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;

}
.PostReply_box .PostReply_box_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}
.PostReply_box .PostReply_boxT .PostReply_box_titleG{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.PostReply_box .PostReply_boxT .PostReply_box_titleG .titleG_img{
  width: 26px;
  height: 26px;
  overflow: hidden;
  margin-right: 19px;
  cursor: pointer; 
}
.PostReply_box .PostReply_boxT .PostReply_box_titleG .titleG_img a{
  display: block;
  width: 100%;
  height: 100%;
}
.PostReply_box .PostReply_boxT .PostReply_box_titleG .titleG_img img{
  width: 100%;
  height: 100%;
}
.PostReply_box .PostReply_box_title .title_pic{
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin-right: 12px;
}
.PostReply_box .PostReply_box_title .title_pic img{
  width: 100%;
  height: 100%;
}

.PostReply_box .PostReply_box_title .title_content{
  font-size: 16px;
  font-weight: bold;
}

.PostReply_box .PostReply_box_content .PostReply_box_content_item{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 20px 0 25px;
  border-bottom: 1px solid #ededed;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_pic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_pic img{
  width: 100%;
  height: 100%;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con{
  flex-grow: 1;
  width: 80%;
  padding-top: 0;
  margin-left: 15px;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #808080;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con_title .item_user_name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con_title .item_user_name .item_Top{
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-left: 15px;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con_title .item_user_name .item_Top img{
  width: 100%;
  height: 100%;
}
.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con_title .item_user_det{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item_con_title .item_user_det .det_time{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 35px;
}
.item_con_title .item_user_det .det_time .det_time_img{
  margin-right: 5px;
}
.item_con_title .item_user_det .det_zan{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item_con_title .item_user_det .det_zan .line{
  width: 2px;
  height: 13px;
  background: #959595;
  display: block;
  margin: 0 12px;
}
.item_con_title .item_user_det .det_zan .det_zan_box .zan_box_img{
  margin-right:5px; 
}
.item_con_title .item_user_det .det_zan .det_zan_box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con .item_con_det{
  word-break:break-all;
  margin-bottom: 15px;
}

.PostReply_box .PostReply_box_content .PostReply_box_content_item .item_con .reply_person{
  color: #46c4b8;
}
.item_con_title .item_user_det .det_zan .det_reply{
  cursor: pointer;
}
.item_con_title .item_user_det .det_zan .det_zan_box .zan_box_img {
  cursor: pointer;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.item_con_title .item_user_det .det_zan .det_zan_box .zan_box_img img{
  width: 100%;
  height: 100%;
}

.item_con_title .item_user_det .det_zan .det_accept{
  background: #46c4b8;
  color: #fff;
  border-radius: 23px;
  width: 66px;
  text-align: center;
  padding: 1px 0;
  cursor: pointer;
}
.ReturnBox{
  border: 2px solid #46c4b8;
  padding: 10px 12px;
  border-radius: 7px;
}
.ReturnBox textarea{
  border: none;
  resize: none;
}
.ReturnBox .bottom_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ReturnBox .refresh_btn{
  /* position: absolute;
  bottom: 7px;
  left: 1%; */
  width: 15px;
  height: 15px;
  transition: all 1s;
  cursor: pointer;
}
.ReturnBox .refresh_btn img{
  width: 100%;
}

.layui-laypage .layui-laypage-curr {
  width: 1%;
}

p{
  line-height: 30px;
}

