
<head>
		<meta charset="utf-8" />
		<title>子昊钢琴后台管理系统</title>
		<meta name="keywords" content="子昊钢琴后台管理系统" />
		<meta name="description" content="子昊钢琴后台管理系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css" />

		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css" />


		<script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>


		<script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

	</head>
	<body style='background:#fff;'>
	<div class="page-content">
	<div class="page-header">
		<h1>
			<a href="{:U('Tiezi/tiezi_type')}" target="rightFrame" style='text-decoration:none;'>用户管理</a>
			<small> <i class="icon-double-angle-right"></i>
				修改密码
			</small>
		</h1>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" action="{:U('Admin/Students/student_edit')}" method="POST" role="form" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">学生账号</label>
						<div class="col-sm-9">
							<input type="text" name="username" value="<?php echo $data['username'];?>" readonly/>
						</div>
					</div>
<input type="hidden" name="userid" value="<?php echo $userid;?>" />
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">学生姓名</label>
						<div class="col-sm-9">
							<input type="text" name="t_truename" value="<?php echo $data['t_truename'];?>" 
							readonly/>
						</div>
					</div>
			  <div class="form-group" >
			     	<label class="col-sm-3 control-label no-padding-right" for="form-field-1">所属老师</label>
			     	<div class="col-sm-9" style="height:40px;overflow:hidden;">
						<select name="tid" style="width:135px;float:left;" id='cat_name'>
						   						
							<?php foreach($list as $v){?>
							  <option value="<?php echo $v['t_userid']?>" <?php if($tid==$v['t_userid']){echo 'selected';}?>><?php echo $v['t_truename']?></option>
							<?php }?>
						</select>	
				   </div>
                 </div>

					<!-- <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">原密码</label>
						<div class="col-sm-9">
							<input type="password" name="pwd" value="" placeholder="原密码" />
						</div>
					</div> -->
				
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码</label>
						<div class="col-sm-9">
							<input type="password" name="newpassword" value="" placeholder="新密码" />	
						</div>
						<span style="color:#2679b5;">(如果无需修改密码则不需要填写)</span>
					</div>

					 <div class="form-group" >
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">密码重复</label>
						<div class="col-sm-9">
							<input type="password" name="passwordagain" value="" placeholder="重新再输入一次" />
						</div>
			     	</div>
			     
			    
					<div class="form-actions center">
					<a  class="btn btn-sm btn-success" id='queren'>
						<i class="icon-edit bigger-110"></i>
						确认
					</a>

					<a class="btn btn-sm btn-warning" href="javascript:history.back(-1)" target="rightFrame" class="myButton">
						<i class="icon-arrow-left icon-on-left bigger-110"></i>
						取消
					</a>
					</div>
			</form>
		</div>
	</div>
</div>
</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
	.btn-xs {
		margin-right: 10px!important;
	}
</style>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<!-- ajax 提交表单 -->

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>

<script>
function showStart(){
    return true;
}
function showSuccess(data){

    	if(data == 1){
    		alert('修改成功')
    		location.href="{:U('Admin/Students/student_list')}"
    	}else{
    		alert(data)
    		return false
    	}

}
$(function(){
	var options = {
		        beforeSubmit:showStart,
		        success:showSuccess,

		 };
	$('#queren').click(function(){
	  
		$('.form-horizontal').ajaxSubmit(options);
		
	})
	
})


</script>










