<head>
    <meta charset="utf-8"/>
    <title>{:L('newworld_admin')}</title>
    <meta name="keywords" content="{:L('newworld_admin')}"/>
    <meta name="description" content="{:L('newworld_admin')}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin//admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">

    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/chosen.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/datepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/daterangepicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorpicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/colorbox.css"/>
    <!-- ace styles -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/Admin//admin/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <!--[if !IE]> -->

    <script src="__PUBLIC__/Admin/admin/js/jquery-2.0.3.min.js"></script>

    <!-- <![endif]-->
    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin//admin/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin//admin/js/html5shiv.js"></script>
    <script src="__PUBLIC__/Admin//admin/js/respond.min.js"></script>
    <![endif]-->
</head>
<body style='background:#fff;'>
<div class="page-content">
    <div class="page-header">
        <h1>
            {:L('Message')}
            <small> <a class="icon-double-angle-right" href="{:U('Admin/Message/message_list')}">
                {:L('Message_message_list')}
            </a>
            </small>

        </h1>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" method="POST" >

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{:L('Message_set_one_uid')}</label>
                    <div class="col-sm-9">
                        <input type="text" id="uid" placeholder="{:L('Message_set_one_uid')}" style="width:300px;" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{:L('Message_message_list_title')}</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" placeholder="{:L('Message_message_list_title')}" style="width:300px;" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{:L('Message_message_list_content')}</label>
                    <div class="col-sm-9">
                        <textarea style="width: 300px;height: 100px;" id="content"></textarea>
                    </div>
                </div>

                <div class="form-actions center">
                    <a class="btn btn-sm btn-success" onclick="set()">
                        <i class="icon-edit bigger-110"></i>
                        {:L('Message_set_list_if')}
                    </a>
                    <a class="btn btn-sm btn-warning" href="javascript:history.back(-1)" class="myButton">
                        <i class="icon-arrow-left icon-on-left bigger-110"></i>
                        {:L('Message_set_list_back')}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<!-- /.page-content -->
<style type="text/css" media="screen">
    .btn-xs {
        margin-right: 10px !important;
    }
</style>

<script src="__PUBLIC__/Admin/admin/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>

<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.tan.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Admin/admin/js/jquery.form.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/Admin/admin/js/date-time/daterangepicker.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>

<script type="text/javascript">
    


    function set() {

        var formData = new FormData();
        formData.append('title',$("#title").val())
        formData.append('uid',$("#uid").val())
        formData.append('content',$("#content").val())

        $.ajax({
            url: "{:U('Admin/Message/message_ajax_setone')}",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            dataType:'json',
            success: function (data) {

                if(data.str == 1) {
                    layer.msg(data.msg,{
                            time:1500,
                            icon:1,
                        },function () {
                            location.reload()
                        }
                    );

                }else {
                    layer.msg(data.msg,{
                            time:1500,
                            icon:2,
                        }
                    );

                }
            },
            error: function () {
                layer.msg("{:L('Mark_mark_list_error')}",{
                        time:1500,
                        icon:2,
                    }
                );
            }
        });
    }
    

</script>








