<!DOCTYPE html>
<html lang="en">
     <head>
        <meta charset="UTF-8">
        <title>Address Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/AddressBook.css">
    </head>

    <body>
         <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>

        <!-- Crumbs nav -->
        <div class="container">
                <div class="row">
                    <div class="col-md-6 crumbs">
                            <a href="index.html" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
                            <cite class="Icon"></cite>
                            <span class="crumbsTitle">Address Book</span>
                        </div>
                        <div class="col-md-6">
                            <div class="SelectionContainer">
                                <input type="text" class="layui-input" id="Selectionform">
                                <a href="#" id="SelectionIcon">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_search_icon.png">
                                </a>
                            </div>
                        </div>
                </div>
            </div>


            <!-- AddressBook content -->
            <div class="container">
                <div class="AddressBook_box">
                    <div class="AddressBook_item">
                        <div class="AddressBook_left">
                            <a href="PersonalCenter.html">
                                <div class="AddressBook_left_img">
                                    <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                </div>
                                <div class="AddressBook_left_user">
                                    Kendall J.
                                </div>
                        </a>
                            </div>
        
                            <div class="AddressBook_right">
                                <div class="AddressBook_btn">
                                        ChangeName
                                </div>
                                <div class="AddressBook_btn">
                                        Delete
                                </div>
                            </div>

                    </div>

                    <div class="AddressBook_item">
                        <div class="AddressBook_left">
                            <a href="PersonalCenter.html">
                                <div class="AddressBook_left_img">
                                    <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                </div>
                                <div class="AddressBook_left_user">
                                    Kendall J.
                                </div>
                        </a>
                    </div>
        
                            <div class="AddressBook_right">
                                <div class="AddressBook_btn">
                                        ChangeName
                                </div>
                                <div class="AddressBook_btn">
                                        Delete
                                </div>
                            </div>

                    </div>

                    <div class="AddressBook_item">
                        <div class="AddressBook_left">
                            <a href="PersonalCenter.html">
                                <div class="AddressBook_left_img">
                                    <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                </div>
                                <div class="AddressBook_left_user">
                                    Kendall J.
                                </div>
                        </a>
                    </div>
        
                            <div class="AddressBook_right">
                                <div class="AddressBook_btn">
                                        ChangeName
                                </div>
                                <div class="AddressBook_btn">
                                        Delete
                                </div>
                            </div>

                    </div>

                </div>
                <div class="container" id="NumberOfPagesContainer">
                        <div id="NumberOfPages"></div>
            </div>
            </div>


        <!-- footer -->
        <footer>
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>

    </body>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
</html>