<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../web/css/register.css">
    <link rel="stylesheet" href="../web/css/Donation.css">
    <link rel="stylesheet" href="../web/css/NewsDetails.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../web/css/Crumbsnav.css">
    <link rel="stylesheet" href="../web/css/success_index.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <div class="logreg">
            <a href="login.html" class="Login">
                <span class="LoginIcon"></span>
                <span>Login</span>
            </a>
            <a href="register.html" class="SignUp">
                <span class="SignUpIcon"></span>
                <span>Sign Up</span>
            </a>
        </div>
        <div class="login_success">
                        
                <div class="success_index">
                        <a href="index.html">
                            <img src="img/common_dh_icon_home.png" alt="">
                        </a>
                    </div>
                    <div class="success_setting">
                            <img src="img/setting.png" alt="">
                            <div class="dot"></div>
                            <div class="setting_usage">
                                <ul>
                                    <li>
                                        <a href="AcountSetting.html">
                                            <div class="usage_img">
                                                <img src="img/person.png"">
                                            </div>
                                            Account Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ResumeDetails.html">
                                            <div class="usage_img">
                                                <img src="img/resume.png"">
                                            </div>
                                            My Resume
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyPosts.html">
                                                <div class="usage_img">
                                                        <img src="img/release.png"">
                                                    </div>
                                            My Release
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyMessage.html">
                                                <div class="usage_img">
                                                        <img src="img/message.png"">
                                                    </div>
                                            Message
                                            <div class="dot1"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyFollowing.html">
                                                <div class="usage_img">
                                                        <img src="img/focus.png"">
                                                    </div>
                                            My Focus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AddressBook.html">
                                                <div class="usage_img">
                                                        <img src="img/contacts.png"">
                                                    </div>
                                            Contacts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyGroup.html">
                                                <div class="usage_img">
                                                        <img src="img/group.png"">
                                                    </div>
                                            My Group
                                        </a>
                                    </li>
                                    <li>
                                        <a href="feedback.html">
                                                <div class="usage_img">
                                                        <img src="img/feedback.png"">
                                                    </div>
                                            Feedback
                                        </a>
                                    </li>
                                    <li class="quit">
                                        <a href="#">
                                            <div class="usage_img">
                                                <img src="img/sign_out.png"">
                                            </div>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="success_user">
                        <a href="PersonalCenter.html">
                            <img src="img/01_shouye/UserPic.png" alt="">
                        </a>
                    </div>
                    <div class="success_name">
                        <a href="PersonalCenter.html">Davie</a>
                    </div>
                    <div class="success_line"></div>
                    <div class="success_money">
                        <a href="VirtualCurrencyRecharge.html">
                            <div class="money_img">
                                <img src="img/money.png" alt="">
                            </div>
                            <div class="money_num">
                                1280
                            </div>
                        </a>
                    </div>
                    
    </div>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container Crumbs">
            <span>
            <a href="index.html"></a>
            <cite></cite>
            <span>About Us</span>
            </span>
    </div>
    <!-- body content -->
    <div class="container">
            <div class="News_content">
                    <div class="News_title">
                            About Us
                    </div>
                    <div class="News_time">
                        01-20-2018 20:18:58
                    </div>
                    <div class="News_pic">
                        <img src="img/banner.png">
                    </div>
                    <div class="News_contents">
                        <p>College will be the most important years in your life. It is in college that you will truly discover what learning is 
                            You often question "what good is this course". I encourage you to be inquisitive, but I also want to tell you: "Educati
                            -on is what you have left after all that is taught is forgotten."</p>
                        <p>   College will be the most important years in your life. It is in college that you will truly discover what learning is 
                            You often question "what good is this course". I encourage you to be inquisitive, but I also want to tell you: "Educati
                            -on is what you have left after all that is taught is forgotten." What I mean by that is the materials taught isn't as impo
                            -rtant as you gaining the ability to learn a new subject, and the ability to analyze a new problem. That is really what 
                            learning in college is about – this will be the period where you go from teacher-taught to master-inspired, after which
                             you must become self-learner. So do take each subject seriously, and even if what you learn isn't critical for your lif
                            -e, the skills of learning will be something you cherish forever.</p>
                    </div>
                </div>
            
    </div>
    
        <!-- footer -->
        <footer>
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>
    <script src="../js/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/lib/layui/dist/layui.all.js"></script>
    <script src="../web/js/StickSonDetails.js"></script>
    <script src="../web/js/loginQuit.js"></script>
</body>

</html>