<!DOCTYPE html>
<html lang="en">
<head>
    <include file="./World/Index/View/Public/meta.html"/>
</head>

<body>
<!-- logo -->
<header class="container">
    <include file="./World/Index/View/Public/head.html"/>
</header>
<hr>

<!-- Crumbs nav -->

<div class="container crumbs">
    <a href="{__ROOT__}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
    <cite class="Icon"></cite>
    <a href="{:U('User/DeliveryRecord')}" class="crumbsa">{$title}</a>
    <cite class="Icon"></cite>
    <span class="crumbsTitle">{$title}</span>
</div>

<div class="container">
    <div class="DeliveryRecord_box">
        <table class="layui-table">
            <thead>
            <tr>
                <td>Name</td>
                <td>Delivery business</td>
                <td>Date</td>
                <td>Mail delivery</td>
                <td>Status</td>
            </tr>
            </thead>
            <tr class="tr_item">
                <td>Resume 1</td>
                <td>Apple company</td>
                <td>01/5/2018</td>
                <td>xxxxxxxxxxxx@xxx.com</td>
                <td>Has been delivereds</td>
            </tr>
            <tr class="tr_item">
                <td>Resume 1</td>
                <td>Apple company</td>
                <td>01/5/2018</td>
                <td>xxxxxxxxxxxx@xxx.com</td>
                <td>Has been delivereds</td>
            </tr>
            <tr class="tr_item">
                <td>Resume 1</td>
                <td>Apple company</td>
                <td>01/5/2018</td>
                <td>xxxxxxxxxxxx@xxx.com</td>
                <td>Has been delivereds</td>
            </tr>
        </table>

    </div>

    <div class="container" id="NumberOfPagesContainer">
        <div id="NumberOfPages"></div>
    </div>
</div>

<!-- foot start 底部信息 -->
<footer class="container-fluid FooterBg">
    <div class="row FooterContainer">
        <div class="col-xs-6 col-md-4">
            <dl>
                <dt>ABOUT</dt>
                <dd>
                    NewWorld.net is a comprehensive website that provides an efficient source of resources and
                    convenience for our every -day lives. We can easily discover, share and create a new world.
                </dd>
            </dl>
        </div>
        <div class="col-xs-6 col-md-4">
            <dl>
                <dt>SUPPORT</dt>
                <dd>Premium Support</dd>
                <dd>Get Started</dd>
                <dd>Partners</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-md-4">
            <dl>
                <dt>Help Center</dt>
                <dd><a href="HelpCenter.html">Help Center</a></dd>
                <dd><a href="ContactUs.html">Contact Us</a></dd>
            </dl>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-md-12">
            <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- foot end 底部信息 -->

</body>
<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
<script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
<script>

</script>
</html>