<!DOCTYPE html>
<html lang="en">
<head>
    <include file="./World/Index/View/Public/meta.html"/>
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
</head>

<body>
    <div class="web">
        <!-- logo -->
        <header class="container">
            <include file="./World/Index/View/Public/head.html"/>
        </header>
        <hr>
        
        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">{$title}</span>
        </div>
        
        <div class="FollowList_content section">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-3 FollowList_content_left">
                        <div class="FollowList_content_left_title">
                            <p class="title_name">My followng :</p>
                            <span>30</span>
                        </div>
                        <div class="FollowList_content_left_list">
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 1 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 2 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 3 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 4 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 5 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                </div>
                                <span>community 6 </span>:
                                <div class="item_num">
                                    12
                                </div>
                            </div>
        
                            <!-- <div class="FollowList_content_left_item">
                                <div class="item_title">
                                    <div class="item_title_img">
                                        <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                    </div>
                                    <span>Unclassified :</span>
                                </div>
                                <div class="item_num">
                                    12
                                </div>
                            </div> -->
        
                        </div>
        
                        <div class="Following_tip">
                            <div class="tip_title">
                                <div class="tip_title_img">
                                    <img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt="">
                                </div>
                            </div>
                            <span>Unclassified </span>:
                            <div class="item_num">
                                12
                            </div>
                        </div>
        
                        <div class="FollowList_btn">
                            Create a community
                        </div>
                        <div class="FollowList_Create">
                            <input type="text" class="FollowList_Create_input">
                            <div class="FollowList_Create_Btn Create_Btn_Create">
                                Create
                            </div>
                            <div class="FollowList_Create_Btn Create_Btn_Cancel">
                                Cancel
                            </div>
                        </div>
                    </div>
        
        
                    <div class="col-md-9">
                        <div class="FollowList_content_right">
                            <div class="FollowList_content_right_title">
                                <p class="title_name">My followng :</p>
                                <span>380</span>
                            </div>
                            <div class="right_list">
                                <div class="right_list_item">
                                    <div class="right_list_item_left">
                                        <div class="left_img">
                                            <img src="../web/img/02_interest/user.png" alt="">
                                        </div>
                                    </div>
                                    <div class="right_list_item_right">
                                        <div class="item_right_name">
                                            Jessi J
                                        </div>
                                        <div class="right_item_state">
                                            <div class="state_icon">
                                                <img src="../web/img/02_interest/interest_sy_icon_03.png" alt="">
                                            </div>
                                            <span>following</span>
                                        </div>
                                        <div class="right_item_Signature">
                                            Signature: The world is so big I want to see
                                        </div>
                                        <div class="right_item_btn">
                                            <div class="right_btn right_btn_Group" data-toggle="modal" data-target="#box1">
                                                <span>community 1</span>
                                            </div>
                                            <div class="right_btn right_Btn_Follow">
                                                Unfollow
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="right_list_item">
                                    <div class="right_list_item_left">
                                        <div class="left_img">
                                            <img src="../web/img/02_interest/user.png" alt="">
                                        </div>
                                    </div>
                                    <div class="right_list_item_right">
                                        <div class="item_right_name">
                                            Jessi J
                                        </div>
                                        <div class="right_item_state">
                                            <div class="state_icon">
                                                <img src="../web/img/02_interest/interest_sy_icon_03.png" alt="">
                                            </div>
                                            <span>following</span>
                                        </div>
                                        <div class="right_item_Signature">
                                            Signature: The world is so big I want to see
                                        </div>
                                        <div class="right_item_btn">
                                            <div class="right_btn right_btn_Group" data-toggle="modal" data-target="#box1">
                                                <span>community 1</span>
                                            </div>
                                            <div class="right_btn right_Btn_Follow">
                                                Unfollow
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add friend -->
                    <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title">
                                            Reminder
                                        </span>
                                    <a class="close" data-dismiss="modal" aria-label="Close"
                                       style="position: absolute;right: 10px;top: 16px;">
                                            <span aria-hidden="true">&times;
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-title">Select the following community :</div>
                                    <div class="modal-body-list">
                                        <div class="modal-body-item-box">
                                            <div class="modal-body-item">
                                                <input type="checkbox" value="1" name="GroupName">
                                                community 1
                                            </div>
                                            <div class="modal-body-item">
                                                <input type="checkbox" value="2" name="GroupName">
                                                community 2
                                            </div>
                                            <div class="modal-body-item">
                                                <input type="checkbox" value="3" name="GroupName">
                                                community 3
                                            </div>
                                        </div>
                                        <div class="modal-body-addGroup">
                                            <div class="modal-body-addIcon">+</div>
                                            <span>Create a community</span>
                                        </div>
                                        <div class="modal-body-addName">
                                            <input type="text" class="addName_input">
                                            <button class="addName_Create">Create</button>
                                            <button class="addName_Cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" id="NumberOfPagesContainer">
                        <div id="NumberOfPages"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- foot start 底部信息 -->
        <footer class="footer">
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>
        <!-- foot end 底部信息 -->

    </div>

</body>
<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
<script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
<script>
//打开创建组
        $('.FollowList_content .FollowList_content_left .FollowList_btn').on('click',function(){
            $('.FollowList_Create').css('display','flex');
            $(this).css('display','none')
        })
        //关闭创建组
        $('.FollowList_Create .Create_Btn_Cancel').on("click",function(){
            $('.FollowList_Create').css('display','none');
            $('.FollowList_content .FollowList_content_left .FollowList_btn').css('display','block')
        })
        //创建组
        $('.FollowList_Create .Create_Btn_Create').on("click",function(){
            var Create_name = $('.FollowList_Create .FollowList_Create_input').val();
            if(Create_name!=""){
                var C_content = '<div class="FollowList_content_left_item"><div class="item_title"><div class="item_title_img"><img src="../web/img/06_gerenzhongxin/grzx_sz_icon_07.png" alt=""></div></div><span>community 6 </span>:<div class="item_num">12</div></div>';
                $('.FollowList_content_left_list').append(C_content);
            }else{
                alert("Please enter group name")
            }
        })
</script>
</html>