<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../web/css/register.css">
    <link rel="stylesheet" href="../web/css/Donation.css">
    <link rel="stylesheet" href="../web/css/NewsDetails.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../web/css/Crumbsnav.css">
    <link rel="stylesheet" href="../web/css/success_index.css">
    <link rel="stylesheet" href="../web/css/HelpCenter.css">
</head>

<body>
    <!-- logo -->
    <header class="container">
        <div class="logreg">
            <a href="login.html" class="Login">
                <span class="LoginIcon"></span>
                <span>Login</span>
            </a>
            <a href="register.html" class="SignUp">
                <span class="SignUpIcon"></span>
                <span>Sign Up</span>
            </a>
        </div>
        <div class="login_success">
                        
                <div class="success_index">
                        <a href="index.html">
                            <img src="img/common_dh_icon_home.png" alt="">
                        </a>
                    </div>
                    <div class="success_setting">
                            <img src="img/setting.png" alt="">
                            <div class="dot"></div>
                            <div class="setting_usage">
                                <ul>
                                    <li>
                                        <a href="AcountSetting.html">
                                            <div class="usage_img">
                                                <img src="img/person.png"">
                                            </div>
                                            Account Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ResumeDetails.html">
                                            <div class="usage_img">
                                                <img src="img/resume.png"">
                                            </div>
                                            My Resume
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyPosts.html">
                                                <div class="usage_img">
                                                        <img src="img/release.png"">
                                                    </div>
                                            My Release
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyMessage.html">
                                                <div class="usage_img">
                                                        <img src="img/message.png"">
                                                    </div>
                                            Message
                                            <div class="dot1"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyFollowing.html">
                                                <div class="usage_img">
                                                        <img src="img/focus.png"">
                                                    </div>
                                            My Focus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AddressBook.html">
                                                <div class="usage_img">
                                                        <img src="img/contacts.png"">
                                                    </div>
                                            Contacts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="MyGroup.html">
                                                <div class="usage_img">
                                                        <img src="img/group.png"">
                                                    </div>
                                            My Group
                                        </a>
                                    </li>
                                    <li>
                                        <a href="feedback.html">
                                                <div class="usage_img">
                                                        <img src="img/feedback.png"">
                                                    </div>
                                            Feedback
                                        </a>
                                    </li>
                                    <li class="quit">
                                        <a href="#">
                                            <div class="usage_img">
                                                <img src="img/sign_out.png"">
                                            </div>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="success_user">
                        <a href="PersonalCenter.html">
                            <img src="img/01_shouye/UserPic.png" alt="">
                        </a>
                    </div>
                    <div class="success_name">
                        <a href="PersonalCenter.html">Davie</a>
                    </div>
                    <div class="success_line"></div>
                    <div class="success_money">
                        <a href="VirtualCurrencyRecharge.html">
                            <div class="money_img">
                                <img src="img/money.png" alt="">
                            </div>
                            <div class="money_num">
                                1280
                            </div>
                        </a>
                    </div>
                    
    </div>
    </header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container Crumbs">
            <span>
            <a href="index.html"></a>
            <cite></cite>
            <span>Help</span>
            </span>
    </div>
    
    <!-- Hlep content -->
    <div class="container">
        <div class="HlepContent_box">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">what is NewWorld?</li>
                    <li>What do I do to NewWorld?</li>
                </ul>
                
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="talk">
                            <span class="talk_name">Q :</span>
                            <span class="talk_content"> College will be the most important years in your life?</span>
                        </div>
                        <div class="talk">
                                <span class="talk_name">A :</span>
                                <span class="talk_content"> College will be the most important years in your life College will be the most 
                                        important years College will be the most important years College will be the most
                                        important years College will be the most important years</span>
                            </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="talk">
                            <span class="talk_name">Q :</span>
                            <span class="talk_content"> College will be the most important years in your life?</span>
                        </div>
                        <div class="talk">
                                <span class="talk_name">A :</span>
                                <span class="talk_content"> College will be the most important years in your life College will be the most 
                                        important years College will be the most important years College will be the most
                                        important years College will be the most important years</span>
                            </div>
                            <div class="talk">
                                    <span class="talk_name">Q :</span>
                                    <span class="talk_content"> College will be the most important years in your life?</span>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <footer>
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
    <script src="../js/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/lib/layui/dist/layui.all.js"></script>
    <script src="../web/js/StickSonDetails.js"></script>
    <script src="../web/js/loginQuit.js"></script>
    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
          var element = layui.element;
          
          //…
        });
        </script>
</body>

</html>