<!DOCTYPE html>
<html lang="en">
    <head>
        <include file="./World/Index/View/Public/meta.html"/>
        <style>
            .btn-DropOut-primary,.btn-Dissolve-primary{
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }
        </style>
    </head>
    <body>
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>

        <!-- Crumbs nav -->
        <div class="container">
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6 crumbs">
                        <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
                        <cite class="Icon"></cite>
                        <span class="crumbsTitle">My group</span>
                    </div>
                    <div class="col-md-6">
                        <div class="SelectionContainer">
                            <input type="text" class="layui-input" id="Selectionform">
                            <a href="#" id="SelectionIcon">
                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_search_icon.png">
                            </a>
                        </div>
                    </div>
            </div>
        </div>


        <!-- MyGroup content -->
        <div class="container">
            <div class="myGroup_box">
                    <div class="layui-tab">
                            <ul class="layui-tab-title">
                              <li class="layui-this"> I Created</li>
                              <li>I Joined</li>
                            </ul>
                            <div class="layui-tab-content">
                              <div class="layui-tab-item layui-show Created_item">
                                  <div class="MyGroup_list">
                                      <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn btn_Do" data-target="#box1" data-toggle="modal">
                                                    Quit
                                            </div>
                                            <div class="right_btn btn_Dis" data-target="#box2" data-toggle="modal">
                                                    Dissolve
                                            </div>
                                        </div>
                                      </div>

                                       <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn btn_Do" data-target="#box1" data-toggle="modal">
                                                    Quit
                                            </div>
                                            <div class="right_btn btn_Dis" data-target="#box2" data-toggle="modal">
                                                    Dissolve
                                            </div>
                                        </div>
                                      </div>

                                       <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn btn_Do" data-target="#box1" data-toggle="modal">
                                                    Quit
                                            </div>
                                            <div class="right_btn btn_Dis" data-target="#box2" data-toggle="modal">
                                                    Dissolve
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              <div class="layui-tab-item Joined_item">
                                   <div class="MyGroup_list">
                                      <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn"  data-target="#box3" data-toggle="modal">
                                                    Quit
                                            </div>
                                        </div>
                                      </div>

                                       <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn"  data-target="#box3" data-toggle="modal">
                                                    Quit
                                            </div>
                                        </div>
                                      </div>

                                       <div class="MyGroup_item">
                                        <div class="MyGroup_left">
                                            <div class="myGroup_left_img">
                                                <img src="__PUBLIC__/Web/web/img/01_shouye/UserPic.png" alt="">
                                            </div>
                                            <div class="MyGroup_left_details">
                                                <div class="MyGroup_left_details_name">
                                                        Group Name: ××××××××××
                                                </div>
                                                <div class="MyGroup_left_details_person">
                                                    <div class="person_img">
                                                        <img src="__PUBLIC__/Web/web/img/01_shouye/home_register_icon_04.png" alt="">
                                                    </div>
                                                    <div class="person_num">
                                                        66866
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MyGroup_right">
                                            <div class="right_btn"  data-target="#box3" data-toggle="modal">
                                                    Quit
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
            </div>
            <div class="container" id="NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>
        </div>

        <!-- Create Drop out -->
        <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">
                            Tips
                        </span>
                        <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Are you sure to quit the group?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-DropOut-primary" data-dismiss="modal">confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dissolve -->
        <div id="box2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">
                            Tips
                        </span>
                        <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Are you sure about dissolving the group?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-Dissolve-primary" data-dismiss="modal">confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Join Drop out -->
        <div id="box3" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">
                                Tips
                            </span>
                            <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Are you sure to quit the group?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-DropOut-primary" data-dismiss="modal">confirm</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer -->
        <footer>
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>

    </body>
    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
            
            //…
        });
    </script>
    <script>
        // I Create it
        $(function(){
            (function(){
                var num;
                $(".Created_item .MyGroup_list").on('click',".MyGroup_item", function(event) {
                    num = $(this).index();
                });
                // Drop Out
                $(".btn-DropOut-primary").on('click', function(event) {
                        $('.Created_item .MyGroup_list .MyGroup_item').eq(num).remove();
                });
                // Dissolve
                $(".btn-Dissolve-primary").on('click', function(event) {
                    $('.Created_item .MyGroup_list .MyGroup_item').eq(num).remove();
                });
            })();
            
        });

        // I Joined
        $(function(){
            (function(){
                var num;
                $(".Joined_item  .MyGroup_list").on('click',".MyGroup_item", function(event) {
                    num = $(this).index();
                });
                // Drop Out
                $(".btn-DropOut-primary").on('click', function(event) {
                        $('.Joined_item .MyGroup_list .MyGroup_item').eq(num).remove();
                });
            })();
            
        });

    </script>
</html>