<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Posts</title>
        <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../web/css/register.css">
        <link rel="stylesheet" href="../web/css/Donation.css">
        <link rel="stylesheet" href="../web/css/Crumbsnav.css">
        <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../js/lib/layui/dist/css/layui.css">
        <link rel="stylesheet" href="../web/css/Crumbsnav.css">
        <link rel="stylesheet" href="../web/css/success_index.css">
        <link rel="stylesheet" href="../web/css/MyMessage.css">
    </head>

    <body>
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>

        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="index.html" class="crumbsa"><img src="./img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">Messages</span>
        </div>



        <!-- Message content -->
        <div class="container">
            <div class="Message_box">
                <div class="Empty_messages">
                        Empty messages
                </div>
                <div class="Message_details">
                    <div class="Message_details_item">
                        <a href="MessageDetails.html">
                            <div class="item_question">
                                Your question "Q: Why is the world so big?" Someone has already
                            </div>
                            <div class="item_time">
                                <div class="item_time_img">
                                    <img src="../web/img/06_gerenzhongxin/timer.png" alt="">
                                </div>
                                <span>01/12/2018  15:36:58</span>
                            </div>
                        </a>
                    </div>

                    <div class="Message_details_item">
                        <a href="#">
                            <div class="item_question">
                                Your question "Q: Why is the world so big?" Someone has already
                            </div>
                            <div class="item_time">
                                <div class="item_time_img">
                                    <img src="../web/img/06_gerenzhongxin/timer.png" alt="">
                                </div>
                                <span>01/12/2018  15:36:58</span>
                            </div>
                        </a>
                    </div>

                    <div class="Message_details_item">
                        <a href="#">
                            <div class="item_question">
                                Your question "Q: Why is the world so big?" Someone has already
                            </div>
                            <div class="item_time">
                                <div class="item_time_img">
                                    <img src="../web/img/06_gerenzhongxin/timer.png" alt="">
                                </div>
                                <span>01/12/2018  15:36:58</span>
                            </div>
                        </a>
                    </div>

                    <div class="Message_details_item item_friend">
                            <div class="details_top">
                                <div class="details_top_user">
                                    <div class="details_top_user_pic">
                                        <img src="../web/img/01_shouye/UserPic.png" alt="">
                                    </div>
                                    <div class="details_top_user_name">
                                        Jessi
                                    </div>
                                </div>
                                <div class="details_top_btn">
                                    <div class="top_btn">
                                            Agree
                                    </div>
                                    <div class="top_btn">
                                            Refuse
                                    </div>
                                </div>
                            </div>
                            <div class="details_bottom">
                                <div class="bottom_hint">
                                    Find you through the xxxx group, apply to be your friend
                                </div>
                                <div class="bottom_time">
                                    <div class="bottom_time_img">
                                        <img src="../web/img/06_gerenzhongxin/timer.png" alt="">
                                    </div>
                                    <span>01/12/2018  15:36:58</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="container" id="NumberOfPagesContainer">
                        <div id="NumberOfPages"></div>
            </div>

        </div>
        </div>
        <!-- foot start 底部信息 -->
        <footer class="container-fluid FooterBg">
                <div class="row FooterContainer">
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>ABOUT</dt>
                            <dd>
                                NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>SUPPORT</dt>
                            <dd>Premium Support</dd>
                            <dd>Get Started</dd>
                            <dd>Partners</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>Help Center</dt>
                            <dd><a href="HelpCenter.html">Help Center</a></dd>
                            <dd><a href="ContactUs.html">Contact Us</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- foot end 底部信息 -->
    </body>

    <script src="../js/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/lib/layui/dist/layui.all.js"></script>
    <script src="../web/js/StickSonDetails.js"></script>
    <script src="../web/js/loginQuit.js"></script>
    <script>
        $(".Message_box .Empty_messages").on("click",function(){
            $(".Message_box .Message_details").children().remove()
        })
    </script>

</html>