<!DOCTYPE html>
<html lang="en">
    <head>
        <include file="./World/Index/View/Public/meta.html"/>
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
        <style>
        .crumbs {
                margin: auto 0;
            }
        </style>
    </head>

    <body>
        <div class="web">
<!-- logo -->
<header class="container">
        <include file = "./World/Index/View/Public/head.html"/>
        </header>
        <hr>


 <!-- Crumbs nav -->
 <div class="container">
        <div class="row">
            <div class="col-md-6 crumbs">
                    <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
                    <cite class="Icon"></cite>
                    <span class="crumbsTitle">Messages</span>
                </div>
                <div class="col-md-6">
                    <form method="get" id="Selection">
                        <div class="SelectionContainer">
                            <input name="c" type="hidden" value="{$Think.CONTROLLER_NAME}"/>
                            <input name="m" type="hidden" value="{$Think.MODULE_NAME}"/>
                            <input name="a" type="hidden" value="{$Think.ACTION_NAME}"/>
                            <input type="text" name="k" value="{$_GET['k']}" class="layui-input" id="Selectionform">
                            <a href="javascript:$('#Selection').submit();" id="SelectionIcon">
                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_search_icon.png">
                            </a>
                        </div>
                    </form>
                </div>
        </div>
    </div>

    <!-- Message content -->
    <div class="container section">
        <div class="Message_box">
            <div class="Empty_messages">
                    Empty messages
            </div>
            <div class="Message_details">
                <foreach name="messages" item="m">
                <if condition="$m['message_type'] == 0">
                    <div class="Message_details_item">
                        <a href="{:U('User/MessageDetails',['message_id'=>$m['message_id']])}">
                            <div class="item_question">
                                {$m['message_title']}
                            </div>
                            <div class="item_time">
                                <div class="item_time_img">
                                    <img src="__PUBLIC__/Web/web/img/06_gerenzhongxin/timer.png" alt="">
                                </div>
                                <span>{$m['message_sendtime']}</span>
                            </div>
                        </a>
                        <if condition="$m['message_isread'] == 0"><div class="dot"></div></if>
                    </div>
                <else />

                    <div class="Message_details_item item_friend">
                            <div class="details_top">
                                <div class="details_top_user">
                                    <div class="details_top_user_pic">
                                        <img src="<if condition='$m["user_icon"]'>./Uploads/{$m['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>" alt="">
                                    </div>
                                    <div class="details_top_user_name">
                                        {$m['user_name']}
                                    </div>
                                </div>
                                <div class="details_top_btn">
                                    <if condition="$m['message_isread'] !== '0'">
                                        <div>
                                            <if condition="$m['message_isread'] === '1'">
                                                Agreed
                                                <else/>
                                                Refusing
                                            </if>
                                        </div>
                                    <else/>
                                        <div class="top_btn" onclick="AgreeAddFirend({$m['message_id']},{$m['message_sid']})">
                                            Agree
                                        </div>
                                        <div class="top_btn" onclick="RefuseAddFirend({$m['message_id']})">
                                            Refuse
                                        </div>
                                    </if>
                                </div>
            </div>
            <div class="details_bottom">
                <div class="bottom_hint">
                    {$m['message_title']}
                </div>
                <div class="bottom_time">
                    <div class="bottom_time_img">
                        <img src="__PUBLIC__/Web/web/img/06_gerenzhongxin/timer.png" alt="">
                    </div>
                    <span>{$m['message_sendtime']}</span>
                </div>
            </div>
        </div>
</if>
</foreach>
</div>
    <div class="container" id="NumberOfPagesContainer">
        <!-- <div id="NumberOfPages"></div> -->
            {$page}
    </div>

    </div>
</div>
    <!-- foot start 底部信息 -->
    <footer class="footer">
        <include file = "./World/Index/View/Public/footer.html"/>
    </footer>
        <!-- foot end 底部信息 -->
        </div>
        
    </body>

    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
        $(".Message_box .Empty_messages").on("click",function(){
            <if condition="!$messages">return false;</if>
            var r=confirm("Please confirm whether to clean up the message!");
            if (r==true)
            {
                $.post(
                    '{:U("User/ClearMessages")}'
                    ,{}
                    ,function(data){
                        if(data.status == 0){
                            alert(data.msg);
                        }else{
                            $(".Message_box .Message_details").children().remove()
                        }
                    },'json'
                );
            }
        })
        function AgreeAddFirend(id,uid){
            event = event ? event : window.event;
            var obj = event.srcElement ? event.srcElement : event.target;
            $.post(
                '{:U("User/AgreeAddFirend")}'
                ,{id:id,uid:uid}
                ,function(data){
                    if(data.status == 0){
                        alert(data.msg);
                    }else{
                        $(obj).closest('.details_top_btn').html('<div class="top_btn">Agreed</div>');
                        alert(data.msg);
                    }
                },'json'
            );
        }

        function RefuseAddFirend(id){
            event = event ? event : window.event;
            var obj = event.srcElement ? event.srcElement : event.target;
            $.post(
                '{:U("User/RefuseAddFirend")}'
                ,{id:id}
                ,function(data){
                    if(data.status == 0){
                        alert(data.msg);
                    }else{
                        $(obj).closest('.details_top_btn').html('<div class="top_btn">Refusing</div>');
                        alert(data.msg);
                    }
                },'json'
            );
        }
    </script>

</html>