<!DOCTYPE html>
<html lang="en">
    <head>
        <include file="./World/Index/View/Public/meta.html"/>
        <link rel="stylesheet" href="__PUBLIC__/Web/web/css/myPosts.css">
    </head>

    <body>
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>

        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">My posts</span>
        </div>


        <!-- MyPosts content -->
        <div class="container">
            <div class="MyPosts_content">
                <div class="type_select">
                    <div class="select_title">
                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_fb_icon_02.png" alt="">
                    </div>
                    <select name="type" class="select_use">
                        <option value="1">Post</option>
                        <option value="2">Q&A</option>
                        <option value="3">resource</option>
                    </select>
                </div>
    
                <div class="Post_box" id="content">


                </div>


            </div>

            <div class="container" id="NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>

        </div>
        </div>




        <!-- footer -->
        <footer>
            <include file = "./World/Index/View/Public/footer.html"/>
        </footer>

        
    </body>

    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>

        $(".select_use").on("change",function(){
            var selectedValue = $(this).val();

            if(selectedValue==1){
                set(1,{$notecount})
            }
            if(selectedValue==2){
                set(2,{$questioncount})
            }
            if(selectedValue==3){
                set(3,{$resourcecount})
            }

        })

    $(".MyPosts_content .box_item .box_top .box_right .delete").on("click",function(){
        $(this).parents(".box_item").remove()

    })

    set(1,{$notecount})
    function set(type,num) {
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage,
                layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'NumberOfPages',
                count: num,
                prev:"Previous",
                next:"Next",
                layout: ['count', 'prev', 'page', 'next', 'skip'],
                jump: function(obj) {
                    setpost(type,obj.curr,obj.limit)
                }
            });

        });
    }

    function setpost(type,limit1,limit2) {

        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_setpost')}",
            data:{
                type:type,
                limit1:limit1,
                limit2:limit2,

            },
            dataType:"json",
            success: function(data){
                if (data!=null&&data!="") {
                    if (data.str == 1) {

                        var message = '';
                        for (var i = 0; i < data.msg.length; i++) {

                            message +='<div class="box_item">'
                            message +='<div class="box_top">'
                            message +='<div class="box_left">'
                            message +='<div class="box_left_img">'
                            var imgurl = '__PUBLIC__/Web/web/img/02_interest/user.png'
                            if (data.msg[i].user_icon&&data.msg[i].user_icon!=''){
                                imgurl = './Uploads/'+data.msg[i].user_icon
                            }
                            message +='<img src="'+imgurl+'">'
                            message +='</div>'
                            message +='<div class="box_left_details">'
                            message +='<div class="left_details_title">'
                            message +='<div class="title_name">'
                            message +=data.msg[i].note_name
                            message +='</div>'
                            message +='<div class="details_title_state">'
                            message +='<div class="Stick">'
                            if (data.msg[i].note_istop == 1){
                                message +='<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png" alt="">'
                            }
                            message +='</div>'
                            message +='<div class="hot">'
                            if (data.msg[i].note_iswally == 1){
                                message +='<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png" alt="">'
                            }
                            message +='</div>'
                            message +='</div>'
                            message +='</div>'
                            message +='<div class="left_details_group">'
                            message +=data.msg[i].crowd_name
                            message +='</div>'
                            message +='</div>'
                            message +='</div>'
                            message +='<div class="box_right">'
                            var gourl = "{:U('Index/User/editPost')}&nid="+data.msg[i].note_id
                            message +='<a href="'+gourl+'">'
                            message +='<div class="right_btn">'
                            message +='Edit'
                            message +='</div>'
                            message +='</a>'
                            message +='<a href="javascript:void(0)">'
                            message +='<div class="right_btn delete" onclick="delone('+data.msg[i].note_id+')">'
                            message +='Delete'
                            message +='</div>'
                            message +='</a>'
                            message +='</div>'
                            message +='</div>'
                            message +='<div class="box_bottom">'
                            message +=data.msg[i].note_createtime
                            message +='</div>'
                            message +='</div>'

                        }

                        $('#content').html(message);

                    }else if (data.str == 2) {
                        $('#content').html('');
                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })

    }

    function delone(nid) {
        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_delnote')}",
            data:{
                nid:nid,

            },
            dataType:"json",
            success: function(data){
                if (data!=null&&data!="") {
                    if (data.str == 1) {
                        layer.msg(data.msg,{
                                time:1500,
                                icon:1,
                            },function () {
                            location.reload();
                            }
                        );

                    }else{
                        layer.msg(data.msg,{
                                time:1500,
                                icon:2,
                            }
                        );
                    }

                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })
    }


    </script>

</html>