<!DOCTYPE html>
<html lang="en">
    <head>
        <include file="./World/Index/View/Public/meta.html"/>
    </head>

    <body>
        <!-- logo -->
        <header class="container">
            <include file = "./World/Index/View/Public/head.html"/>
            </header>
            <hr>

        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="index.html" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">My posts</span>
        </div>


        <!-- MyPosts content -->
        <div class="container">
            <div class="MyPosts_content">
                <div class="type_select">
                    <div class="select_title">
                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_fb_icon_02.png" alt="">
                    </div>
                    <select name="type" class="select_use">
                        <option value="0">Post</option>
                        <option value="1">Q&A</option>
                        <option value="2">resource</option>
                    </select>
                </div>
    
                <div class="Post_box">

                    <div class="box_item">
                            <div class="box_top">
                                <div class="box_left">
                                    <div class="box_left_img">
                                        <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                    </div>
                                    <div class="box_left_details">
                                        <div class="left_details_title">
                                                <div class="title_name">
                                                    <span class="HL_title"># Topic Name #</span> Topic Title
                                                </div>
                                                <div class="details_title_state">
                                                    <div class="Stick">
                                                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png" alt="">
                                                    </div>
                                                    <div class="hot">
                                                        <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png" alt="">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="left_details_group">
                                                Group Name: ××××××××××
                                        </div>
                                    </div>
                                </div>
                                <div class="box_right">
                                    <div class="right_btn">
                                        <a href="EditThePost.html">
                                            Edit
                                        </a>
                                    </div>
                                    <div class="right_btn delete">
                                        <a href="#">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box_bottom">
                                    01/12/2018  12:30:06
                            </div>

                    </div>

                    <div class="box_item">
                            <div class="box_top">
                                <div class="box_left">
                                    <div class="box_left_img">
                                        <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                    </div>
                                    <div class="box_left_details">
                                        <div class="left_details_title">
                                                <div class="title_name">
                                                    <span class="HL_title"># Topic Name #</span> Topic Title
                                                </div>
                                        </div>
                                        <div class="left_details_group">
                                                Group Name: ××××××××××
                                        </div>
                                    </div>
                                </div>
                                <div class="box_right">
                                    <div class="right_btn">
                                        <a href="#">
                                            Edit
                                        </a>
                                    </div>
                                    <div class="right_btn delete">
                                        <a href="#">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box_bottom">
                                    01/12/2018  12:30:06
                            </div>

                    </div>

                    <div class="box_item">
                            <div class="box_top">
                                <div class="box_left">
                                    <div class="box_left_img">
                                        <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                    </div>
                                    <div class="box_left_details">
                                        <div class="left_details_title">
                                                <div class="title_name">
                                                    <span class="HL_title"># Topic Name #</span> Topic Title
                                                </div>
                                        </div>
                                        <div class="left_details_group">
                                                Group Name: ××××××××××
                                        </div>
                                    </div>
                                </div>
                                <div class="box_right">
                                    <div class="right_btn">
                                        <a href="#">
                                            Edit
                                        </a>
                                    </div>
                                    <div class="right_btn delete">
                                        <a href="#">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box_bottom">
                                    01/12/2018  12:30:06
                            </div>

                    </div>


                </div>

                <div class="QaA_box">

                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                                    <div class="details_title_state">
                                                        <div class="Stick">
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png" alt="">
                                                        </div>
                                                        <div class="hot">
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png" alt="">
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="EditQ&A.html">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="#">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="#">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
    
                </div>

                <div class="resource_box">

                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                                    <div class="details_title_state">
                                                        <div class="Stick">
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png" alt="">
                                                        </div>
                                                        <div class="hot">
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png" alt="">
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="EditResource.html">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="#">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
                        <div class="box_item">
                                <div class="box_top">
                                    <div class="box_left">
                                        <div class="box_left_img">
                                            <img src="__PUBLIC__/Web/web/img/02_interest/user.png">
                                        </div>
                                        <div class="box_left_details">
                                            <div class="left_details_title">
                                                    <div class="title_name">
                                                        <span class="HL_title"># Topic Name #</span> Topic Title
                                                    </div>
                                            </div>
                                            <div class="left_details_group">
                                                    Group Name: ××××××××××
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="right_btn">
                                            <a href="#">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="right_btn delete">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_bottom">
                                        01/12/2018  12:30:06
                                </div>
    
                        </div>
    
    
                    </div>
            </div>

            <div class="container" id="NumberOfPagesContainer">
                    <div id="NumberOfPages"></div>

        </div>
        </div>




        <!-- foot start 底部信息 -->
        <footer class="container-fluid FooterBg">
                <div class="row FooterContainer">
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>ABOUT</dt>
                            <dd>
                                NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>SUPPORT</dt>
                            <dd>Premium Support</dd>
                            <dd>Get Started</dd>
                            <dd>Partners</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <dl>
                            <dt>Help Center</dt>
                            <dd><a href="HelpCenter.html">Help Center</a></dd>
                            <dd><a href="ContactUs.html">Contact Us</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- foot end 底部信息 -->


    </body>

    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
    <script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
    <script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
    <script>
    $(".select_use").on("change",function(){
        var selectedValue = $(this).val();
        console.log(selectedValue)
        if(selectedValue==0){
            $(".Post_box").css("display","block");
            $(".QaA_box").css("display","none");
            $(".resource_box").css("display","none");
        }
        if(selectedValue==1){
            $(".Post_box").css("display","none");
            $(".QaA_box").css("display","block");
            $(".resource_box").css("display","none");
        }
        if(selectedValue==2){
            $(".Post_box").css("display","none");
            $(".QaA_box").css("display","none");
            $(".resource_box").css("display","block");
        }

    })
    </script>
    <script>
        $(".MyPosts_content .box_item .box_top .box_right .delete").on("click",function(){
            $(this).parents(".box_item").remove()
            
        })
    </script>
</html>