<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Center</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Donation.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/AcademicGroups.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/GroupDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/PersonalCenter.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/Crumbsnav.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/success_index.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
</head>

<body>
    <div class="web">
        <!-- logo -->
        <header class="container">
        
            <include file="./World/Index/View/Public/head.html"/>
        
        </header>
        <hr>
        <!-- Crumbs nav -->
        <div class="container crumbs">
            <cite class="Icons"></cite>
            <a href="{:U('Index/Index/index')}" class="crumbsa crumbsaImg">
                <img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt="">
            </a>
        </div>
        <div class="section">
        <!-- personal Center content -->
        <div class="container">
                <div class="personal_content">
                    <!-- personal Center title -->
                    <div class="personal_title">
                        <div class="title_back_img" data-toggle="modal" data-target="#box2">
                            <if condition='$isme == 1'>
                            <img src="__PUBLIC__/Web/web/img/06_gerenzhongxin/paint.png" alt="">
                            </if>
                        </div>
                        <div class="P_title_pic">
                            <img src="<if condition='$userone["user_icon"]'>./Uploads/{$userone['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>" alt="">
                        </div>
                        <div class="P_title_name">
                            {$userone['user_name']}
                            <div class="P_title_icon">
            
                                <img src="<if condition='$userone["user_sex"] == 2'>__PUBLIC__/Web/web/img/female.png
                                <else/>
                                __PUBLIC__/Web/web/img/male.png</if>" alt="">
                            </div>
                        </div>
                        <div class="P_title_lifeMaxim">
            
                            <span class="liftMaxim_title">Signature :</span>
                            <span class="liftMaxim_content">{$userone['user_signature']}</span>
                        </div>
                        <div class="P_title_FaA">
                            <div class="FaA_item">
                                <a href="{:U('User/followList',['uid'=>$userone['user_id']])}">
                                    <div class="FaA_num">{$userone['user_concerns']}</div>
                                    <div class="FaA_name">following</div>
                                </a>
                            </div>
                            <div class="FaA_line"></div>
                            <div class="FaA_item">
                                <a href="{:U('User/myFans',['uid'=>$userone['user_id']])}">
                                    <div class="FaA_num">{$userone['user_fans']}</div>
                                    <div class="FaA_name">Fans</div>
                                </a>
                            </div>
                        </div>
                        <div class="P_title_friend">
                            <if condition='$userid != $userone[user_id] && !$firendone && !$fir_message'>
                                <div class="friend_item" data-toggle="modal" data-target="#box1">
                                    add friend
                                </div>
                            <elseif condition="$userid != $userone[user_id] && !$firendone"/>
                                <div class="friend_item" data-toggle="modal">
                                    check pending
                                </div>
                            <elseif condition="$userid != $userone[user_id] && isset($firendone)"/>
                                <div class="friend_item" data-toggle="modal">
                                    My Friend
                                </div>
                            </if>
                            <if condition='$userid != $userone[user_id] && !$concernsone'>
                                <div class="friend_item Friend_Follow" data-Ison="true">
                                    Follow
                                </div>
                                <div class="Friend_Follow_box">
                                    <ul>
                                        <li class="Friend_UnFollow">UnFollow</li>
                                        <li class="Friend_Grouping" data-toggle="modal" data-target="#box3">grouping</li>
                                    </ul>
                                </div>
                            <elseif condition="$userid != $userone[user_id] && isset($concernsone)"/>
                                <div class="friend_item Friend_Follow" data-Ison="false">
                                    Followed
                                </div>
                                <div class="Friend_Follow_box">
                                    <ul>
                                        <li class="Friend_UnFollow">UnFollow</li>
                                        <li class="Friend_Grouping" data-toggle="modal" data-target="#box3">grouping</li>
                                    </ul>
                                </div>
                            </if>
                        </div>
            
                        <!-- add friend -->
                        <div id="box1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <span class="modal-title">
                                                    Tips
                                                </span>
                                        <a class="close" data-dismiss="modal" aria-label="Close"
                                           style="position: absolute;right: 10px;top: 16px;">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center">Do you add friend?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary btn-addfriend" data-dismiss="modal">confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- create Group -->
                    <!-- add friend -->
                    <div id="box3" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                        <span class="modal-title">
                                                Reminder
                                            </span>
                                    <a class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 10px;top: 16px;">
                                                <span aria-hidden="true">&times;
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-title">Select the following Community :</div>
                                    <div class="modal-body-list">
                                        <div class="modal-body-item-box">
                                            <if condition="!empty($concerns_groups)">
                                                <foreach name="concerns_groups" item="g">
                                                    <div class="modal-body-item">
                                                        <input type="radio" value="{$g['concerns_group_id']}" <if condition="$concernsone && $concernsone['concerns_gid'] === $g['concerns_group_id']">checked="checked"</if> name="GroupName">{$g['concerns_group_name']}
                                                    </div>
                                                </foreach>>
                                            </if>
                                        </div>
                                        <div class="modal-body-addGroup">
                                            <div class="modal-body-addIcon">+</div>
                                            <span>Create a group</span>
                                        </div>
                                        <div class="modal-body-addName">
                                            <input type="text" class="addName_input">
                                            <button class="addName_Create">Create</button>
                                            <button class="addName_Cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- personal Center details -->
                    <div class="personal_details">
                        <ul class="Personal_details_item">
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/post.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        Post :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_notes']}
                                    </div>
                                </div>
                            </li>
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/birth.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        Birth date :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_birth']}
                                    </div>
                                </div>
                            </li>
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/country.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        Country :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_country']}
                                    </div>
                                </div>
                            </li>
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/mail.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        E-mail :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_mail']}
                                    </div>
                                </div>
                            </li>
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/time.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        Registration Time :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_logintime']}
                                    </div>
                                </div>
                            </li>
            
                            <li class="Personal_details_list">
                                <div class="list_img">
                                    <img src="__PUBLIC__/Web/web/img/banner/city.png" alt="">
                                </div>
                                <div class="list_content">
                                    <div class="list_content_title">
                                        Country :
                                    </div>
                                    <div class="list_content_details">
                                        {$userone['user_city']}
                                    </div>
                                </div>
                            </li>
            
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Upload the picture -->
            <div id="box2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="container1">
                                <div class="image_box_title" style="">
                                    <span>Please upload the cover</span>
                                    <div class="image_box_close" data-dismiss="modal">x</div>
                                </div>
                                <div class="imageBox">
                                    <!--<div class="tig">请上传图片</div>-->
                                    <div class="thumbBox"></div>
                                    <!-- <div class="spinner" style="display: none">请上传图片</div> -->
                                </div>
                                <div class="action">
                                    <div class="file_btn">
                                        Select upload cover
                                        <input type="file" accept="image/jpeg,image/png" id="file" class="input_file">
                                    </div>
                                    <!-- <input type="button" id="btnZoomIn" value="+">
                                    <input type="button" id="btnZoomOut" value="-"> -->
                                    <input type="button" id="btnCrop" value="confirm" data-dismiss="modal">
                                </div>
                                <!-- style="display: none;" -->
                                <div class="cropped" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- change background -->
                <!-- <div id="box3" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="container1">
                                <div class="action">
                                    <input type="file" accept="image/jpeg,image/png" class="bg_img">
                                    <input type="button" id="btnCrop" value="Crop" data-dismiss="modal">
                                </div>
                                <div class="imgBox">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            
            <!-- Group list 群列表 sater -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="LatestContentContainer">
                            <div class="TitleSearch">
                                <h4 class="h4">Post</h4>
                            </div>
                            <div class="LatestContainer">
                                <div class="layui-tab">
                                    <div class="layui-row layui-col-space10">
                                        <div class=" layui-col-md8 layui-col-space10 btnlist">
                                            <ul class="layui-tab-title layui-col-space10">
                                                <li class="layui-this" style="line-height: 14px;" onclick="settype(0)">All</li>
                                                <li style="line-height: 14px;" onclick="settype(1)">Post</li>
                                                <li style="line-height: 14px;" onclick="settype(2)">Q&A</li>
                                                <li style="line-height: 14px;" onclick="settype(3)">Resources</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="layui-tab-content">
                                        <div class="layui-tab-item layui-show">
                                            <table class="layui-table PostTable" lay-skin="line">
                                                <tbody id="allcontent">
                                                <foreach name="alllist" item="all" key="allkey">
                                                <tr>
                                                    <td>
            
                                                        <a href="<if condition='$all["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<else />#</if>" style="text-decoration: none;">
            
                                                        <span class="ImgBox">
                                                                        <img src="<if condition='$all["user_icon"]'>./Uploads/{$all['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                                                    </span>
                                                        </a>
                                                    </td>
                                                    <td class="NameBox">
            
                                                        <a href="<if condition='$all["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<elseif condition='$all["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$all['note_cid']}&nid={$all['note_id']}<else />#</if>" style="text-decoration: none;">
                                                            {$all['note_name']}
                                                        </a>
                                                    </td>
                                                    <td class="NameIcom">
                                                        <if condition='$all["note_istop"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                                                        </if>
                                                        <if condition='$all["note_iswally"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                                                        </if>
                                                    </td>
                                                    <td class="text-right">
                                                        <p>{$all['note_createtime']}</p>
                                                        <p>
                                                            <if condition='$all["note_type"] == 2'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_xs.png">{$all['note_reward']}
                                                            </if>
                                                            <if condition='$all["note_type"] == 3'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_download.png">{$all['note_reward']}
                                                            </if>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">{$all['note_comments']}
                                                        </p>
                                                    </td>
                                                </tr>
                                                </foreach>
            
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table class="layui-table PostTable" lay-skin="line">
                                                <tbody id="postcontent">
                                                <foreach name="postlist" item="post" key="postkey">
                                                    <tr>
                                                        <td>
                                                            <a href="<if condition='$post["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<else />#</if>" style="text-decoration: none;">
                                                            <span class="ImgBox">
                                                                        <img src="<if condition='$post["user_icon"]'>./Uploads/{$post['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                                                    </span>
                                                            </a>
                                                        </td>
                                                        <td class="NameBox">
            
                                                            <a href="<if condition='$post["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<elseif condition='$post["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$post['note_cid']}&nid={$post['note_id']}<else />#</if>" style="text-decoration: none;">
                                                                {$post['note_name']}
                                                            </a>
                                                        </td>
                                                        <td class="NameIcom">
                                                            <if condition='$post["note_istop"] == 1'>
                                                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                                                            </if>
                                                            <if condition='$post["note_iswally"] == 1'>
                                                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                                                            </if>
                                                        </td>
                                                        <td class="text-right">
                                                            <p>{$post['note_createtime']}</p>
                                                            <p>
                                                                <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">{$post['note_comments']}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </foreach>
            
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table class="layui-table PostTable" lay-skin="line">
                                                <tbody id="questioncontent">
                                                <foreach name="questionlist" item="question" key="questionkey">
                                                <tr>
                                                    <td>
                                                        <a href="<if condition='$question["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<else />#</if>" style="text-decoration: none;">
                                                        <span class="ImgBox">
                                                                        <img src="<if condition='$question["user_icon"]'>./Uploads/{$question['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                                                    </span>
                                                        </a>
                                                    </td>
                                                    <td class="NameBox">
                                                        <a href="<if condition='$question["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<elseif condition='$question["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$question['note_cid']}&nid={$question['note_id']}<else />#</if>" style="text-decoration: none;">
                                                            {$question['note_name']}
                                                        </a>
                                                    </td>
                                                    <td class="NameIcom">
                                                        <if condition='$question["note_istop"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                                                        </if>
                                                        <if condition='$question["note_iswally"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                                                        </if>
                                                    </td>
                                                    <td class="text-right">
                                                        <p>{$question['note_createtime']}</p>
                                                        <p>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_xs.png">{$question['note_reward']}
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">{$question['note_comments']}
                                                        </p>
                                                    </td>
                                                </tr>
                                                </foreach>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table class="layui-table PostTable" lay-skin="line">
                                                <tbody id="resourcecontent">
                                                <foreach name="resourcelist" item="resource" key="resourcekey">
                                                <tr>
                                                    <td>
                                                        <a href="<if condition='$resource["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<else />#</if>" style="text-decoration: none;">
            
                                                        <span class="ImgBox">
                                                                            <img src="<if condition='$resource["user_icon"]'>./Uploads/{$resource['user_icon']}<else />__PUBLIC__/Web/web/img/01_shouye/UserPic.png</if>">
                                                                        </span>
                                                        </a>
                                                    </td>
                                                    <td class="NameBox">
                                                        <a href="<if condition='$resource["crowd_mid"] == 2'>{:U('Index/Rnterst/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 3'/>{:U('Index/Academic/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 4'/>{:U('Index/Jobs/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<elseif condition='$resource["crowd_mid"] == 5'/>{:U('Index/Life/postDetails')}&cid={$resource['note_cid']}&nid={$resource['note_id']}<else />#</if>" style="text-decoration: none;">
                                                            {$resource['note_name']}
                                                        </a>
                                                    </td>
                                                    <td class="NameIcom">
                                                        <if condition='$resource["note_istop"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">
                                                        </if>
                                                        <if condition='$resource["note_iswally"] == 1'>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">
                                                        </if>
                                                    </td>
                                                    <td class="text-right">
                                                        <p>{$resource['note_createtime']}</p>
                                                        <p>
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_download.png">{$resource['note_reward']}
                                                            <img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">{$resource['note_comments']}
                                                        </p>
                                                    </td>
                                                </tr>
                                                </foreach>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <!-- Group list 群列表 end -->
        </div>
        
            <!-- footer -->
            <footer class="footer">
                <include file = "./World/Index/View/Public/footer.html"/>
            </footer>

    </div>
<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>
<script>
    function follow(){
        $.post(
            '{:U("User/FollowFriend")}',
            {id:{$userone['user_id']}},
            function(data){
                if(data.status == 0){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    location.reload()
                    if ($(".personal_content .personal_title .P_title_friend .Friend_Follow").attr("data-ison") === "true") {
                        $(".personal_content .personal_title .P_title_friend .Friend_Follow").text("Followed");
                    } else {
                        $(".personal_content .personal_title .P_title_friend .Friend_Follow").text("Follow")
                    }
                }
            },'json'
        );
    }
    $(".personal_content .personal_title .P_title_friend .Friend_Follow").on("click", function () {
        if($(this).attr('data-Ison')=="true"){
            $('.personal_content .personal_title .P_title_friend .Friend_Follow_box').css("display","none")
            $(this).attr("data-Ison","false")
        }else{
            $(this).attr("data-Ison","true")
            $('.personal_content .personal_title .P_title_friend .Friend_Follow_box').css("display","block")
        }
        if($.trim($(this).text()) === "Followed"){
            return ;
        }else{
            follow();
        }
    })

    //add friend
    $(".btn-addfriend").on('click',function(){
        $.post(
            '{:U("User/AddFriend")}',
            {id:{$userone['user_id']}},
            function(data){
                if(data.status == 0){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    $('.friend_item').eq(0).text('check pending').data('target','').attr('data-target','');
                }
            },'json'
        );
    })

    $(".personal_content .personal_title .P_title_friend .Friend_Follow_box ul .Friend_UnFollow").on("click",function(){
        follow();
        $(".personal_content .personal_title .P_title_friend .Friend_Follow").removeAttr("data-Ison")
        $('.personal_content .personal_title .P_title_friend .Friend_Follow_box').css("display","none")
    })

    //创建分组
    $('.modal-body-list .modal-body-addGroup').on('click',function(){
        $(this).css('display','none');
        $('.modal-body-list .modal-body-addName').css("display","block");
    })
    $(".modal-body-list .modal-body-addName .addName_Cancel").on("click",function(){
        $('.modal-body-list .modal-body-addName').css("display","none");
        $('.modal-body-list .modal-body-addGroup').css("display","flex");
        $(".modal-body-list .modal-body-addName .addName_input").val("")
    })
    //添加分组
    $(".modal-body-list .modal-body-addName .addName_Create").on("click",function(){
        var input_val = $(".modal-body-list .modal-body-addName .addName_input").val();
        if(input_val!=""){
            $.post(
                '{:U("User/AddGroup")}',
                {group_name:input_val},
                function(data){
                    if(data.status == 0){
                        alert(data.msg);
                    }else{
                        alert(data.msg);
                        var Cdiv = "<div class='modal-body-item'><input type='radio' value='1' name='GroupName'>"+ input_val+"</div>"
                        $(".modal-body-list .modal-body-item-box").append(Cdiv)
                    }
                },'json'
            )
        }else{
            alert("Please enter group name")
        }
    })

    //关闭
    $('.btn-default').on("click",function(){
        $('.personal_content .personal_title .P_title_friend .Friend_Follow_box').css('display','none')
    })
    //确定
    $('#box3 .btn-primary').on("click",function(){
        $.post(
            '{:U("User/SetGroup")}',
            {group_id:$("input[name='GroupName']:checked").val(),uid:{$userone['user_id']}},
            function(data){
                if(data.status == 0){
                    alert(data.msg);
                }else{
                    $('.personal_content .personal_title .P_title_friend .Friend_Follow_box').css('display','none')
                }
            },'json'
        )
    })
</script>
<script src="__PUBLIC__/Web/web/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/Web/web/js/cropbox.js"></script>
<script>
//     $(".bg_img").change(function(e){
//         console.log($(this))
//     })    
// </script>
    <script type="text/javascript">
        $(window).load(function() {
            var options =
            {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: ''
            }
            var cropper = $('.imageBox').cropbox(options);
            $('#file').on('change', function(){
                var reader = new FileReader();
                reader.onload = function(e) {
                    options.imgSrc = e.target.result;
                    cropper = $('.imageBox').cropbox(options);
                }
                reader.readAsDataURL(this.files[0]);
    //          this.files = [];
            })
            $('#btnCrop').on('click', function(){
                var file_obj = document.getElementById('file').files[0];
                var fd = new FormData();
                fd.append('img', file_obj);
                fd.append('uid','{$userone["user_id"]}')

                $.ajax({
                    url: "{:U('Index/Ajax/ajax_updatefengmian')}",
                    type: "POST",
                    async: false,
                    cache: false,
                    processData: false,// 告诉jQuery不要去处理发送的数据
                    contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                    data: fd,
                    dataType:"json",
                    success: function(data) {

                        if (data.str==1){
                            layer.msg(data.msg,{
                                    time:1500,
                                    icon:1,
                                }
                            );
                            var img = cropper.getDataURL();
                            var Cdiv = document.createElement("div");
                            Cdiv.className = "cropped_img";
                            Cspan = '<img src="' + img + '">'
                            Cdiv.innerHTML = Cspan
                            $('.cropped').prepend(Cdiv);
                            $('#file').val("");
                            $('.imageBox').removeAttr("style");
                            // var Userimg = $('.cropped_img').children('img')[0];
                            var Userimg = img
                            // console.log(Userimg )
                            C_Userimg(Userimg)
                        }else{
                            layer.msg(data.msg,{
                                    time:1500,
                                    icon:2,
                                }
                            );
                        }

                    },
                    error: function(err) {

                        layer.msg('请求失败!',{
                                time:1500,
                                icon:2,
                            }
                        );
                    }
                });
            })
            // $('#btnZoomIn').on('click', function(){
            //     cropper.zoomIn();
            // })
            // $('#btnZoomOut').on('click', function(){
            //     cropper.zoomOut();
            // })
            if ("{$userone['user_cover']}"!=''){
                C_Userimg('./Uploads/{$userone["user_cover"]}')
            }
            function C_Userimg(img){
                // $('.personal_content .personal_title').html(img)
                $('.personal_content .personal_title').css("background","url("+img+") no-repeat");
                $('.personal_content .personal_title').css("background-size","100% 100%")
            }
            $(".title_back_img").on("click",function(){
                var Pic = $(".personal_content .personal_title").css("backgroundImage");
                //console.log($(".imageBox").css("backgroundImage",Pic))
                // $("imageBox").css("backgroundImage",Pic)
            })
            //$('.personal_content .personal_title .P_title_pic').children('img').remove()
        });
    </script>
<script>


    var type = 0;
    var allpage = 1;
    var postpage = 1;
    var questionpage = 1;
    var resourcepage = 1;
    var allcount = {$allcount};
    var postcount = {$postcount};
    var questioncount = {$questioncount};
    var resourcecount = {$resourcecount};
    var c = 1;
    var a = 1;
    var noteorder = 'note_istop desc,note_iswally desc,note_createtime desc'

    function settype(num) {
        type = num
    }

    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        var gocheng =parseInt(scrollTop)+parseInt(windowHeight);

        if (gocheng>(scrollHeight-200)) {

            if (type == 0){
                if (c==a){
                    var limit1 = allpage*20;
                    if (limit1<allcount){
                        c = 2;
                        havepost(2,noteorder,allpage,20,type)
                        allpage += 1;
                    }else{

                    }
                }
            }else if (type == 1){
                if (c==a){
                    var limit1 = postpage*20;
                    if (limit1<postcount){
                        c = 2;
                        havepost(2,noteorder,postpage,20,type)
                        postpage += 1;
                    }else{

                    }
                }
            }else if (type == 2){

                if (c==a){

                    var limit1 = questionpage*20;

                    if (limit1<questioncount){
                        c = 2;
                        havepost(2,noteorder,questionpage,20,type)
                        questionpage += 1;
                    }else{

                    }
                }
            }else if (type == 3){

                if (c==a){

                    var limit1 = resourcepage*20;

                    if (limit1<resourcecount){
                        c = 2;
                        havepost(2,noteorder,resourcepage,20,type)
                        resourcepage += 1;
                    }else{

                    }
                }
            }
        }
    })

    function havepost(type,order,limit1,limit2,seltype) {

        $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_haveuserpost')}",
            data:{
                name:$("#Selectionform").val(),
                order:order,
                limit1:limit1,
                limit2:limit2,
                uid:'{$userone["user_id"]}',
                type:seltype,

            },
            dataType:"json",
            async:false,
            success: function(list){

                if(list!=null&&list!=""){

                    if (list.str == 1){

                        var message = '';
                        for (var i = 0; i < list.msg.length; i++) {

                            message += '<tr><td>';
                            var url = '#';
                            if (list.msg[i].crowd_mid==2){
                                var url = '{:U("Index/Rnterst/postDetails")}&cid='+list.msg[i].note_cid+'&nid='+list.msg[i].note_id;
                            }else if (list.msg[i].crowd_mid==3){
                                var url = '{:U("Index/Academic/postDetails")}&cid='+list.msg[i].note_cid+'&nid='+list.msg[i].note_id;
                            }else if (list.msg[i].crowd_mid==4){
                                var url = '{:U("Index/Jobs/postDetails")}&cid='+list.msg[i].note_cid+'&nid='+list.msg[i].note_id;
                            }else if (list.msg[i].crowd_mid==5){
                                var url = '{:U("Index/Life/postDetails")}&cid='+list.msg[i].note_cid+'&nid='+list.msg[i].note_id;
                            }

                            message += '<a href="'+url+'" style="text-decoration: none;">';
                            message += '<span class="ImgBox">'
                            var src = '__PUBLIC__/Web/web/img/01_shouye/UserPic.png'
                            if (list.msg[i].user_icon&&list.msg[i].user_icon!=''&&list.msg[i].user_icon!=null){
                                src = 'Uploads/'+list.msg[i].user_icon;
                            }
                            message += '<img src="'+src+'">';
                            message += '</span></a></td><td class="NameBox">'
                            message += '<a href="'+url+'" style="text-decoration: none;">';
                            message += list.msg[i].note_name
                            message += '</a></td><td class="NameIcom">'
                            if(list.msg[i].note_istop==1){
                                message += '<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_top.png">'
                            }
                            if(list.msg[i].note_iswally==1){
                                message += '<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_jing.png">'
                            }
                            message += '</td><td class="text-right">'
                            message += '<p>'+list.msg[i].note_createtime+'</p>'
                            message += '<p>'
                            if (list.msg[i].note_type == 2){
                                message += '<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_xs.png">'+list.msg[i].note_reward
                            }
                            if (list.msg[i].note_type == 3){
                                message += '<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_download.png">'+list.msg[i].note_reward
                            }
                            message += '<img src="__PUBLIC__/Web/web/img/02_interest/interest_qxx_icon_pl.png">'+list.msg[i].note_comments+'</p>'
                            message += '</td></tr>'

                        }

                        if (type==1){
                            if (seltype==1){
                                c = 1;
                                notepage = 1;
                                notecount = list.count;
                                $("#postcontent").html(message);
                            }else if (seltype==2){
                                c = 1;
                                questionpage = 1;
                                questioncount = list.count;
                                $("#questioncontent").html(message);
                            }else if (seltype==3){
                                c = 1;
                                resourcepage = 1;
                                resourcecount = list.count;
                                $("#resourcecontent").html(message);
                            }

                        }else{
                            if (seltype==0){
                                c=1;
                                var allcontenthtml = $("#allcontent").html()+message
                                $("#allcontent").html(allcontenthtml);
                            }else if (seltype==1){
                                c=1;
                                var postcontenthtml = $("#postcontent").html()+message
                                $("#postcontent").html(postcontenthtml);
                            }else if (seltype==2){
                                c=1;
                                var questioncontenthtml = $("#questioncontent").html()+message
                                $("#questioncontent").html(questioncontenthtml);
                            }else if (seltype==3){
                                c=1;
                                var resourcecontenthtml = $("#resourcecontent").html()+message
                                $("#resourcecontent").html(resourcecontenthtml);
                            }

                        }
                    }else if (list.str == 2){
                        if (type==1){
                            if (seltype==0){
                                allpage = 1;
                                c=1;
                                allcount = list.count;
                                $("#allcontent").html('');
                            }else if (seltype==1){
                                postpage = 1;
                                c=1;
                                postcount = list.count;
                                $("#postcontent").html('');
                            }else if (seltype==2){
                                questionpage = 1;
                                c=1;
                                questioncount = list.count;
                                $("#questioncontent").html('');
                            }else if (seltype==3){
                                resourcepage = 1;
                                c=1;
                                resourcecount = list.count;
                                $("#resourcecontent").html('');
                            }


                        }else{
                            c=1;

                        }
                    }else{
                        layer.msg(list.msg,{
                                time:1500,
                                icon:2,
                            }
                        );

                    }
                }else{
                    layer.msg('请求错误!',{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){

                layer.msg('请求失败!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        })
    }





</script>
</body>

</html>