<!DOCTYPE html>
<html lang="en">
<head>
    <include file="./World/Index/View/Public/meta.html"/>
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/common.css">
</head>

<body>
    <div class="web">
        <!-- logo -->
        <header class="container">
            <include file="./World/Index/View/Public/head.html"/>
        </header>
        <hr>
        
        <!-- Crumbs nav -->
        <div class="container crumbs">
            <a href="{:U('Index/Index/index')}" class="crumbsa"><img src="__PUBLIC__/Web/web/img/common_dh_icon_home.png" alt=""></a>
            <cite class="Icon"></cite>
            <span class="crumbsTitle">{$title}</span>
        </div>
        <div class="container section">
            <div class="ResumeTemplateList_content">
                <foreach name="templates" item="t">
                    <div class="ResumeTemplateList_item">
                        <div class="ResumeTemplateList_item_title">
                            {$t['resume_module_name']}
                        </div>
                        <div class="ResumeTemplateList_item_time">
                            <span class="timer_title">Time:</span>
                            <span>{$t['resume_module_createtime']}</span>
                        </div>
                        <div class="ResumeTemplateList_item_btn">
                            <a href="/Uploads/{$t['resume_module_url']}">
                                Download
                            </a>
                        </div>
                    </div>
                </foreach>
            </div>
        
            <div class="container" id="NumberOfPagesContainer">
                {$page}
            </div>
        </div>
        <!-- footer -->
            <footer class="footer">
                <include file = "./World/Index/View/Public/footer.html"/>
            </footer>

    </div>

</body>
<script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
<script src="__PUBLIC__/Web/web/js/StickSonDetails.js"></script>
<script src="__PUBLIC__/Web/web/js/loginQuit.js"></script>
<script>

</script>
</html>