<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Virtual Currency Recharge</title>
                <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
                <link rel="stylesheet" href="../web/css/register.css">
                <link rel="stylesheet" href="../web/css/Donation.css">
                <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
                <link rel="stylesheet" href="../js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
                <link rel="stylesheet" href="../js/lib/layui/dist/css/layui.css">
                <link rel="stylesheet" href="../web/css/success_index.css">
                <link rel="stylesheet" href="../web/css/Crumbsnav.css">
                <link rel="stylesheet" href="../web/css/success_index.css">
                <link rel="stylesheet" href="../web/css/VCR.css">
            </head>
            <body>
                <!-- logo -->
                <header class="container">
                    <include file = "./World/Index/View/Public/head.html"/>
                    </header>
                    <hr>

                <!-- Crumbs nav -->
                <div class="container crumbs">
                    <a href="index.html" class="crumbsa"><img src="../web/img/common_dh_icon_home.png" alt=""></a>
                    <cite class="Icon"></cite>
                    <span class="crumbsTitle">Virtual Currency Recharge</span>
                </div>

                <!-- Forget the password form -->
    <form class="layui-form layui-form-pane" action="">
            <div class="PasswordContainer">
                <div class="StepContainer">
                    <div class="StepContainerOne">
                        <div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing">
                                <span class="mailbox-icon8"></span>
                            </label>
                            <div class="layui-input-block input-spacing">
                                <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Input verification code" class="layui-input">
                            </div>
                        </div>
                        <div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing">
                                <span class="mailbox-icon9"></span>
                            </label>
                            <div class="layui-input-block input-spacing">
                                <div class="layui-input-block">
                                <select name="city" lay-verify="required">
                                    <option value="">Select Payment Method</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="FormContainer" pane>
                            <label class="layui-form-label label-spacing">
                                <span class="mailbox-icon4"></span>
                            </label>
                            <div class="layui-input-block input-spacing code_password">
                                <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="Input verification code" class="layui-input inputWidth">
                                <div class="code_img"><img src="../web/img/01_shouye/VerificationCode.png" alt="" id="img"></div>
                                <span class="code_change">Can not see,schange one!</span>
                            </div>
                        </div>
                        <div class="FormContainer from-but">
                            <button class="layui-btn layui-btn-normal layui-btn-radius Submit-but" lay-submit="" lay-filter="">
                                    Confirm Payment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

                <!-- foot start 底部信息 -->
    <footer class="container-fluid FooterBg">
            <div class="row FooterContainer">
                <div class="col-xs-6 col-md-4">
                    <dl>
                        <dt>ABOUT</dt>
                        <dd>
                            NewWorld.net is a comprehensive website that provides an efficient source of resources and convenience for our every -day lives. We can easily discover, share and create a new world.
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-6 col-md-4">
                    <dl>
                        <dt>SUPPORT</dt>
                        <dd>Premium Support</dd>
                        <dd>Get Started</dd>
                        <dd>Partners</dd>
                    </dl>
                </div>
                <div class="col-xs-6 col-md-4">
                    <dl>
                        <dt>Help Center</dt>
                        <dd><a href="HelpCenter.html">Help Center</a></dd>
                        <dd><a href="ContactUs.html">Contact Us</a></dd>
                    </dl>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12">
                    <p class="text-center">&copy; 2018 NewWorld. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- foot end 底部信息 -->


            </body>
            <script src="../js/lib/jquery/dist/jquery.min.js"></script>
            <script src="../js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../js/lib/layui/dist/layui.all.js"></script>
            <script src="../web/js/StickSonDetails.js"></script>
            <script src="../web/js/loginQuit.js"></script>
            <script>
                    //Demo
                    layui.use('form', function(){
                      var form = layui.form;
                      
                      //监听提交
                      form.on('submit(formDemo)', function(data){
                        layer.msg(JSON.stringify(data.field));
                        return false;
                      });
                    });
                    </script>
            <!-- <script>
            $(".code_password .code_change").on("click",function(){
                $("#img").attr("src","new_src")
            })
            </script> -->
            
</html>