<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration information</title>
    <meta name="viewport" content="width=device-width, initial-scale=0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/Web/web/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Web/js/lib/layui/dist/css/layui.css">
</head>

<body>
    <!-- logo -->
    <header class="container"></header>
    <hr>
    <!-- Crumbs nav -->
    <div class="container Crumbs">
        <span>
          <a href="{:U('Index/Index/index')}"></a>
          <cite></cite>
          <span>Sign up</span>
        </span>

    </div>
    <!-- Forget the password form -->
    <form class="layui-form layui-form-pane" action="" >
        <div class="PasswordContainer">
            <div class="StepContainer">
                <div class="StepContainerOne">
                    <h4 class="text-center">Mobile authentication registration</h4>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="mailbox-icon1"></span>
                        </label>
                        <div class="layui-input-block input-spacing">
                            <input type="email" name="email" lay-verify="required" autocomplete="off" <if condition='$register_mail'>value="{$register_mail}"</if> placeholder="Enter the mailbox" class="layui-input input-float" id="mail">
                            <input class="layui-btn layui-btn-normal" type="button" name="CodeButton" value="Verification Code" onclick="sendemail()">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="mailbox-icon2"></span>
                        </label>
                        <div class="layui-input-block input-spacing">
                            <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="Input verification code" class="layui-input" id="code">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="mailbox-icon3"></span>
                        </label>
                        <div class="layui-input-block input-spacing">
                            <input type="password" name="password" lay-verify="required" autocomplete="off" <if condition='$register_password'>value="{$register_password}"</if> placeholder="Input verification code" class="layui-input" id="passwordone">
                        </div>
                    </div>
                    <div class="FormContainer" pane>
                        <label class="layui-form-label label-spacing">
                            <span class="mailbox-icon4"></span>
                        </label>
                        <div class="layui-input-block input-spacing">
                            <input type="password" name="password" lay-verify="required" autocomplete="off" <if condition='$register_password'>value="{$register_password}"</if> placeholder="Input verification code" class="layui-input" id="passwordtwo">
                        </div>
                    </div>
                    <div class="FormContainer from-but">
                        <button class="layui-btn layui-btn-normal layui-btn-radius Submit-but" lay-submit="demo1" lay-filter="demo1">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="__PUBLIC__/Web/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Web/js/lib/layui/dist/layui.all.js"></script>
</body>
<script type="text/javascript">


layui.use('form', function(){
  var form = layui.form;
  
  form.on('submit(demo1)', function(data){
      $.ajax({
            type:"post",
            url:"{:U('Index/Ajax/ajax_registerfirst')}",
            data:{
                mail:$("#mail").val(),
                code:$("#code").val(),
                passwordone:$("#passwordone").val(),
                passwordtwo:$("#passwordtwo").val(),
            },
            dataType:"json",
            async:false,
            success: function(data){
                if (data!=null&&data!="") {
                    if (data.str == 1) {

                        window.location.href="{:U('Index/SignUp/registerSecond')}";
                    }else{
                        layer.msg(data.msg,{
                            time:1500,
                            icon:2,
                            }
                        );
                    }
                    
                }else{
                    layer.msg('请求错误!',{
                        time:1500,
                        icon:2,
                        }
                    );
                }
                
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
              
                layer.msg('请求失败!',{
                    time:1500,
                    icon:2,
                    }
                );
            }

        })
      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
});
    
function sendemail() {
    $.ajax({
        type:"post",
        url:"{:U('Index/Ajax/ajax_sendemailcode')}",
        data:{
            mail:$("#mail").val(),
        },
        dataType:"json",
        async:false,
        success: function(data){
            if (data!=null&&data!="") {
                if (data.str == 1) {
                    layer.msg(data.msg,{
                            time:1500,
                            icon:1,
                        }
                    );
                }else{
                    layer.msg(data.msg,{
                            time:1500,
                            icon:2,
                        }
                    );
                }

            }else{
                layer.msg('请求错误!',{
                        time:1500,
                        icon:2,
                    }
                );
            }

        },
        error:function(XMLHttpRequest, textStatus, errorThrown){

            layer.msg('请求失败!',{
                    time:1500,
                    icon:2,
                }
            );
        }

    })

}

</script>


</html>